@using Davisoft_BDSProject.Domain.Entities
@using Resources
@model Currency

@{
    ViewBag.Title = Resource.EditCurrency;
}

@using (Html.BeginForm())
{
    <section class="panel panel-default">
        <h3 class="tilte_l">
            @ViewBag.Title
        </h3>
        <div class="panel-body">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.ID)
                @Html.Partial("_CreateOrEdit", Model)

                @using (Html.Bootstrap().Begin(new FormActions()))
                {
                    <div class="form-group">
                        <label class="col-sm-3"></label>
                        <label class="col-sm-9">
                            @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon(Icons.arrow_left)
                            @Html.Bootstrap().SubmitButton().Id("submitbutton").Text(Resource.Save).PrependIcon(Icons.ok, true).Style(ButtonStyle.Success)
                        </label>
                    </div>
                }
            </div>
        </div>
    </section>
}

@Html.Script(
    @<script>
        $("#submitbutton").on('click', function (e) {
            e.preventDefault();
            bootbox.confirm("@Resource.ConfirmSave", function (isOK) {
                if (isOK) {
                    $('#submitbutton').parents("form").submit();
                }
            });
        });
    </script>)
