@using System.Configuration
@using WebBDS_Project.Models
@model IEnumerable<BDSPerNew>
@{
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();
    var States = (from a in db.States
                  join b in db.StateTexts on a.state_id equals b.id
                  where b.language_id == "vi" && a.Status == 1 && a.state_id != 59 && a.state_id != 28
                  select new { Id = a.state_id, Name = b.text }).ToList();

    States.Insert(0, new { Id = 59, Name = "TP.Hồ Chí Minh" });
    States.Insert(1, new { Id = 28, Name = "TP.Hà Nội" });
    var currentPage = (Request["page"] == null ? 1 : int.Parse(Request["page"].ToString()));
    var p = Math.Ceiling((double)ViewBag.Total / (Request["view"] == null ? 1 : int.Parse(Request["view"].ToString())));
    BDSEmployerInformation em = null;
    if (Session["IdUser"] != null)
    {
        int idAc = (int) Session["IdUser"];
        em = db.BDSEmployerInformations.FirstOrDefault(T => T.Active == 1 && T.IdAccount == idAc);
    }

}
<ul class="list_work">

      
        @foreach (var news in Model)
        {
            var per = db.BDSPersonalInformations.FirstOrDefault(T => T.ID == news.PerId);
            var account = db.BDSAccounts.FirstOrDefault(T => T.ID == per.IdAccount);
            var carrer = db.BDSCareers.FirstOrDefault(T => T.ID == news.CareerProfile);
            var education = db.BDSEducations.FirstOrDefault(T => T.ID == news.EducationProfile);
            var salary = db.BDSSalaries.FirstOrDefault(T => T.ID == news.SalaryProfile);
               <li style="margin-bottom: 0">

                        <div class="grid_12">


                            <h2><a href="#">@carrer.Name <span>@per.Name</span></a></h2>
                            <p class="grid_6"><i class="fa fa-map-marker"></i>Đại chỉ:@per.FullAddress</p>
                            <p class="grid_6 omega time"><i class="fa fa-mortar-board" aria-hidden="true"></i> Học vấn: <span class="color2">@education.Name</span> </p>



                            <div>
                                <p class="grid_6"><i class="fa fa-usd"></i>Lương: @salary.Name@*Từ <span>5 - 10</span> triêu*@ </p>
                                <p class="grid_6 omega time"><i class="fa fa-clock-o"></i> Ngày cập nhật: @per.CreateDate.Value.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div>
                                @per.Description
                            </div>
                            <div>
                                <div class="grid_4"></div>
                                <div class="grid_8 omega time" style="text-align: right">
                                    @if (Session["IdUser"] == null || em==null)
                                    {
                                        @Html.Raw("<a href='' style='cursor: pointer;' onclick=\"saveDocument(" + per.ID + ")\"><i class=\"perIcon fa fa-user-plus\" aria-hidden=\"true\" >Lưu hồ sơ </i></a>");
                                    }
                                    else
                                    {
                                        if (db.BDSEmpers.Any(T => T.Active == 1 && T.IdAccountEm ==em.ID))
                                        {
                                            @Html.Raw("<a href='' ><i class=\"perIcon fa fa-user-plus\" aria-hidden=\"true\" >Hồ sơ đã lưu</i></a>");
                                        }
                                        else
                                        {
                                            @Html.Raw("<a href='' style='cursor: pointer;' onclick=\"saveDocument(" + per.ID + ")\" ><i class=\"perIcon fa fa-user-plus\" aria-hidden=\"true\" >Lưu hồ sơ </i></a>");
                                        }
                                    }
                                  
                                    
                                    @*<i class="fa fa-search-plus" aria-hidden="true"></i>Tìm hồ sơ tương tự*@@*<i class="fa fa-remove" aria-hidden="true"></i> Ẩn hồ sơ *@
                                </div>

                            </div>
                        </div>
                    </li>
                    
        }
    


    <li class="page">
        <div class="page_links">
            <span>Trang</span>
            @if ((int)ViewBag.Total > 0)
            {
                 if (currentPage != 1)
                {
                    <a class="nextPage" onclick="prevPage()">Trước</a>
                }

                 if (currentPage - 3 > 2)
                 {
                    <a data-ref='' onclick="goPage(1);" style="cursor: pointer">1</a>
                   <a data-ref='' style="cursor: pointer">....</a>
                 }
                 for (int i = currentPage - 3 > 2 ? currentPage - 3 : 1; i <= ((int)p - currentPage > 3 ? currentPage + 3 : (int)p); i++)
                 {
                    <a data-ref='' style="cursor: pointer" onclick="goPage(@p)" @(currentPage == i ? " class=active" : "")>@i</a>
                 }
                 if ((int)p - currentPage > 3)
                 {
                    <a data-ref='' style="cursor: pointer">....</a>
    <a data-ref='' onclick="goPage(@p)" style="cursor: pointer">@p</a>
                }
            }
            @if (currentPage != (int) p)
            {
                <a class="nextPage" onclick="nextPage()">Tiếp</a>
            }
            
        </div>
        
    </li>
</ul>
<style>
    a.active {
        cursor: auto;
    }
    .perIcon:before {
        padding-right: 5px;
    }
</style>
<script>
    function nextPage() {
        $('#page').val(parseInt( $('#page').val()) + 1);
        reloadPage();
    }
    function prevPage() {
        $('#page').val(parseInt($('#page').val()) - 1);
        reloadPage();
    }
    function goPage(page) {
        $('#page').val(page);
        reloadPage();
    }
    function saveDocument(id) {
        var url = '@Url.Action("SaveYourArchive","Management")?id='+id;
        $.post(url,function(data) {
            alert(data.Message);
        });
        return false;
    }
</script>