@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();

    var States = (from a in db.States
                  join b in db.StateTexts on a.state_id equals b.id
                  where b.language_id == "vi" && a.Status == 1 && a.state_id != 59 && a.state_id != 28
                  select new { Id = a.state_id, Name = b.text }).ToList();

    States.Insert(0, new { Id = 59, Name = "TP.Hồ Chí Minh" });
    States.Insert(1, new { Id = 28, Name = "TP.Hà Nội" });
}
@using System.Configuration
@using WebBDS_Project.Models
@model WebBDS_Project.Models.NewsModel
@section share_fb{

    <meta property="og:title" content="@Model.tblBDSEmployerInformation.Name" />

    <title>@Model.tblBDSEmployerInformation.Name</title>
    <meta property="og:url" content='@ConfigurationManager.AppSettings["UrlImage"]@Model.tblBDSEmployerInformation.UrlImage.ToString().Split('_')[0]/@Model.tblBDSEmployerInformation.UrlImage' />
    <meta name="description" content="@Model.tblBDSEmployerInformation.Description">
    <meta property="og:description" content="@Model.tblBDSEmployerInformation.Description" />
    <meta name="keywords" content="tuyển dụng ,công việc,cong viec,việc làm,viec lam,bất động sản,bat dong san" />

    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />


}
<div class="container">
    <div class="grid_9 main_left">
        @Html.Partial("_searchPannel")

        <div class="grid_12 title_detail">
            <div class="logo_detail">
                <img height="100%" alt="@Model.tblBDSEmployerInformation.Name" src="@ConfigurationManager.AppSettings["UrlImage"]@Model.tblBDSEmployerInformation.UrlImage.ToString().Split('_')[0]/@Model.tblBDSEmployerInformation.UrlImage" />
            </div>
            <div class="name_detail">
                <h2>@Model.tblBDSEmployerInformation.Name</h2>

                <p>
                    <i class="fa fa-map-marker"></i>Địa chỉ: @(Model.tblBDSEmployerInformation.Address + "," + States.FirstOrDefault(x => x.Id == Model.tblBDSEmployerInformation.City).Name )
                </p>
                <p>
                    <i class="fa fa-user"></i>Qui mô: @(Model.tblBDSEmployerInformation.Scope +" Người" )
                </p>
                <p>
                    <i class="fa fa-user"></i>Điện thoại: @(Model.tblBDSEmployerInformation.Phone )
                </p>
                <p>
                    <i class="fa fa-user"></i>Email: @(Model.tblBDSEmployerInformation.EmailContact )
                </p>
            </div>

        </div>
        <div class="row">

            <div class="grid_12 table_info">
                <h3>Giới thiệu công ty</h3>
                <p>@Model.tblBDSEmployerInformation.Description</p>
            </div>
        </div>
            </div>
            <div class="grid_3 omega main_right" id="sideRightPushy">
                <div class="banner_right">

                    @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight1"))
            {
                if (item.Type == 1)
                {
            <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else if (item.Type == 3)
                {
            @Html.Raw(item.Banner)
                }
                else
                {
            <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
                    @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight2"))
            {
                if (item.Type == 1)
                {
            <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" style="margin: 0" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else if (item.Type == 3)
                {
            @Html.Raw(item.Banner)
                }
                else
                {
            <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
                </div>
                @Html.Partial("_partialCareers")
                @Html.Partial("_partialCompany")
                @Html.Partial("_partialShareExpirence")
                @Html.Partial("_partialComment")
                @Html.Partial("_partialNews")
                <div class="banner_right">
                    @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight1"))
            {
                if (item.Type == 1)
                {
            <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else if (item.Type == 3)
                {
            @Html.Raw(item.Banner)
                }
                else
                {
            <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
                    @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight2"))
            {
                if (item.Type == 1)
                {
            <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else if (item.Type == 3)
                {
            @Html.Raw(item.Banner)
                }
                else
                {
            <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
                </div>
            </div>




        </div>




