@{
    ViewBag.Title = "DetailNews";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();
    var qyeryDate = (from dtPost in db.BDSExtNews
                     where dtPost.Active==1 
                     select dtPost).ToList();
    var dataMiniPost = qyeryDate.OrderByDescending(x => Guid.NewGuid()).Take(5);

}

@using System.Activities.Statements
@using System.Configuration
@using WebBDS_Project.Models
@model WebBDS_Project.Models.BDSExtNew
@section share_fb{



    <meta name="keywords" content="tuyennhanvienbatdongsan" />
    <meta name="title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta itemprop="name" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta property="og:title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta name="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta itemprop="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta id="meta-tag-description" property="og:description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />


}
<div class="container">
    <div class="grid_9 main_left">
        <div class="group_work">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>@(Model.CatExtNews == 1 ? "Tin tức bất động sản" : Model.CatExtNews ==2 ? "Chia sẻ kinh nghiệm" : "" )</span></h3>
            </div>
            <form class="form-horizontal " data-validate="parsley" action="#">
                <div class="row">
                    <b style="font-size: 25px">@Model.Name</b>
                </div>
                <div class="row">

                    <b> @Html.Raw(Model.ShortDescription)</b>
                </div>
                <div class="row">

                    <img width="100%" src="@ConfigurationManager.AppSettings["UrlImage"]@Model.UrlImage.ToString().Split('_')[0]/@Model.UrlImage">
                </div>
                <div class="row">

                    @Html.Raw(Model.Description)

                </div>
            </form>
        </div>
        <div class="group_work">
            <div class="header_text">
                <h3>Xem thêm</h3>
            </div>
            <ul class="last_list">
                @foreach (var item in dataMiniPost.Where(x=>x.ID != Model.ID))
                {
                    <li class="none-boder-li">
                        <a href="@Url.Action("DetailNews","Default",new { id=item.Name.UrlFrendly()+"-"+item.ID})">@item.Name</a>

                    </li>
                }

            </ul>

            <style>
                a.active {
                    cursor: auto;
                }
                .none-boder-li {
                    border: 0px solid #dfdfdf !important;
                line-height: 7px!important;
                padding: 10px 0px!important;
                }
                .none-boder-li a:before {
                    font-size: 5px;
                    font-family: 'inherit' !important;
                    color: #319c00;
                    content: '\f0c8 ';
                    margin-right: 6px;
                    position: relative;
                    top: -2px;
                }
            </style>
        </div>
    </div>
    <div class="grid_3 omega main_right" id="sideRightPushy">
        @Html.Partial("_partialCompany")
        @Html.Partial("_partialShareExpirence")
        @Html.Partial("_partialComment")
        @Html.Partial("_partialNews")


    </div>

</div>
