@using WebBDS_Project.Models
@using System.Configuration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();

    var States = (from a in db.States
                  join b in db.StateTexts on a.state_id equals b.id
                  where b.language_id == "vi" && a.Status == 1 && a.state_id != 59 && a.state_id != 28
                  select new { Id = a.state_id, Name = b.text }).ToList();

    States.Insert(0, new { Id = 59, Name = "TP.Hồ Chí Minh" });
    States.Insert(1, new { Id = 28, Name = "TP.Hà Nội" });
}

<div class="container">
    <div class="grid_9 main_left" style="margin-top: -3px">


        @Html.Partial("_searchPannel")




        <div class="group_work">
            <h4><i class="fa fa-users"></i>Các công việc về bất động sản thường tìm kiếm</h4>
            <ul class="name_group">
                @{
                    foreach (var item in db.BDSCareers.Where(T => T.Active == 1).ToList())
                    {
                        <li><a href="@Url.Action("Search", "Default", new { filterCareer = item.ID })">@item.Name</a></li>
                    }
                }
            </ul>
        </div>

        <div class="group_work" style="position: relative">

            <div class="loading_icon" style="position: absolute; z-index: 11;left: 50%;top: 50%;display: none">
                <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-reload"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="rotate(11.9999 50 50)"><path d="M50 15A35 35 0 1 0 74.787 25.213" fill="none" stroke="#de3039" stroke-width="12px"></path><path d="M50 0L50 30L66 15L50 0" fill="#de3039"></path><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="1s" repeatCount="indefinite"></animateTransform></g></svg>
            </div>
            <div class="loading" style="left: 0px; top: 0px;right:0px;bottom:0px;position:absolute;background-color: gray;opacity: 0.5;z-index: 10;display: none"></div>

            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Việc làm Bất Động Sản hấp dẫn</span></h3>
                <div class="search_location">
                    Tìm theo khu vực
                    <select class="select2"   onchange="loadFilterPageFrom(this)" tabindex="7">
                        <option value="">Toàn Quốc</option>
                        @{
                            foreach (var item in States)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }


                    </select>
                    @*<select class="dropdown" tabindex="7" onchange="loadFilterPageFrom(this)">
                        <option value="">Toàn quốc</option>
                        @{
                            foreach (var itemCity in States)
                            {
                                <option value="@itemCity.Id">@itemCity.Name</option>
                            }
                        }
                    </select>*@
                </div>
            </div>
            @Html.Action("TinDacBiet", new { tt = "", from = 0, view = 12, page = 1 })
        </div>







        <div class="group_work" style="position: relative">

            <div class="loading_icon" style="position: absolute; z-index: 11;left: 50%;top: 50%;display: none">
                <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-reload"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="rotate(11.9999 50 50)"><path d="M50 15A35 35 0 1 0 74.787 25.213" fill="none" stroke="#de3039" stroke-width="12px"></path><path d="M50 0L50 30L66 15L50 0" fill="#de3039"></path><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="1s" repeatCount="indefinite"></animateTransform></g></svg>
            </div>
            <div class="loading" style="left: 0px; top: 0px;right:0px;bottom:0px;position:absolute;background-color: gray;opacity: 0.5;z-index: 10;display: none"></div>

            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Nhà tuyển dụng tiêu biểu</span></h3>
                <div class="search_location">
                    Tìm theo khu vực
                    <select class="select2" onchange="loadFilterPageFrom(this)" tabindex="7">
                        <option value="">Toàn Quốc</option>
                        @{
                            foreach (var item in States)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }


                    </select>
                    @*<select class="dropdown" tabindex="7" onchange="loadNBFilterPageFrom(this)">
                        <option value="">Toàn quốc</option>
                        @{
                            foreach (var itemCity in States)
                            {
                                <option value="@itemCity.Id">@itemCity.Name</option>
                            }
                        }
                    </select>*@

                </div>
            </div>
            @Html.Action("TinNoiBat", new { tt = "", from = 0, view = 6, page = 1 })
        </div>





        <div class="group_work" style="position: relative">

            <div class="loading_icon" style="position: absolute; z-index: 11;left: 50%;top: 50%;display: none">
                <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-reload"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="rotate(11.9999 50 50)"><path d="M50 15A35 35 0 1 0 74.787 25.213" fill="none" stroke="#de3039" stroke-width="12px"></path><path d="M50 0L50 30L66 15L50 0" fill="#de3039"></path><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="1s" repeatCount="indefinite"></animateTransform></g></svg>
            </div>
            <div class="loading" style="left: 0px; top: 0px;right:0px;bottom:0px;position:absolute;background-color: gray;opacity: 0.5;z-index: 10;display: none"></div>

            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Việc làm bất động sản mới</span></h3>
                <div class="search_location">
                    Tìm theo khu vực
                    @*<select onchange="loadMNFilterPageFrom(this);" class="dropdown" tabindex="7">

                        <option value="">Toàn quốc</option>
                        @{
                            foreach (var itemCity in States)
                            {
                                <option value="@itemCity.Id">@itemCity.Name</option>
                            }
                        }
                    </select>*@
                    <select class="select2" onchange="loadFilterPageFrom(this)" tabindex="7">
                        <option value="">Toàn Quốc</option>
                        @{
                            foreach (var item in States)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }


                    </select>
                </div>
            </div>


            @Html.Action("TinMoiNhat", new { tt = "", from = 0, view = 5, page = 1 })
        </div>
        <div class="group_work mg0" style="position: relative">

            <div class="loading_icon" style="position: absolute; z-index: 11;left: 50%;top: 50%;display: none">
                <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-reload"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="rotate(11.9999 50 50)"><path d="M50 15A35 35 0 1 0 74.787 25.213" fill="none" stroke="#de3039" stroke-width="12px"></path><path d="M50 0L50 30L66 15L50 0" fill="#de3039"></path><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="1s" repeatCount="indefinite"></animateTransform></g></svg>
            </div>
            <div class="loading" style="left: 0px; top: 0px;right:0px;bottom:0px;position:absolute;background-color: gray;opacity: 0.5;z-index: 10;display: none"></div>

            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Kênh nhà tuyển dụng</span></h3>
                <div class="search_location">
                    Tìm theo khu vực
                    @*<select class="dropdown" onchange="loadNTDFilterPageFrom(this);" tabindex="7">
                        <option value="">Toàn quốc</option>
                        @{
                            foreach (var itemCity in States)
                            {
                                <option value="@itemCity.Id">@itemCity.Name</option>
                            }
                        }
                    </select>*@
                    <select class="select2" onchange="loadFilterPageFrom(this)" tabindex="7">
                        <option value="">Toàn Quốc</option>
                        @{
                            foreach (var item in States)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }


                    </select>
                </div>
            </div>
            @Html.Action("TinNhaTuyenDung", new { tt = "", from = 0, view = 6, page = 1 })


        </div>
        <div class="banner_bottom">
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentCenter"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }

        </div>
    </div>
    <div class="grid_3 omega main_right" id="sideRightPushy">
        <div class="banner_right">
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight1"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight2"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" style="margin: 0" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
        </div>
        @Html.Partial("_partialCareers")
        @Html.Partial("_partialCompany")
        @Html.Partial("_partialShareExpirence")
        @Html.Partial("_partialComment")
        @Html.Partial("_partialNews")
        <div class="banner_right">
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight1"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight2"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
        </div>
    </div>
</div>