@using WebBDS_Project.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();
   
    var states = (from a in db.states join b in db.statetexts on a.state_id equals b.id where b.language_id == "vi" && a.Status == 1 select new {Id=a.state_id,Name=b.text}).ToList();
}

 <div class="container">
                    <div class="grid_9 main_left">
                        <ul class="idTabs">
                            <li>
                                <a href="#tab1">
                                    <img src="~/Template/images/icon_1.png" alt="icon">
                                    <figcaption>Dành cho người tìm việc</figcaption>
                                </a>
                            </li>
                            <li>
                                <a href="#tab2">
                                    <img src="~/Template/images/icon_2.png" alt="icon">
                                    <figcaption>Dành cho nhà tuyển dụng</figcaption>
                                </a>
                            </li>
                        </ul>
                        <div class="content_tab">
                            <div id="tab1">
                                <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản</h4>
                                <div class="box_select">
                                    <fieldset>
                                        <div class="grid_3">
                                            <select class="dropdown" tabindex="7">
                                                <option value="">Chọn tỉnh thành</option>
                                                @{
                                                    foreach (var item in states)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                                
                                            
                                            </select>
                                        </div>
                                        <div class="grid_3">
                                            <select class="dropdown" tabindex="7">
                                                <option value="">Chọn ngành nghề</option>
                                                @{
                                                    foreach (var item in db.bdscareers.Where(T => T.Active == 1).ToList())
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="grid_3">
                                            <select class="dropdown" tabindex="7">
                                                <option value="">Chọn mức lương</option>
                                                @{
                                                    foreach (var item in db.bdssalaries.Where(T => T.Active == 1).ToList())
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="grid_3 omega">
                                            <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div id="tab2">
                                <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản abc</h4>
                                <div class="box_select">
                                    <fieldset>
                                        <div class="grid_3">
                                            <select class="dropdown" tabindex="7">
                                                <option value="">Chọn tỉnh thành</option>
                                                @{
                                                    foreach (var item in states)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="grid_3">
                                            <select class="dropdown" tabindex="7">
                                                <option value="">Chọn ngành nghề</option>
                                                @{
                                                    foreach (var item in db.bdscareers.Where(T => T.Active == 1).ToList())
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="grid_3">
                                            <select class="dropdown" tabindex="7">
                                                <option value="">Chọn mức lương</option>
                                                @{
                                                    foreach (var item in db.bdssalaries.Where(T => T.Active == 1).ToList())
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="grid_3 omega">
                                            <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="group_work">
                            <h4><i class="fa fa-users"></i>Các công việc về bất động sản thường tìm kiếm</h4>
                            <ul class="name_group">
                                @{
                                    foreach (var item in db.bdscareers.Where(T => T.Active == 1).ToList())
                                    {
                                        <li><a href="@Url.Action("Detail", "Default", new {id = 1})">@item.Name</a></li>
                                    }
                                }
                            </ul>
                        </div>
                     
                        <div class="group_work">
                            <div class="header_text">
                                <h3><span><i class="fa fa-list-ul"></i>Việc làm Bất Động Sản hấp dẫn</span></h3>
                                <div class="search_location">
                                    Tìm theo khu vực
                                    <select class="dropdown" tabindex="7" onchange="loadFilterPageFrom(this)">
                                        <option value="">Toàn quốc</option>
                                        @{
                                            foreach (var itemCity in states)
                                            {
                                                <option value="@itemCity.Id">@itemCity.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                           @Html.Action("TinDacBiet", new { tt="", from=0,view=12,page=1})
                        </div>






                       
                        <div class="group_work">
                            <div class="header_text">
                                <h3><span><i class="fa fa-list-ul"></i>Nhà tuyển dụng tiêu biểu</span></h3>
                                <div class="search_location">
                                    Tìm theo khu vực 

                                    <select class="dropdown" tabindex="7" onchange="loadNBFilterPageFrom(this)">
                                        <option value="">Toàn quốc</option>
                                        @{
                                            foreach (var itemCity in states)
                                            {
                                                <option value="@itemCity.Id">@itemCity.Name</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                            @Html.Action("TinNoiBat", new { tt = "", from = 0, view = 6, page = 1 })
                        </div>
                        
                        
                        
                        
                        
                        <div class="group_work">
                            <div class="header_text">
                                <h3><span><i class="fa fa-list-ul"></i>Việc làm bất động sản mới</span></h3>
                                <div class="search_location">
                                    Tìm theo khu vực 
                                    <select onchange="loadMNFilterPageFrom(this);" class="dropdown" tabindex="7">

                                        <option value="">Toàn quốc</option>
                                        @{
                                            foreach (var itemCity in states)
                                            {
                                                <option value="@itemCity.Id">@itemCity.Name</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                           
                            
                            @Html.Action("TinMoiNhat", new { tt = "", from = 0, view = 5, page = 1 })
                        </div>
                        <div class="group_work mg0">
                            <div class="header_text">
                                <h3><span><i class="fa fa-list-ul"></i>Kênh nhà tuyển dụng</span></h3>
                                <div class="search_location">
                                    Tìm theo khu vực 
                                             <select class="dropdown" tabindex="7">
                                                 <option value="1">Toàn quốc</option>
                                                 <option value="2">Option 2</option>
                                                 <option value="3">Option 3</option>
                                                 <option value="4">Option 4</option>
                                                 <option value="5">Option 5</option>
                                             </select>
                                </div>
                            </div>
                            <ul class="last_list">
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">Xử nhóm đàn em Năm Cam truy sát người tại bệnh viện</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">Xử nhóm đàn em Năm Cam truy sát người tại bệnh viện</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">Xử nhóm đàn em Năm Cam truy sát người tại bệnh viện</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">Những lợi thế của BĐS Việt trong mắt chuyên gia nước ngoài </a>
                                </li>
                                <li class="page">
                                    <div class="page_links">
                                        <span>Trang</span>
                                        <a href="@Url.Action("Detail","Default",new { id=1})" class="active">1</a>
                                        <a href="@Url.Action("Detail","Default",new { id=1})">2</a>
                                        <a href="@Url.Action("Detail","Default",new { id=1})">3</a>
                                        <a href="@Url.Action("Detail","Default",new { id=1})">4</a>
                                        <a href="@Url.Action("Detail","Default",new { id=1})">5</a>
                                        <a href="@Url.Action("Detail","Default",new { id=1})">Tiếp</a>
                                    </div>
                                    <div class="more">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="@Url.Action("Detail","Default",new { id=1})">Xem thêm</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="banner_bottom">
                            <img src="~/Template/images/banner.jpg" alt="logo"></div>
                    </div>
                    <div class="grid_3 omega main_right">
                        <div class="banner_right">
                            <img src="~/Template/images/banner2.jpg" alt="banner">
                            <img src="~/Template/images/banner2.jpg" alt="banner" style="margin: 0">
                        </div>
                        <div class="right_col">
                            <h3>Việc làm bất động sản</h3>
                            <ul class="last_list_right">
                                
                                
                                @{
                                    foreach (var item in db.bdscareers.Where(T => T.Active == 1).ToList())
                                    {
                                           <li>
                                        <a href="@Url.Action("Detail","Default",new { id=1})">@item.Name</a>
                                        </li>
                                    }
                                }
                                

                               
                            </ul>
                        </div>
                        <div class="right_col">
                            <h3>Công ty nổi bật</h3>
                            <ul class="last_list_right">
                              
                                @{
                                    foreach (var item in db.bdsemployerinformations.Where(T => T.Active == 1 && T.Featured==1).ToList())
                                    {
                                        <li>
                                            <a href="@Url.Action("Detail","Default",new { id=1})">@item.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="right_col">
                            <h3>Chia sẽ kinh nghiệm</h3>
                            <ul class="list_news">
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Lo ngại tình trạng mua bán tùm lum chỗ để ô tô trong chung cư</a></figcaption>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Loại bỏ các cao ốc ‘phá nát biển Nha Trang’</a></figcaption>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Tiền đổ vào bất động sản chưa bao giờ giảm</a></figcaption>
                                </li>
                            </ul>
                        </div>
                        <div class="comment">
                            <h3><i class="fa fa-comments"></i>Nhận xét khách hàng</h3>
                            <div class="comment_box">
                                <p>Tôi rất thoải mái cách làm việc của các bạn, tôi chúc các bạn thành công hơn nữa</p>
                            </div>
                            <div class="name_comment">
                                <p><span>Anh Tú</span> Cty một thành viên</p>
                            </div>
                        </div>
                        <div class="right_col">
                            <h3>Tin bất động sản</h3>
                            <ul class="list_news">
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Lo ngại tình trạng mua bán tùm lum chỗ để ô tô trong chung cư</a></figcaption>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Loại bỏ các cao ốc ‘phá nát biển Nha Trang’</a></figcaption>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Tiền đổ vào bất động sản chưa bao giờ giảm</a></figcaption>
                                </li>
                            </ul>
                        </div>
                        <div class="banner_right">
                            <img src="~/Template/images/banner2.jpg" alt="banner">
                            <img src="~/Template/images/banner2.jpg" alt="banner">
                        </div>
                    </div>
                </div>