@{
    ViewBag.Title = "SearchForEmployee";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<div class="container">
    <div class="grid_9 main_left">
        


        <div class="group_work">
           
       
            <div class="cus-name-group result-info">
                <div class="grid_1 grid_1-9-5" style="line-height: 36px; padding: 0px; margin: 0px;"><b>Lọc Theo:</b></div>
                
                 
                    
                <a style="cursor: pointer" data-ref="2" onclick="removeFilter(this,2,'CR')" class="filter">Nhân viên pháp lý<span class="badge-filter"><img class="margin-bot-3" style=" padding-left: 5px; padding-right: 5px;" src="/Template/images/x.png" alt=""></span></a>
                   
                    
                    
            
            </div>
        
            
        </div>
        <div class="group_work">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Tìm kiếm ứng viên</span></h3>
                <ul class="list_work">
                    <li style="margin-bottom: 0">

                        <div class="grid_12">


                            <h2><a href="#">Nhân viên kinh doanh <span>Nguyễn Tấn Tú</span></a></h2>
                            <p class="grid_6"><i class="fa fa-map-marker"></i>Nơi làm việc:Hồ Chí Minh</p>
                            <p class="grid_6 omega time"><i class="fa fa-mortar-board" aria-hidden="true"></i> Học vấn: <span class="color2">Cao đẳng</span> </p>



                            <div>
                                <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                <p class="grid_6 omega time"><i class="fa fa-clock-o"></i> Ngày cập nhật: 12/12/1224</p>
                            </div>
                            <div>
                                THỊ TƯỜNG 16/03/[...]/83/188A Võ Duy Ninh, P.22 Q.Bình Thạnh, TP.HCM. VI [...] [...] Độc thân Mức lương mong muốn: [...] – [...] TRƯỞNG PHÒNG KINH DOANH & MARKETING KI
                            </div>
                            <div>
                                <p class="grid_4"></p>
                                <p class="grid_8 omega time"><i class="fa fa-user-plus" aria-hidden="true"></i>Lưu vào thư mục <i class="fa fa-search-plus" aria-hidden="true"></i>Tìm hồ sơ tương tự<i class="fa fa-remove" aria-hidden="true"></i> Ẩn hồ sơ </p>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    @* <link href="~/Template/css/bfFur.sass.css" rel="stylesheet" />
    <link href="~/Template/css/bfFur.css" rel="stylesheet" />
    <script src="~/Template/js/bfFur.js"></script>*@
    <div class="grid_3 omega main_right">
        <div class="banner_right">
            <img src="~/Template/images/banner2.jpg" alt="banner">
            <img src="~/Template/images/banner2.jpg" alt="banner" style="margin: 0">
        </div>
        @Html.Partial("_partialCareers")
        @Html.Partial("_partialCompany")
        @Html.Partial("_partialShareExpirence")
        @Html.Partial("_partialComment")
        @Html.Partial("_partialNews")
        <div class="banner_right">
            <img src="~/Template/images/banner2.jpg" alt="banner">
            <img src="~/Template/images/banner2.jpg" alt="banner">
        </div>
    </div>
</div>

