@using System.Configuration
@using System.Web.UI.WebControls
@using WebBDS_Project.Models
@{

    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();
    int from = ViewBag.from;
    int page = ViewBag.page;
    int view = ViewBag.view;
    int tt = ViewBag.tt == "" ? 0 : int.Parse(ViewBag.tt);
    int count = 0;
    var states = (from a in db.states join b in db.statetexts on a.state_id equals b.id where b.language_id == "vi" && a.Status == 1 select new { Id = a.state_id, Name = b.text }).ToList();
}
@{
    var typeVip = db.bdsnewstypes.FirstOrDefault(T => T.Active == 1 && T.CodeNewsType == "TFE");
}
<ul class="last_list">
    @{
        /* var query = from a in db.bdsnews join b in db.bdsemployerinformations on a.IdAcount equals b.IdAccount where a.Active == 1 && b.Active == 1 && a.Status == 1 && b.Featured == 1 && (tt == 0 || a.AddressWork == tt) select a;*/
        var query = db.bdsnews.Where(A => A.Active == 1 && A.Status == 1 && A.IdTypeNewsCuurent == typeVip.Id && (tt == 0 || A.AddressWork == tt));

        var ListNews = query.OrderByDescending(T => T.FromCreateNews).Skip(from).Take(view).ToList();
        count = query.Count();
        foreach (var news in ListNews)
        {
            var account = db.bdsemployerinformations.Where(T => T.IdAccount == news.IdAcount).FirstOrDefault();
            if (account != null)
            {
                 <li>
                     <a href="@Url.Action("Detail","Default",new { id=news.Title.UrlFrendly()+"-"+news.Id})">@news.Title</a>
                                </li>
            }

        }
    }

    <li class="page">
        <div class="page_links">
            <span>Trang</span>
            @if (count > 0)
            {
                var p = Math.Ceiling((double)count / view);
                for (int i = 1; i <= (int)p; i++)
                {
                    <a data-ref='@(page != i ? "" + Url.Action("TinNhaTuyenDung", "Default", new { tt = tt, from = (i - 1) * view, page = i, view = view }) + "" : "")' style="cursor: pointer" onclick="loadNBPageFrom(this);" @(page == i ? " class=active" : "")>@i</a>
                }
            }
            <a class="nextPage" onclick="loadNBPageFromNext(this);">Tiếp</a>
        </div>
        <div class="more">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Xem thêm</a>
        </div>
    </li>
</ul>

<style>
    a.active {
        cursor: auto;
    }
</style>
<script>
    function loadNTDFilterPageFrom(el) {
        var url = '@Url.Action("TinNhaTuyenDung", "Default", new { from = 0, page = 0, view = view })' + "&tt=" + $(el).val();
        if (url != "") {
            $(el).parents('.group_work').find('.loading').show();
            $(el).parents('.group_work').find('.loading_icon').show();
            $.get(url, function (data) {

                var elP = $(el).parents('.group_work').eq(0).find('ul.last_list').eq(0);
                elP.html($(data).html());
                elP.parents('.group_work').find('.loading').eq(0).hide();
                elP.parents('.group_work').find('.loading_icon').eq(0).hide();


               // $(el).parents('.group_work').eq(0).find('ul.list_work_2').eq(0).html($(data).html());

            });
        }

    }
    function loadNTDPageFrom(el) {
        var url = $(el).attr('data-ref');
        if (url != "") {
            $(el).parents('.group_work').find('.loading').show();
            $(el).parents('.group_work').find('.loading_icon').show();
            $.get(url, function (data) {
               // $(el).parents('ul.list_work_2').eq(0).html($(data).html());
                var elP = $(el).parents('ul.last_list').eq(0);
                elP.html($(data).html());

                elP.parents('.group_work').find('.loading').eq(0).hide();
                elP.parents('.group_work').find('.loading_icon').eq(0).hide();
            });
        }

    }
    function loadNTDPageFromNext(el) {

        var elNext = $(el).parents('.page_links').eq(0).find('a.active').next();
        if (!$(elNext).hasClass('nextPage')) {
            $(elNext).click();
        }

    }


</script>