@{
    ViewBag.Title = "AdvertCompany";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@model WebBDS_Project.Models.RegisterInformationModel
<!-- Content -->  
  @using System.Configuration

@using (Html.BeginForm("AdvertCompany", "Adverts"))
{
    <div class="container">
        <div class="grid_9 main_left">
            <div class="group_work">
                <div class="header_text">
                    <h3><span><i class="fa fa-list-ul"></i>Đăng tin tuyển dụng nhân viên</span></h3>
                </div>
                <div class="form-horizontal">
                    <h4>Thông tin cơ bản</h4>
                    <div class="row">
                        <label>Tiêu đề đăng tin<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblbdsnew.Title, new { @class = "input3", @placeholder = "Nhập tiêu đề" })

                        </div>
                    </div>
                    <div class="row">
                        <label>Nơi làm việc <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblbdsnew.AddressWork, new SelectList(Model.ListGeoModel, "CityId", "CityName"), new { @class = "dropdown" })

                        </div>
                        <label class="child">Mức lương <span class="required">*</span></label>
                        <div class="row-right">
                            <div class="pncon">
                                <b>Từ</b>
                                <select class="dropdown" tabindex="7" name="tblbdsnew.FromSalary">
                                    @for (int i = 3; i < 20; i++)
                                    {
                                        <option value="@i@("000000")">@i@(".000.000")</option>
                                    }


                                </select>
                            </div>
                            <div class="pncon">
                                <b style="margin-left: 11px;">Đến</b>
                                <select class="dropdown" tabindex="7" name="tblbdsnew.ToSalary">
                                    @for (int i = 3; i < 20; i++)
                                    {
                                        <option value="@i@("000000")">@i@(".000.000")</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>Số lượng <span class="required">*</span></label>
                        <div class="row-right">
                            <select class="dropdown" tabindex="7" name="tblbdsnew.Quantity">

                                @for (int i = 1; i < 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }

                            </select>
                        </div>
                        <label class="child">Thưởng/Phụ cấp <span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.tblbdsnew.Bonus, new { @class = "input1", @placeholder = "Nhập thưởng /phụ cấp" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Giới tính</label>
                        <div class="row-right">
                            <select class="dropdown" name="tblbdsnew.Sex" tabindex="7">
                                <option value="0">Không yêu cầu</option>
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>

                            </select>
                        </div>
                        <label class="child">Kinh nghiệm <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblbdsnew.IdTimeWork, new SelectList(Model.ListTimework, "Id", "Name"), new { @class = "dropdown" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Trình độ</label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblbdsnew.IdEducation, new SelectList(Model.ListDucation, "Id", "Name"), new { @class = "dropdown" })


                        </div>
                    </div>
                    <div class="row">
                         <p><strong>Công việc: nhà tuyển dụng vui lòng chọn tối đa 3 công việc</strong><span class="required">*</span></p>
                    <ul class="radio">
                        @foreach (var item in Model.ListBdscareer)
                        {
                            <li>
                                <label>
                                    <input type="checkbox" class="checkCarrie" value="@item.Name">@item.Name
                                </label>
                            </li>
                        }


                    </ul>
                    @Html.HiddenFor(x => x.tblbdsnew.Career)

                    </div>
                   
                    <h4>Nội dung</h4>
                    <div class="row">
                        <label>Giới thiệu công ty<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextAreaFor(m => m.tblbdsnew.DesCompany, new { @class = "input3" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Mô tả công việc<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextAreaFor(m => m.tblbdsnew.DesWork, new { @class = "input3" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Quyền lợi được hưởng<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.TextAreaFor(m => m.tblbdsnew.Benefit, new { @class = "input3" })
                        </div>
                    </div>
                    <div class="row">
                        <p><strong>Thông tin khác</strong></p>
                        <label>Độ tuổi</label>
                        <div class="row-right">
                            <div class="pncon">
                                <b>Từ</b>
                                <select class="dropdown" tabindex="7" name="tblbdsnew.FromAge">
                                    @for (int i = 18; i < 50; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="pncon">
                                <b style="margin-left: 11px;">Đến</b>
                                <select class="dropdown" tabindex="7" name="tblbdsnew.ToAge">
                                    @for (int i = 18; i < 50; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>Thời gian thử việc</label>
                        <div class="row-right">
                            <select class="dropdown" tabindex="7" name="tblbdsnew.TimeProbationary">

                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i">@i@(" Tháng")</option>
                                }
                            </select>
                        </div>
                    </div>
                    <h4>Thông tin liên hệ nhà tuyển dụng</h4>
                    <div class="row">
                        <label>Tên công ty</label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.tblbdsnew.NameCompany, new { @class = "input3", @placeholder = "Nhập tên công ty" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Địa chỉ nộp hồ sơ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblbdsnew.AddressApply, new { @class = "input3", @placeholder = "Nhập địa chỉ nộp hồ sơ" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Người liên hệ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblbdsnew.NamesContact, new { @class = "input3", @placeholder = "Nhập người liên hệ" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Email</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblbdsnew.Email, new { @class = "input3", @placeholder = "Nhập email" })
                        </div>
                    </div>
                    <div class="row">

                        <label>Hạn nộp hồ sơ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblbdsnew.ToDeadline, new { @class = "input1 datepicker1", @placeholder = "dd/MM/yyyy" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Ngôn ngữ hồ sơ</label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblbdsnew.IdLanguage, new SelectList(Model.Listbdslanguage, "Id", "Name"), new { @class = "dropdown" })
                        </div>
                    </div><div class="row">

    <label>Website công ty</label>
    <div class="row-right">
        @Html.TextBoxFor(m => m.tblbdsnew.WebSiteCompany, new { @class = "input1 ", @placeholder = "Nhập website công ty" })
    </div>
</div>
                    <h4>Loại tin đăng và lịch đăng tin</h4>
                    <label>Loaị tin rao<span class="required">*</span></label>


                    <ul class="radio idTabs idTabs-1 ">
                        @foreach (var typeNews in Model.Listbdsnewstype)
                        {
                            <li>
                                <a href="#@typeNews.CodeNewsType" class="radioType">
                                    <label>
                                        <input type="radio" value="@typeNews.Id" class="radioIdType" name="tblbdsnew.IdTypeNews">@typeNews.Name
                                    </label>
                                </a>
                            </li>
                        }


                    </ul>
                    <div class="content_tab-1">
                        @foreach (var typeNews in Model.Listbdsnewstype)
                        {
                            if (typeNews.CodeNewsType == "TDB")
                            {
                                 <div id="@typeNews.CodeNewsType">
                                <ul class="list_work">
                                    <li style="margin-bottom: 0">
                                        <div class="grid_3">
                                            <a href="">
                                                <img src="~/Template/images/1.jpg" alt="1">
                                                <p class="vip">
                                                    <i class="fa fa-star"></i>
                                                    <span>VIP</span>
                                                </p>
                                            </a>
                                        </div>
                                        <div class="grid_9 omega">
                                            <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                            <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                            <div>
                                                <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                                <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                     <p style="white-space: pre-line">
                                         @typeNews.Description
                                     </p>
                            </div>
                            }
                             if (typeNews.CodeNewsType == "TVP")
                            {
                                 <div id="@typeNews.CodeNewsType">
                                 <ul class="list_work_2">
                                <li>
                                    <div class="grid_9">
                                        <a href="#" class="image_2">
                                            <img src="~/Template/images/2.jpg" alt="2">
                                            <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                            </p>
                                        </a>
                                        <div class="name">
                                            <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                            <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                            <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                        </div>
                                    </div>
                                    <div class="grid_3 omega">
                                        <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                    </div>
                                </li>
                                
                            </ul>
                                <p style="white-space: pre-line">
                                   @typeNews.Description
                                </p>
                            </div>
                            }    if (typeNews.CodeNewsType == "TBT")
                            {
                                <div id="@typeNews.CodeNewsType">
                                     <ul class="list_work_2 green">
                                               <li>
                                                   <div class="grid_9">
                                                       <a href="#" class="image_2">
                                                           <img src="~/Template/images/2.jpg" alt="2">
                                                           <p class="vip">
                                                               <i class="fa fa-star"></i>
                                                               <span>VIP</span>
                                                           </p>
                                                       </a>
                                                       <div class="name">
                                                           <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                                           <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                                           <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                                       </div>
                                                   </div>
                                                   <div class="grid_3 omega">
                                                       <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                                   </div>
                                               </li>
                                
                                           </ul>
                                    <p style="white-space: pre-line">
                                        @typeNews.Description
                                    </p>
                                  
                                   
                                </div>
                            }
                            if (typeNews.CodeNewsType == "TFE")
                            {
                                 <div id="@typeNews.CodeNewsType">
                                <ul class="last_list">
                                <li style="border-top: 1px solid #dfdfdf;">
                                    <a href="#">Xử nhóm đàn em Năm Cam truy sát người tại bệnh viện</a>
                                </li>
                               
                                
                            </ul>
                            </div>
                            }
                     
                        }


                    </div>

                    <div class="row">

             
                            <div class="grid_12">
                                <div id="demo-upload" class="dropzone needsclick dz-clickable dz-started cusdropzone" method="POST" style="width: auto;" action="/Default/Blank">
                                    <div class="dz-default dz-message cusbuttonmes " style="display: block;">
                                        <span class="btn btnUploadImage">
                                            <span class="btn btn-danger">Lựa chọn hình ảnh </span>
                                        </span>

                                    </div>


                                </div>
                         

                        </div>
                    </div>
                    <hr style="margin: 10px;" />
                  
                    <div class="row">
                       
                        <label>Thời gian đăng<span class="required">*</span></label>
                        <div class="row-right">
                            <div class="pncon">
                                <b>Từ</b>
                                @Html.TextBoxFor(m => m.tblbdsnew.FromCreateNews, new { @class = "input1 datepicker1", @style = "width:190px", @placeholder = "dd/MM/yyyy" })


                            </div>
                            <div class="pncon">
                                <b style="margin-left: 11px;">Đến</b>
                                @Html.TextBoxFor(m => m.tblbdsnew.ToCreateNews, new { @class = "input1 datepicker1", @style = "width:190px", @placeholder = "dd/MM/yyyy" })


                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        <label>Thành tiền(VNĐ):</label>
                        <table class="table-responsive">
                            <tbody>
                                <tr>
                                    <td>Tiền theo giá gốc</td>
                                    <td><b>20,000 VND/1 ngày</b></td>
													
                                </tr>
                                <tr style="background: none!important;">
                                    <td>Tiền phải trả</td>
                                    <td><b>600,000 VND</b></td>
													
                                </tr>
                                                

                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <label>Mã an toàn (<span class="required">*</span>):</label>
                        <div class="row-right">
                            <div class="pncon marginright34">
                                  @Html.TextBoxFor(model => model.tblCaptCha.Captcha)
                                  @Html.ValidationMessageFor(model => model.tblCaptCha.Captcha)
                            </div>
                        </div>
                        <div class="row-right">
                            <div class="pncon">
                               <img alt="Captcha" src="@Url.Action("CaptchaImage")" style="" />
                            </div>
                        </div>
                    </div>
                  
                    <div class="row">
                        <label></label>
                        <button type="submit" id="submitbutton" class="btn btn-default btnAdd hidden"></button>

                        <div onclick="UploadImg(this)" class="btn btn-primary btnAdd1"><i class="fa fa-check" aria-hidden="true"></i>Đăng Tin</div>
                        <a class="btnCancel"><i class="fa fa-close" aria-hidden="true"></i>Hủy bỏ</a>

                    </div>

                </div>
            </div>
        </div>
        <div class="grid_3 omega main_right">
           
            @Html.Partial("_partialManagerCenter")

        </div>
    </div>
    <input type="hidden" name="cfile" />
    <input type="hidden" name="tblbdsnew.Id" class="idProduct_" value="@Model.tblbdsnew.Id" />
    <input type="hidden" name="nameImg" />
}
<link href="~/Template/css/UploadVanGia/main.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/dropzone.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/cropper.min.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/cussupload.css" rel="stylesheet" />
<script src="~/Template/js/UploadImg/cropperVG.js"></script>
<script src="~/Template/js/UploadImg/cusjsVG.js"></script>
<script src="~/Template/js/UploadImg/dropzoneVG.js"></script>

<script>
    $('.checkCarrie').click(function () {

        var listItem = $('.checkCarrie:checked').map(function () {

            return $(this).val();
        });
        var uu = '';
        $.each(listItem, function (i, o) {
            uu += o + ',';
        });
        $('#tblbdsnew_Career').val(uu);
        console.log(uu);
        
    });
    jQuery(document).ready(function ($) {

        if ($('.radioType').hasClass('selected')) {
            $('.selected .radioIdType').prop('checked', true);
        }
        
    });
    $('.radioType').click(function() {
        $(this).find('.radioIdType').prop('checked', true);
    });

    $("#submitbutton").on('click', function (e) {
        e.preventDefault();
       
            $('#submitbutton').parents("form").submit();
        

    });
    
    function dropNew(ed) {

        var console = window.console || { log: function () { } };
        var $image = $(ed).parents(".dz-preview").find('#cusimg');
        var $download = $('#download');
        var $dataX = $(ed).parents(".dz-preview").find('#dataX');
        var $dataY = $(ed).parents(".dz-preview").find('#dataY');
        var $dataHeight = $(ed).parents(".dz-preview").find('#dataHeight');
        var $dataWidth = $(ed).parents(".dz-preview").find('#dataWidth');
        var $dataRotate = $(ed).parents(".dz-preview").find('#dataRotate');
        var $dataScaleX = $(ed).parents(".dz-preview").find('#dataScaleX');
        var $dataScaleY = $(ed).parents(".dz-preview").find('#dataScaleY');
        var $putData = $(ed).parents(".dz-preview").find('#dataimg');


        var options = {
            aspectRatio: 16/9,
            preview: '.img-preview',
            crop: function (e) {
                $dataX.val(Math.round(e.x));
                $dataY.val(Math.round(e.y));
                $dataHeight.val(Math.round(e.height));
                $dataWidth.val(Math.round(e.width));
                $dataRotate.val(e.rotate);
                $dataScaleX.val(e.scaleX);
                $dataScaleY.val(e.scaleY);
            }
        };


        // Tooltip
        $(ed).find('[data-toggle="tooltip"]').tooltip();


        // Cropper
        $image.on({
            'build.cropper': function (e) {
                // console.log(e.type);
            },
            'built.cropper': function (e) {
                // console.log(e.type);
            },
            'cropstart.cropper': function (e) {
                // console.log(e.type, e.action);
            },
            'cropmove.cropper': function (e) {
                // console.log(e.type, e.action);
            },
            'cropend.cropper': function (e) {
                //console.log(e.type, e.action);
            },
            'crop.cropper': function (e) {
                //console.log(e.type, e.x, e.y, e.width, e.height, e.rotate, e.scaleX, e.scaleY);
                //console.log(e.type);
                //console.log(e.x);
                //console.log(e.y);
                //console.log(e.width);
                //console.log(e.height);
                //console.log(e.rotate);
                //console.log(e.scaleX);
                //console.log(e.scaleY);


            },
            'zoom.cropper': function (e) {
                // console.log(e.type, e.ratio);
            }
        }).cropper(options);


        //// Buttons
        if (!$.isFunction(document.createElement('canvas').getContext)) {
            $(ed).parents('.dz-preview').eq(0).find('button[data-method="getCroppedCanvas"]').prop('disabled', true);
        }

        if (typeof document.createElement('cropper').style.transition === 'undefined') {
            $(ed).parents('.dz-preview').eq(0).find('button[data-method="rotate"]').prop('disabled', true);
            $(ed).parents('.dz-preview').eq(0).find('button[data-method="scale"]').prop('disabled', true);
        }


        // Methods
        $(ed).parents('.dz-preview').eq(0).find('.docs-buttons').on('click', '[data-method]', function () {
            var $this = $(this);
            var data = $this.data();
            var $target;
            var result;

            if ($this.prop('disabled') || $this.hasClass('disabled')) {
                return;
            }

            if ($image.data('cropper') && data.method) {
                data = $.extend({}, data); // Clone a new one

                if (typeof data.target !== 'undefined') {
                    $target = $(data.target);

                    if (typeof data.option === 'undefined') {
                        try {
                            data.option = JSON.parse($target.val());
                        } catch (e) {
                            console.log(e.message);
                        }
                    }
                }

                result = $image.cropper(data.method, data.option, data.secondOption);

                switch (data.method) {
                    case 'scaleX':
                    case 'scaleY':
                        $(this).data('option', -data.option);
                        break;

                    case 'getCroppedCanvas':
                        console.log(result.toDataURL().length);
                        var duongdancrop = result.toDataURL();
                        $(ed).parents(".dz-preview").find('.cussimg').attr("src", duongdancrop);
                        $(ed).parents(".dz-preview").find('.cropper-canvas img:first').attr("src", duongdancrop);
                        $(ed).parents(".dz-preview").find('.cropper-view-box img:first').attr("src", duongdancrop);

                        //hiden control drop
                        $(ed).parent().parent().find('#imgmain').find("img:first").removeClass('cropper-hidden');
                        $(ed).parent().parent().find('#imgmain').find("img:first").next().addClass('cropper-hidden');
                        //hiden control drop end
                        if (result) {


                            if (isserver) {
                                //save to sever

                                $putData.text(result.toDataURL());

                            } else {
                                $putData.text(result.toDataURL());
                            }

                            // Bootstrap's Modal
                            //$('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

                            //if (!$download.hasClass('disabled')) {
                            //    $download.attr('href', result.toDataURL());


                            //}
                        }

                        break;
                }

                if ($.isPlainObject(result) && $target) {
                    try {
                        $target.val(JSON.stringify(result));
                    } catch (e) {
                        console.log(e.message);
                    }
                }

            }
        });


    }
    var isserver = false;

    function uploadtoserver() {
        $.each($('.cbtn-info-ok'), function (i, o) {

            if ($(o).parents('.dz-preview').find('.tools.final').hasClass('hidden')) {
                isserver = true;

                $(o).click();
            }
        }
        );
        return false;
    }

    function UploadImg(obj) {
        var t = 0;
        if ($('.dz-preview').size() == 0) {

            toastr.error('Vui lòng chọn ít nhất một hình!');
            t++;
        }
        if ($('#tblbdsnew_Title').val() == "") {
            toastr.error('Vui lòng nhập Tiêu đề!');
            t++;
        } if ($('#tblbdsnew_Bonus').val() == "") {
            toastr.error('Vui lòng nhập Thưởng/phụ cấp!');
            t++;
        } if ($('#tblbdsnew_DesCompany').val() == "") {
            toastr.error('Vui lòng nhập Giới thiệu công ty!');
            t++;
        } if ($('#tblbdsnew_DesWork').val() == "") {
            toastr.error('Vui lòng nhập Mô tả công việc!');
            t++;
        } if ($('#tblbdsnew_Benefit').val() == "") {
            toastr.error('Vui lòng nhập Quyền lợi được hưởng!');
            t++;
        } if ($('#tblCaptCha_Captcha').val() == "") {
            toastr.error('Vui lòng nhập Mã an toàn!');
            t++;
        }
        if (t==0) {
            $('.cropper-container img').css({ "transform": "none" });
            $('.btnAdd1').text('Đang xữ lý');
            $('.btnAdd1').addClass('disabled');
            uploadtoserver();
            var totalitem = $('.dz-preview').size();
            $.each($('.dz-preview'), function (i, o) {
                $(o).find("input:radio[name=groupimg][disabled=false]:first").attr('checked', true);
                var image = $(o).find('#cusimg');
                var valuerotate = $(o).find('#dataRotate').val();
                var dataX = $(o).find('#dataX').val();
                var dataY = $(o).find('#dataY').val();
                var dataHeight = $(o).find('#dataHeight').val();
                var dataWidth = $(o).find('#dataWidth').val();
                var right = $(window).width() - dataX - image.width();
                var bottom = $(window).height() - dataY - image.height();
                var dataimg = $(o).find('#dataimg').text();
                var dataname = $(o).find('.cusinput').val();
                var idpic = $(o).find('#cusimg').attr('rel');

                document.getElementsByName('cfile')[0].value = dataimg;
                document.getElementsByName('nameImg')[0].value = dataname;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveImg", "Adverts")",
                    data: { idProducts:99999999, index: i, nameImg: dataname, cfile: (dataimg == null ? "" : dataimg), isactive: $(o).find('input:checked').size(), idpicture: idpic },

                success: function (data) {
                    $(o).find('#cusimg').attr('rel', data.d);

                    totalitem--;

                    if (totalitem == 0) {
                        $('.btnAdd1').text('Đăng Tin');
                        $('.btnAdd1').removeClass('disabled');
                        $('.btnAdd').click();
                    }

                },
                error: function (e) {
                    toastr.error('Vui lòng chọn lại hình ảnh');
                }
            });
        });
            return true;
        }
        


    }

</script>
