@{
    ViewBag.Title = "AdvertCompany";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@model WebBDS_Project.Models.RegisterInformationModel
<!-- Content -->  
  @using System.Configuration


@using (Html.BeginForm("AdvertCompany", "Adverts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="grid_9 main_left">
            <div class="group_work">
                <div class="header_text">
                    <h3><span><i class="fa fa-list-ul"></i>Đăng tin tuyển dụng nhân viên</span></h3>
                </div>
                <div class="form-horizontal" style="padding-left: 10px; padding-bottom: 5px; padding-right: 10px;">
                    <h4>Thông tin cơ bản</h4>
                    <div class="row">
                        <label>Tiêu đề đăng tin<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.Title, new { @class = "input3", @placeholder = "Nhập tiêu đề" })

                        </div>
                    </div>
                    <div class="row">
                        <label>Nơi làm việc <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.AddressWork, new SelectList(Model.ListGeoModel, "CityId", "CityName"), new { @class = "select2" })

                        </div>
                        <label class="child">Mức lương <span class="required">*</span></label>
                        <style>
                            .select2-dropdown {
                                min-width: 150px;
                            }
                            .fixSelect2 .select2-selection__arrow > b:before {
                                margin-top: -17px;
                            }
                        </style>
                        <div class="row-right fixSelect2">
                            <div class="pncon" >
                                <b>Từ</b>
                             

                                <select class="select2" style="width: 85px!important" id="DropFromSalary" tabindex="7" name="tblBDSNew.FromSalary">
                                    <option value="0">Chọn</option>
                                    @for (int i = 1; i < 100; i++)
                                    {
                                        <option value="@i">@i@(".000.000")</option>
                                    }
                                </select>

                            </div>
                            <div class="pncon" >
                                <b style="margin-left: 11px;">Đến</b>
                                <select class="select2" id="DropToSalary" style="width: 85px!important" tabindex="7" name="tblBDSNew.ToSalary">
                                         <option value="0">Chọn</option>
                                        @for (int i = 3; i < 100; i++)
                                        {
                                            <option value="@i">@i@(".000.000")</option>
                                        }
                                    </select>
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>Số lượng <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.Quantity, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Chọn số lượng",Value = "0",Selected = true},
                            new SelectListItem{Text = "1",Value = "1",Selected = true},
                            new SelectListItem{Text = "2",Value = "2",Selected = false},
                            new SelectListItem{Text = "3",Value = "3",Selected = false},
                            new SelectListItem{Text = "4",Value = "4",Selected = false},
                            new SelectListItem{Text = "5",Value = "5",Selected = false},
                           
                            new SelectListItem{Text = "10",Value = "10",Selected = false},
                            new SelectListItem{Text = "15",Value = "15",Selected = false},
                            new SelectListItem{Text = "20",Value = "20",Selected = false},
                            new SelectListItem{Text = "25",Value = "25",Selected = false},
                            new SelectListItem{Text = "30",Value = "30",Selected = false},
                            new SelectListItem{Text = "50",Value = "50",Selected = false},
                            new SelectListItem{Text = "100",Value = "100",Selected = false},
                            new SelectListItem{Text = "Trên 100",Value = "101",Selected = false}
                            


                        }, new { @class = "dropdown" })
                        </div>
                        <label class="child">Thưởng/Phụ cấp <span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.tblBDSNew.Bonus, new { @class = "input1", @placeholder = "Nhập thưởng /phụ cấp" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Giới tính</label>
                        <div class="row-right">

                            @Html.DropDownListFor(m => m.tblBDSNew.Sex, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Không yêu cầu",Value = "0",Selected = true},
                            new SelectListItem{Text = "Nam",Value = "1",Selected = false},
                            new SelectListItem{Text = "Nữ",Value = "2",Selected = false},


                        }, new { @class = "dropdown" })
                        </div>
                        <label class="child">Kinh nghiệm <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.IdTimeWork, new SelectList(Model.ListTimework.OrderBy(T=>T.ID).ToList(), "Id", "Name"), "Chọn", new { @class = "dropdown" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Trình độ</label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.IdEducation, new SelectList(Model.ListDucation, "Id", "Name", "Chọn trình độ"), new { @class = "dropdown" })


                        </div>
                    </div>
                    <div class="row">
                        <p><strong>Công việc: nhà tuyển dụng vui lòng chọn tối đa 3 công việc</strong><span class="required">*</span></p>
                        <ul class="radio">
                            @foreach (var item in Model.ListBDSCareer)
                            {
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkCarrie" value="@item.ID">@item.Name
                                    </label>
                                </li>
                            }


                        </ul>
                        @Html.HiddenFor(x => x.tblBDSNew.Career)

                    </div>

                    <h4>Nội dung</h4>
                    <div class="row">
                        <label>Giới thiệu công ty<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextAreaFor(m => m.tblBDSNew.DesCompany, new { @class = "input3", @row = "5" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Mô tả công việc<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextAreaFor(m => m.tblBDSNew.DesWork, new { @class = "input3", @row = "5" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Quyền lợi được hưởng<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.TextAreaFor(m => m.tblBDSNew.Benefit, new { @class = "input3", @row = "5" })
                        </div>
                    </div>
                    <div class="row">
                        <p><strong>Thông tin khác</strong></p>
                        <label>Độ tuổi</label>
                        <div class="row-right">
                            <div class="pncon">
                                <b>Từ</b>
                              

                                @Html.DropDownListFor(m => m.tblBDSNew.FromAge, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Chọn tuổi",Value = "0",Selected = true},
                                new SelectListItem{Text = "18",Value = "18",Selected = false},
                                new SelectListItem{Text = "19",Value = "19",Selected = false},
                                new SelectListItem{Text = "20",Value = "20",Selected = false},
                                new SelectListItem{Text = "21",Value = "21",Selected = false},
                                new SelectListItem{Text = "22",Value = "22",Selected = false},
                                new SelectListItem{Text = "23",Value = "23",Selected = false},
                                new SelectListItem{Text = "24",Value = "24",Selected = false},
                                new SelectListItem{Text = "25",Value = "25",Selected = false},
                                new SelectListItem{Text = "26",Value = "26",Selected = false},
                                new SelectListItem{Text = "27",Value = "27",Selected = false},
                                new SelectListItem{Text = "28",Value = "28",Selected = false},
                                new SelectListItem{Text = "29",Value = "29",Selected = false},
                                new SelectListItem{Text = "30",Value = "30",Selected = false},


                        }, new { @class = "dropdown" })


                               



                            </div>
                            <div class="pncon">
                                <b style="margin-left: 11px;">Đến</b>
                               
                                @Html.DropDownListFor(m => m.tblBDSNew.ToAge, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Chọn tuổi",Value = "0",Selected = true},
                            new SelectListItem{Text = "25 tuổi",Value = "25",Selected = false},
                            new SelectListItem{Text = "26 tuổi",Value = "26",Selected = false},
                            new SelectListItem{Text = "27 tuổi",Value = "27",Selected = false},
                            new SelectListItem{Text = "28 tuổi",Value = "28",Selected = false},
                            new SelectListItem{Text = "29 tuổi",Value = "29",Selected = false},
                            new SelectListItem{Text = "30 tuổi",Value = "30",Selected = false},
                            new SelectListItem{Text = "31 tuổi",Value = "31",Selected = false},
                            new SelectListItem{Text = "32 tuổi",Value = "32",Selected = false},
                            new SelectListItem{Text = "33 tuổi",Value = "33",Selected = false},
                            new SelectListItem{Text = "34 tuổi",Value = "34",Selected = false},
                            new SelectListItem{Text = "35 tuổi",Value = "35",Selected = false},


                        }, new { @class = "dropdown" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>Thời gian thử việc</label>
                        <div class="row-right">
                           @Html.DropDownListFor(m => m.tblBDSNew.TimeProbationary, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Chọn thời gian",Value = "0",Selected = true},
                            new SelectListItem{Text = "1 Tháng",Value = "1",Selected = true},
                            new SelectListItem{Text = "2 Tháng",Value = "2",Selected = false},
                            new SelectListItem{Text = "3 Tháng",Value = "3",Selected = false},
                            new SelectListItem{Text = "4 Tháng",Value = "4",Selected = false},
                            new SelectListItem{Text = "5 Tháng",Value = "5",Selected = false},
                            new SelectListItem{Text = "6 Tháng",Value = "6",Selected = false},
                         


                        }, new { @class = "dropdown" })
                        </div>
                    </div>
                    <h4>Thông tin liên hệ nhà tuyển dụng</h4>
                    <div class="row">
                        <label>Tên công ty</label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.tblBDSNew.NameCompany, new { @class = "input3", @placeholder = "Nhập tên công ty" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Địa chỉ nộp hồ sơ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.AddressApply, new { @class = "input3", @placeholder = "Nhập địa chỉ nộp hồ sơ" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Người liên hệ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.NamesContact, new { @class = "input3", @placeholder = "Nhập người liên hệ" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Email</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.Email, new { @class = "input3", @placeholder = "Nhập email" })
                        </div>
                    </div>
                    <div class="row">

                        <label>Hạn nộp hồ sơ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.ToDeadline,"{0:dd/MM/yyyy}", new { @class = "input1", @placeholder = "dd/MM/yyyy" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Ngôn ngữ hồ sơ</label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.IdLanguage, new SelectList(Model.ListBDSLanguage, "Id", "Name"), new { @class = "dropdown" })
                        </div>
                    </div><div class="row">

                        <label>Website công ty</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.WebSiteCompany, new { @class = "input1 ", @placeholder = "Nhập website công ty" })
                        </div>
                    </div>
                   

                    <div class="row">
                        <label>Upload Hình</label>
                        <div>
                            <style>
                                .thumb {
                                    height: 75px;
                                    border: 1px solid #000;
                                    margin: 10px 5px 0 0;
                                }
                            </style>
                           
                            <input type="file" class="form-control" id="files" name="files" multiple accept="image/*" />
                          

                            <script>
                                function handleFileSelect(evt) {
                                    var files = evt.target.files; // FileList object

                                    // Loop through the FileList and render image files as thumbnails.
                                    for (var i = 0, f; f = files[i]; i++) {

                                        // Only process image files.
                                        if (!f.type.match('image.*')) {
                                            continue;
                                        }

                                        var reader = new FileReader();

                                        // Closure to capture the file information.
                                        reader.onload = (function (theFile) {
                                            return function (e) {
                                                // Render thumbnail.
                                                var span = document.createElement('span');
                                                span.innerHTML = ['<img class="thumb" src="', e.target.result,
                                                                  '" title="', escape(theFile.name), '"/>'].join('');
                                                document.getElementById('list').insertBefore(span, null);
                                            };
                                        })(f);

                                        // Read in the image file as a data URL.
                                        reader.readAsDataURL(f);
                                    }
                                }

                                document.getElementById('files').addEventListener('change', handleFileSelect, false);
                            </script>

                        </div>
                        <div>
                            <output id="list"></output>
                        </div>
                        @{
                            if(Model.ListBDSPicture!=null && Model.ListBDSPicture.Count>0)
                            {
                                 <div>
                                <output >
                                    @{
                                foreach (var pic in Model.ListBDSPicture.Where(T=>T.advert_id==Model.tblBDSNew.ID).ToList())
                                {
                                    <span><img class="thumb" src="@ConfigurationManager.AppSettings["UrlImage"]@pic.originalFilepath.ToString().Split('_')[0]/@pic.originalFilepath" title="@(pic.title)"></span>
                                }
                                    }
                                </output>
                            </div>
                            }
                        }
                    </div>
                    <hr style="margin: 10px;" />
                    <h4>Loại tin đăng và lịch đăng tin</h4>
                    <label>Loaị tin rao<span class="required">*</span></label>


                    <ul class="radio idTabs idTabs-1 ">
                        @foreach (var typeNews in Model.ListBDSNewsType)
                        {
                            <li>
                                <a href="#@typeNews.CodeNewsType" class="radioType" onclick="document.forms[0]['tblBDSNew.IdTypeNews'].value='@typeNews.ID';calcMoney();">
                                    <input type="radio" value="@typeNews.ID" onclick="setTimeout(function(){document.forms[0]['tblBDSNew.IdTypeNews'].value='@typeNews.ID';},100)" class="radioIdType" name="tblBDSNew.IdTypeNews">
                                    <label>
                                        @typeNews.Name
                                    </label>
                                </a>
                            </li>
                        }


                    </ul>
                    <div class="content_tab-1">
                        @foreach (var typeNews in Model.ListBDSNewsType)
                        {
                            if (typeNews.CodeNewsType == "TDB")
                            {
                                <div id="@typeNews.CodeNewsType">
                                    <ul class="list_work">
                                        <li style="margin-bottom: 0">
                                            <div class="grid_3">
                                                <a href="">
                                                    <img src="~/Template/images/1.jpg" alt="1">
                                                    <p class="vip">
                                                        <i class="fa fa-star"></i>
                                                        <span>VIP</span>
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="grid_9 omega">
                                                <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                                <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                                <div>
                                                    <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triệu </p>
                                                    <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <p style="white-space: pre-line">
                                        @typeNews.Description
                                    </p>
                                </div>
                            }
                            if (typeNews.CodeNewsType == "TVP")
                            {
                                <div id="@typeNews.CodeNewsType">
                                    <ul class="list_work_2">
                                        <li>
                                            <div class="grid_9">
                                                <a href="#" class="image_2">
                                                    <img src="~/Template/images/2.jpg" alt="2">
                                                    <p class="vip">
                                                        <i class="fa fa-star"></i>
                                                        <span></span>
                                                    </p>
                                                </a>
                                                <div class="name">
                                                    <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                                    <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                                    <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                                </div>
                                            </div>
                                            <div class="grid_3 omega">
                                                <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triệu </p>
                                            </div>
                                        </li>

                                    </ul>
                                    <p style="white-space: pre-line">
                                        @typeNews.Description
                                    </p>
                                </div>
                            }
                            if (typeNews.CodeNewsType == "TBT")
                            {
                                <div id="@typeNews.CodeNewsType">
                                    <ul class="list_work_2 green">
                                        <li>
                                            <div class="grid_9">
                                                <a href="#" class="image_2">
                                                    <img src="~/Template/images/2.jpg" alt="2">
                                                    <p class="vip">
                                                        <i class="fa fa-star"></i>
                                                        <span></span>
                                                    </p>
                                                </a>
                                                <div class="name">
                                                    <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                                    <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                                    <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                                </div>
                                            </div>
                                            <div class="grid_3 omega">
                                                <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triệu </p>
                                            </div>
                                        </li>

                                    </ul>
                                    <p style="white-space: pre-line">
                                        @typeNews.Description
                                    </p>


                                </div>
                            }
                            if (typeNews.CodeNewsType == "TFE")
                            {
                                <div id="@typeNews.CodeNewsType">
                                    <ul class="last_list">
                                        <li style="border-top: 1px solid #dfdfdf;">
                                            <a href="#">Tuyển dụng nhân viên kinh doanh</a>
                                        </li>


                                    </ul>
                                </div>
                            }

                        }


                    </div>
                    <div class="post-date" style="display:none">
                        <ul class="idRadio radio idTabs idTabs-1 ">
                            <li>
                                <a href="#7d" class="radioType" onclick="setTimeout(function () { calcMoney(); }, 100);">
                                    <input type="radio" value="7" class="radioIdType" checked name="post-date">
                                    <label>
                                        7 ngày
                                    </label>
                                </a>
                            </li>
                            <li>
                                <a href="#15d" class="radioType" onclick="setTimeout(function () { calcMoney(); }, 100);">
                                    <input type="radio" value="15" class="radioIdType" name="post-date">
                                    <label>
                                        15 ngày
                                    </label>
                                </a>
                            </li>
                            <li>
                                <a href="#30d" class="radioType" onclick="setTimeout(function () { calcMoney(); }, 100);">
                                    <input type="radio" value="30" class="radioIdType" name="post-date">
                                    <label>
                                        30 ngày
                                    </label>
                                </a>
                            </li>
                            <li>
                                <a href="#60d" class="radioType" onclick="setTimeout(function () { calcMoney(); }, 100);">
                                    <input type="radio" value="60" class="radioIdType" name="post-date">
                                    <label>
                                        60 ngày
                                    </label>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="row rowTime fromdate-todate">

                        <label>Thời gian đăng<span class="required">*</span></label>
                        <div class="row-right">
                            <div class="pncon">
                                <b>Từ</b>
                                @Html.TextBoxFor(m => m.tblBDSNew.FromCreateNews, "{0:dd/MM/yyyy}", new { @class = "input1 ", @style = "width:190px", @placeholder = "dd/MM/yyyy" })


                            </div>
                            <div class="pncon">
                                <b style="margin-left: 11px;">Đến</b>
                                @Html.TextBoxFor(m => m.tblBDSNew.ToCreateNews, "{0:dd/MM/yyyy}", new { @class = "input1 ", @style = "width:190px", @placeholder = "dd/MM/yyyy" })


                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <label>Thành tiền(VNĐ):</label>
                        <table class="table-responsive">
                            <tbody>
                                <tr>
                                    <td>Tiền theo giá gốc</td>
                                    <td><b><span class="priceInDay">0</span> VND/<span class="totalDay">1</span> ngày</b></td>

                                </tr>
                                <tr style="background: none!important;">
                                    <td>Tiền phải trả</td>
                                    <td><b><span class="TotalMoney">0</span> VND</b></td>

                                </tr>


                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <label>Mã an toàn (<span class="required">*</span>):</label>
                        <div class="row-right">
                            <div class="pncon marginright34">
                                @Html.TextBoxFor(model => model.tblCaptCha.Captcha)
                                @Html.ValidationMessageFor(model => model.tblCaptCha.Captcha)
                            </div>
                        </div>
                        <div class="row-right">
                            <div class="pncon">
                                <img alt="Captcha" src="@Url.Action("CaptchaImage")" style="" />
                            </div>
                        </div>
                    </div>

                    <div class="row" id="actionBtn">
                        <label></label>
                        <a class="btnApply btnCheck" onclick="$('#submitbutton').click();" style="padding: 10px 50px; cursor: pointer;">Đăng tin</a>
                        <button type="submit" style="width: 100px" id="submitbutton"  class="btnSubmit hidden">Đăng ký</button>    
                        <a class="btnApply btnCheck"  style="padding-top: 10px; padding-bottom: 10px; cursor: pointer; background: #019281; ">Hủy bỏ</a>

                    </div>

                </div>
            </div>
        </div>
        <div class="grid_3 omega main_right" id="sideRightPushy">

            @Html.Partial("_partialManagerCenter")

        </div>
    </div>
    <input type="hidden" name="cfile" />
    <input type="hidden" name="tblBDSNew.ID" class="idProduct_" value="@Model.tblBDSNew.ID" />
    <input type="hidden" name="nameImg" />
    <input type="hidden" id="hdMoneyInDay" name="tblBDSNew.MoneyInDay" />
    <input type="hidden" id="hdTotalMoney" name="tblBDSNew.TotalMoney" />








    <div id="test-modal" class="mfp-hide white-popup-block box_info">
        <div>
            <h1>Đăng tin thành công</h1>
        </div>
        <div style="display: inline-block">
            <p>
                <i class="fa fa-exclamation-triangle fa-3x" style="color: #37a344;" aria-hidden="true"></i><span class=""> Bạn đã đăng tin thành công.</span>
                <span class="cusTextWarning">
                    -Bạn vừa thao tác đăng tin thành công.
                </span>
                <span class="cusTextWarning">    -Thời gian duyệt tin đăng có thể kéo dài 24h.Vui lòng đợi sự chờ duyệt của chúng tôi.</span>

            </p>

        </div>
        <div style="display: inline-block; width: 100%; margin-top: 10px;text-align: center">
            

            <a style="width: 120px;" href="@Url.Action("AdvertCompany", "Adverts")" class="btn btnUpload">
                Đăng tin thêm
            </a>
            <a style="width: 120px;" href="@Url.Action("Index", "Default")" class="btn btnUpload">
                Về trang chủ
            </a>
            
        </div>


    </div>
    
    
    
    
    
    <a class="popup-modal hidden" href="#test-modal">Open modal</a>
                                        }
<style>
    a.btnCheck:hover {
        color: white;
        opacity: 0.8;
    }
</style>
<style>
    #test-modal h1 {
        margin: 0px;
    }
</style>
<link href="~/Template/css/UploadVanGia/main.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/dropzone.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/cropper.min.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/cussupload.css" rel="stylesheet" />

<style>
    a.radioType.selected {
        /* color: red;*/
    }
</style>
<script>

    Number.prototype.padLeft = function (n, str) {
        return Array(n - String(this).length + 1).join(str || '0') + this;
    }

    function calcMoney() {
        var id = document.forms[0]['tblBDSNew.IdTypeNews'].value;
        $('.fromdate-todate').show();
        $('.post-date').hide();
        if (id == 4) {
            var value = $('.post-date input:checked').eq(0).val();
            $('.fromdate-todate').hide();
            $('.post-date').show();
            var dateArray = ($('#tblBDSNew_FromCreateNews').val() + ' - ' + $('#tblBDSNew_ToCreateNews').val()).split(' - ');
            var aarf = dateArray[0].split('/');
            var aart = dateArray[1].split('/');
            var fromDate = new Date(parseInt(aarf[2]), parseInt(aarf[1]) - 1, parseInt(aarf[0]));
            var toDate = new Date(new Date(parseInt(aarf[2]), parseInt(aarf[1]) - 1, parseInt(aarf[0])).setDate(new Date(parseInt(aarf[2]), parseInt(aarf[1]) - 1, parseInt(aarf[0])).getDate() + parseInt(value)));

            var dateString = fromDate.getDate().padLeft(2) + "/" + (fromDate.getMonth() + 1).padLeft(2) + "/" + fromDate.getFullYear() + " - " + toDate.getDate().padLeft(2) + "/" + (toDate.getMonth() + 1).padLeft(2) + "/" + toDate.getFullYear();
            $('#tblBDSNew_FromCreateNews').val(fromDate.getDate().padLeft(2) + "/" + (fromDate.getMonth() + 1).padLeft(2) + "/" + fromDate.getFullYear());
            $('#tblBDSNew_ToCreateNews').val(toDate.getDate().padLeft(2) + "/" + (toDate.getMonth() + 1).padLeft(2) + "/" + toDate.getFullYear());
            to.datepicker("option", "minDate", fromDate);
            from.datepicker("option", "maxDate", toDate);
        }
        var id = document.forms[0]['tblBDSNew.IdTypeNews'].value;
        var rDate = $('#tblBDSNew_FromCreateNews').val() + "-" + $('#tblBDSNew_ToCreateNews').val();
        if (id != null && id != "" && id != null && id != "" && $('#tblBDSNew_ToCreateNews').val() != "" && $('#tblBDSNew_FromCreateNews').val()!="") {
            $.getJSON("@Url.Action("CalcuMoney")?idType=" + id + "&rDate=" + encodeURIComponent( rDate), function(data) {
                $('#hdMoneyInDay').val(data.PriceInDay);
                $('#hdTotalMoney').val(data.TotalPrice);
                $('.priceInDay').html(tien(data.PriceInDay));
                $('.TotalMoney').html(tien(data.TotalPrice));
            });
        }

    };
    $(document).on("change", 'input[name="tblBDSNew.IdTypeNews"] ,#tblBDSNew_FromCreateNews,#tblBDSNew_ToCreateNews', function () {

        var id = document.forms[0]['tblBDSNew.IdTypeNews'].value;
        var rDate = $('#tblBDSNew_FromCreateNews').val() + "-" + $('#tblBDSNew_ToCreateNews').val();
        if (id != null && id != "" && id != null && id != "" && $('#tblBDSNew_ToCreateNews').val() != "" && $('#tblBDSNew_FromCreateNews').val()!="") {
            $.getJSON("@Url.Action("CalcuMoney")?idType=" + id + "&rDate=" + encodeURIComponent( rDate), function(data) {
                $('#hdMoneyInDay').val(data.PriceInDay);
                $('#hdTotalMoney').val(data.TotalPrice);

                $('.priceInDay').html(tien(data.PriceInDay));
                $('.TotalMoney').html(tien(data.TotalPrice));
            });
        }

    });
   
    function tien(val) {

        if (val != null) {

            while (/(\d+)(\d{3})/.test(val.toString())) {
                val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            }
            return val + '';
        }
        else {
            return '';
        }

    }

    $(document).on('submit', 'form', function () {

        var formData = new FormData(this);

        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            async: false,
            success: function (data) {

                if (data.Status) {
                    toastr.success(data.Msg);
                    $('#actionBtn').hide();
                    $('a.popup-modal').click();
                } else {
                    toastr.error(data.Msg);
                }
                console.log(data);
            },
            cache: false,
            contentType: false,
            processData: false
        });
        return false;

    });
    var from;
    var to;
	$( function() {
	    var dateFormat = "dd/mm/yy";
	    from = $("#tblBDSNew_FromCreateNews")
            .datepicker({
                defaultDate: "+0d",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: dateFormat
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            });
			to = $("#tblBDSNew_ToCreateNews").datepicker({
				defaultDate: "+7d",
				changeMonth: true,
				numberOfMonths: 1,
				dateFormat: dateFormat
			})
			.on( "change", function() {
				from.datepicker( "option", "maxDate", getDate( this ) );
			});
	    $("#tblBDSNew_ToDeadline").datepicker({
	        defaultDate: "+0d",
	        changeMonth: true,
	        numberOfMonths: 1,
	        dateFormat: dateFormat
	    })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });
		function getDate( element ) {
			var date;
		    try {

				date = $.datepicker.parseDate( dateFormat, element.value );
			} catch( error ) {
				date = null;
			}

			return date;
		}

		var id = $('#IdTypeNews').val();
		$('.fromdate-todate').show();
		$('.post-date').hide();
		if (id == 4) {
		    $('.fromdate-todate').hide();
		    $('.post-date').show();
		    var dateArray = ($('#tblBDSNew_FromCreateNews').val() + ' - ' + $('#tblBDSNew_ToCreateNews').val()).split(' - ');
		    var aarf = dateArray[0].split('/');
		    var aart = dateArray[1].split('/');
		    var dateF = new Date(parseInt(aarf[2]), parseInt(aarf[1]) - 1, parseInt(aarf[0]));
		    var dateT = new Date(parseInt(aart[2]), parseInt(aart[1]) - 1, parseInt(aart[0]));
		    var timeDiff = Math.abs(dateT.getTime() - dateF.getTime());
		    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
		    //   alert(diffDays);
		    $('.post-date input').each(function () {

		        if ($(this).val() == diffDays) {
		            $(this).prop('checked', true);		        
		            return;
		        }
		    });
		    //  $('input[name="PostDate"]').val(diffDays);
		} 
		var mess = '@(ViewBag.Message!=null?ViewBag.Message:"")';
	    if (mess.length>0) {
	        toastr.error(@(ViewBag.Message!=null?ViewBag.Message:""));
	    }
	
		


	} );

    $('.checkCarrie').click(function () {

        var listItem = $('.checkCarrie:checked').map(function () {

            return $(this).val();
        });
        var uu = '';
        $.each(listItem, function (i, o) {
            uu += o + ',';
        });
        $('#tblBDSNew_Career').val(uu);
        console.log(uu);

    });
    jQuery(document).ready(function ($) {

        if ($('.radioType').hasClass('selected')) {
            $('.selected .radioIdType').prop('checked', true);
        }

    });
    $('.radioType').click(function() {
        $(this).find('.radioIdType').prop('checked', true);
    });

    $("#submitbutton").on('click', function (e) {
        if (!UploadImg())
        {
            e.stopPropagation();
            return false;
        }

        e.preventDefault();
         $('#submitbutton').parents("form").submit();


    });

   
    

    function UploadImg() {
        var t = 0;
        if ($('#tblCaptCha_Captcha').val() == "") {
            toastr.error('Vui lòng nhập Mã an toàn!');
            t++;
        }
       // if (  $('#tblBDSNew_FromCreateNews').val()>$('#tblBDSNew_ToCreateNews').val()) {
       //     toastr.error('Ngày bất đầu không được lớn hơn ngày kết thúc!');
       //     t++;
       // }

        if ($('#tblBDSNew_ToCreateNews').val() == "") {
            toastr.error('Vui lòng nhập Ngày kết thúc đăng tin!');
            t++;
        }
        if ($('#tblBDSNew_FromCreateNews').val() == "") {
            toastr.error('Vui lòng nhập Ngày bất đầu đăng tin!');
            t++;
        } 
         if ($('#tblBDSNew_Benefit').val() == "") {
            toastr.error('Vui lòng nhập Quyền lợi được hưởng!');
            t++;
         }
        if ($('#tblBDSNew_DesWork').val() == "") {
            toastr.error('Vui lòng nhập Mô tả công việc!');
            t++;
        }
         if ($('#tblBDSNew_DesCompany').val() == "") {
            toastr.error('Vui lòng nhập Giới thiệu công ty!');
            t++;
        }
         if ($('.checkCarrie:checked').size() > 3) {

             toastr.error('Chỉ chọn được tối đa 3 việc làm!');
             t++;
         }
        if ($('#tblBDSNew_IdEducation').val() == "") {
            toastr.error('Vui lòng chọn trình độ!');
            t++;
        }
        if ($('#tblBDSNew_IdTimeWork').val() == "") {
            toastr.error('Vui lòng chọn kinh nghiệm!');
            t++;
        }

        if ($('#tblBDSNew_Bonus').val() == "") {
            toastr.error('Vui lòng nhập Thưởng/phụ cấp!');
            t++;
        }
        if ($('#DropQuantity').val() == "0") {
            toastr.error('Vui lòng chọn số lượng!');
            t++;
        }
        if ($('#DropToSalary').val() == "0") {
            toastr.error('Vui lòng chọn mức lương đến!');
            t++;
        }
        if ($('#DropFromSalary').val() == "0") {
            toastr.error('Vui lòng chọn mức lương từ!');
            t++;
        }
        if ($('#tblBDSNew_AddressWork').val() == 0) {
            toastr.error('Vui lòng chọn nơi làm việc!');
            t++;
        } if ($('#tblBDSNew_Title').val() == "") {
            toastr.error('Vui lòng nhập Tiêu đề!');
            t++;
        }
        if (t == 0) {
            var checkMoney = false;
            var id = document.forms[0]['tblBDSNew.IdTypeNews'].value;
            var rDate = $('#tblBDSNew_FromCreateNews').val() + "-" + $('#tblBDSNew_ToCreateNews').val();
            if (id != null && id != "" && id != null && id != "" && $('#tblBDSNew_ToCreateNews').val() != "" && $('#tblBDSNew_FromCreateNews').val()!="") {

                var jsonData = (function () {
                    var result;
                    $.ajax({
                        type: 'GET',
                        url: "@Url.Action("CalcuMoney")?idType=" + id + "&rDate=" + encodeURIComponent(rDate),
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            result = data;
                        }
                    });
                    return result;
                })();
                checkMoney = jsonData.CheckMoney;
                if (!checkMoney) {
                    toastr.error('Số tiền trong tài khoản không đủ!');
                }
              
            }
            return checkMoney == true || checkMoney=="true"?true:false;
        }
        return false;

    }

</script>
