@{
    ViewBag.Title = "AdvertCompany";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@model WebBDS_Project.Models.RegisterInformationModel
<!-- Content -->  
  @using System.Configuration


@using (Html.BeginForm("AdvertCompany", "Adverts"))
{
    <div class="container">
        <div class="grid_9 main_left">
            <div class="group_work">
                <div class="header_text">
                    <h3><span><i class="fa fa-list-ul"></i>Đăng tin tuyển dụng nhân viên</span></h3>
                </div>
                <div class="form-horizontal">
                    <h4>Thông tin cơ bản</h4>
                    <div class="row">
                        <label>Tiêu đề đăng tin<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.Title, new { @class = "input3", @placeholder = "Nhập tiêu đề" })

                        </div>
                    </div>
                    <div class="row">
                        <label>Nơi làm việc <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.AddressWork, new SelectList(Model.ListGeoModel, "CityId", "CityName"), new { @class = "select2" })

                        </div>
                        <label class="child">Mức lương <span class="required">*</span></label>
                        <div class="row-right">
                            <div class="pncon">
                                <b>Từ</b>
                                @*<select class="dropdown" id="DropFromSalary" tabindex="7" name="tblBDSNew.FromSalary">
                                        <option value="0">Chọn</option>
                                        @for (int i = 3; i < 20; i++)
                                        {
                                            <option value="@i">@i@(".000.000")</option>
                                        }


                                    </select>*@
                                @Html.DropDownListFor(m => m.tblBDSNew.FromSalary, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Please Select",Value = "",Selected = true},
                            new SelectListItem{Text = "3 triệu",Value = "3",Selected = false},
                            new SelectListItem{Text = "4 triệu",Value = "4",Selected = false},
                            new SelectListItem{Text = "5 triệu",Value = "5",Selected = false},
                            new SelectListItem{Text = "6 triệu",Value = "6",Selected = false},
                            new SelectListItem{Text = "7 triệu",Value = "7",Selected = false},
                            new SelectListItem{Text = "8 triệu",Value = "8",Selected = false},
                            new SelectListItem{Text = "9 triệu",Value = "9",Selected = false},
                            new SelectListItem{Text = "10 triệu",Value = "10",Selected = false}

                        }, new { @class = "dropdown" })
                            </div>
                            <div class="pncon">
                                <b style="margin-left: 11px;">Đến</b>
                                @*<select class="dropdown" id="DropToSalary" tabindex="7" name="tblBDSNew.ToSalary">
                                         <option value="0">Chọn</option>
                                        @for (int i = 3; i < 20; i++)
                                        {
                                            <option value="@i">@i@(".000.000")</option>
                                        }
                                    </select>*@
                                @Html.DropDownListFor(m => m.tblBDSNew.ToSalary, new List<SelectListItem>
                        {

                           new SelectListItem{Text = "Please Select",Value = "",Selected = true},
                            new SelectListItem{Text = "5 triệu",Value = "5",Selected = false},
                            new SelectListItem{Text = "6 triệu",Value = "6",Selected = false},
                            new SelectListItem{Text = "7 triệu",Value = "7",Selected = false},
                            new SelectListItem{Text = "8 triệu",Value = "8",Selected = false},
                            new SelectListItem{Text = "9 triệu",Value = "9",Selected = false},
                            new SelectListItem{Text = "10 triệu",Value = "10",Selected = false},
                            new SelectListItem{Text = "11 triệu",Value = "11",Selected = false},
                            new SelectListItem{Text = "12 triệu",Value = "12",Selected = false},
                            new SelectListItem{Text = "13 triệu",Value = "13",Selected = false},
                            new SelectListItem{Text = "14 triệu",Value = "14",Selected = false},
                            new SelectListItem{Text = "15 triệu",Value = "15",Selected = false},
                            new SelectListItem{Text = "16 triệu",Value = "16",Selected = false},
                            new SelectListItem{Text = "17 triệu",Value = "17",Selected = false},
                            new SelectListItem{Text = "18 triệu",Value = "18",Selected = false},
                            new SelectListItem{Text = "19 triệu",Value = "19",Selected = false},
                            new SelectListItem{Text = "20 triệu",Value = "20",Selected = false},


                        }, new { @class = "dropdown" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>Số lượng <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.Quantity, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Chọn số lượng",Value = "0",Selected = true},
                            new SelectListItem{Text = "1",Value = "1",Selected = true},
                            new SelectListItem{Text = "2",Value = "2",Selected = false},
                            new SelectListItem{Text = "3",Value = "3",Selected = false},
                            new SelectListItem{Text = "4",Value = "4",Selected = false},
                            new SelectListItem{Text = "5",Value = "5",Selected = false},
                            new SelectListItem{Text = "6",Value = "6",Selected = false},
                            new SelectListItem{Text = "7",Value = "7",Selected = false},
                            new SelectListItem{Text = "8",Value = "8",Selected = false},
                            new SelectListItem{Text = "9",Value = "9",Selected = false},
                            new SelectListItem{Text = "10",Value = "10",Selected = false},
                            new SelectListItem{Text = "11",Value = "11",Selected = false},
                            new SelectListItem{Text = "12",Value = "12",Selected = false},
                            new SelectListItem{Text = "13",Value = "13",Selected = false},
                            new SelectListItem{Text = "14",Value = "14",Selected = false},
                            new SelectListItem{Text = "15",Value = "15",Selected = false}


                        }, new { @class = "dropdown" })
                        </div>
                        <label class="child">Thưởng/Phụ cấp <span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.tblBDSNew.Bonus, new { @class = "input1", @placeholder = "Nhập thưởng /phụ cấp" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Giới tính</label>
                        <div class="row-right">

                            @Html.DropDownListFor(m => m.tblBDSNew.Sex, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Không yêu cầu",Value = "0",Selected = true},
                            new SelectListItem{Text = "Nam",Value = "1",Selected = false},
                            new SelectListItem{Text = "Nữ",Value = "2",Selected = false},


                        }, new { @class = "dropdown" })
                        </div>
                        <label class="child">Kinh nghiệm <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.IdTimeWork, new SelectList(Model.ListTimework, "Id", "Name"), "Chọn", new { @class = "dropdown" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Trình độ</label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.IdEducation, new SelectList(Model.ListDucation, "Id", "Name", "Chọn trình độ"), new { @class = "dropdown" })


                        </div>
                    </div>
                    <div class="row">
                        <p><strong>Công việc: nhà tuyển dụng vui lòng chọn tối đa 3 công việc</strong><span class="required">*</span></p>
                        <ul class="radio">
                            @foreach (var item in Model.ListBDSCareer)
                            {
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkCarrie" value="@item.ID">@item.Name
                                    </label>
                                </li>
                            }


                        </ul>
                        @Html.HiddenFor(x => x.tblBDSNew.Career)

                    </div>

                    <h4>Nội dung</h4>
                    <div class="row">
                        <label>Giới thiệu công ty<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextAreaFor(m => m.tblBDSNew.DesCompany, new { @class = "input3" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Mô tả công việc<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextAreaFor(m => m.tblBDSNew.DesWork, new { @class = "input3" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Quyền lợi được hưởng<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.TextAreaFor(m => m.tblBDSNew.Benefit, new { @class = "input3" })
                        </div>
                    </div>
                    <div class="row">
                        <p><strong>Thông tin khác</strong></p>
                        <label>Độ tuổi</label>
                        <div class="row-right">
                            <div class="pncon">
                                <b>Từ</b>
                              

                                @Html.DropDownListFor(m => m.tblBDSNew.FromAge, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Chọn tuổi",Value = "0",Selected = true},
                                new SelectListItem{Text = "18",Value = "18",Selected = false},
                                new SelectListItem{Text = "19",Value = "19",Selected = false},
                                new SelectListItem{Text = "20",Value = "20",Selected = false},
                                new SelectListItem{Text = "21",Value = "21",Selected = false},
                                new SelectListItem{Text = "22",Value = "22",Selected = false},
                                new SelectListItem{Text = "23",Value = "23",Selected = false},
                                new SelectListItem{Text = "24",Value = "24",Selected = false},
                                new SelectListItem{Text = "25",Value = "25",Selected = false},
                                new SelectListItem{Text = "26",Value = "26",Selected = false},
                                new SelectListItem{Text = "27",Value = "27",Selected = false},
                                new SelectListItem{Text = "28",Value = "28",Selected = false},
                                new SelectListItem{Text = "29",Value = "29",Selected = false},
                                new SelectListItem{Text = "30",Value = "30",Selected = false},


                        }, new { @class = "dropdown" })


                               



                            </div>
                            <div class="pncon">
                                <b style="margin-left: 11px;">Đến</b>
                               
                                @Html.DropDownListFor(m => m.tblBDSNew.ToAge, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Chọn tuổi",Value = "0",Selected = true},
                            new SelectListItem{Text = "25",Value = "25",Selected = false},
                            new SelectListItem{Text = "26",Value = "26",Selected = false},
                            new SelectListItem{Text = "27",Value = "27",Selected = false},
                            new SelectListItem{Text = "28",Value = "28",Selected = false},
                            new SelectListItem{Text = "29",Value = "29",Selected = false},
                            new SelectListItem{Text = "30",Value = "30",Selected = false},
                            new SelectListItem{Text = "31",Value = "31",Selected = false},
                            new SelectListItem{Text = "32",Value = "32",Selected = false},
                            new SelectListItem{Text = "33",Value = "33",Selected = false},
                            new SelectListItem{Text = "34",Value = "34",Selected = false},
                            new SelectListItem{Text = "35",Value = "35",Selected = false},


                        }, new { @class = "dropdown" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>Thời gian thử việc</label>
                        <div class="row-right">
                           @Html.DropDownListFor(m => m.tblBDSNew.TimeProbationary, new List<SelectListItem>
                        {
                            new SelectListItem{Text = "Chọn thời gian",Value = "0",Selected = true},
                            new SelectListItem{Text = "1",Value = "1",Selected = true},
                            new SelectListItem{Text = "2",Value = "2",Selected = false},
                            new SelectListItem{Text = "3",Value = "3",Selected = false},
                            new SelectListItem{Text = "4",Value = "4",Selected = false},
                            new SelectListItem{Text = "5",Value = "5",Selected = false},
                            new SelectListItem{Text = "6",Value = "6",Selected = false},
                            new SelectListItem{Text = "7",Value = "7",Selected = false},
                            new SelectListItem{Text = "8",Value = "8",Selected = false},
                            new SelectListItem{Text = "9",Value = "9",Selected = false},
                            new SelectListItem{Text = "10",Value = "10",Selected = false},
                            new SelectListItem{Text = "11",Value = "11",Selected = false},
                            new SelectListItem{Text = "12",Value = "12",Selected = false},
                            new SelectListItem{Text = "13",Value = "13",Selected = false},
                            new SelectListItem{Text = "14",Value = "14",Selected = false},
                            new SelectListItem{Text = "15",Value = "15",Selected = false}


                        }, new { @class = "dropdown" })
                        </div>
                    </div>
                    <h4>Thông tin liên hệ nhà tuyển dụng</h4>
                    <div class="row">
                        <label>Tên công ty</label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.tblBDSNew.NameCompany, new { @class = "input3", @placeholder = "Nhập tên công ty" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Địa chỉ nộp hồ sơ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.AddressApply, new { @class = "input3", @placeholder = "Nhập địa chỉ nộp hồ sơ" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Người liên hệ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.NamesContact, new { @class = "input3", @placeholder = "Nhập người liên hệ" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Email</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.Email, new { @class = "input3", @placeholder = "Nhập email" })
                        </div>
                    </div>
                    <div class="row">

                        <label>Hạn nộp hồ sơ</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.ToDeadline, new { @class = "input1 datepicker1", @placeholder = "dd/MM/yyyy" })
                        </div>
                    </div>
                    <div class="row">
                        <label>Ngôn ngữ hồ sơ</label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSNew.IdLanguage, new SelectList(Model.ListBDSLanguage, "Id", "Name"), new { @class = "dropdown" })
                        </div>
                    </div><div class="row">

                        <label>Website công ty</label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.tblBDSNew.WebSiteCompany, new { @class = "input1 ", @placeholder = "Nhập website công ty" })
                        </div>
                    </div>
                   

                    <div class="row">


                        <div class="grid_12">
                            <div id="demo-upload" class="dropzone needsclick dz-clickable dz-started cusdropzone" method="POST" style="width: auto;" action="/Default/Blank">
                                <div class="dz-default dz-message cusbuttonmes " style="display: block;">
                                    <span class="btn btnUploadImage">
                                        <span class="btn btn-danger">Lựa chọn hình ảnh </span>
                                    </span>

                                </div>


                            </div>


                        </div>
                    </div>
                    <hr style="margin: 10px;" />
                    <h4>Loại tin đăng và lịch đăng tin</h4>
                    <label>Loaị tin rao<span class="required">*</span></label>


                    <ul class="radio idTabs idTabs-1 ">
                        @foreach (var typeNews in Model.ListBDSNewsType)
                        {
                            <li>
                                <a href="#@typeNews.CodeNewsType" class="radioType" onclick="document.forms[0]['tblBDSNew.IdTypeNews'].value='@typeNews.ID';calcMoney();">
                                    <input type="radio" value="@typeNews.ID" onclick="setTimeout(function(){document.forms[0]['tblBDSNew.IdTypeNews'].value='@typeNews.ID';},100)" class="radioIdType" name="tblBDSNew.IdTypeNews">
                                    <label>
                                        @typeNews.Name
                                    </label>
                                </a>
                            </li>
                        }


                    </ul>
                    <div class="content_tab-1">
                        @foreach (var typeNews in Model.ListBDSNewsType)
                        {
                            if (typeNews.CodeNewsType == "TDB")
                            {
                                <div id="@typeNews.CodeNewsType">
                                    <ul class="list_work">
                                        <li style="margin-bottom: 0">
                                            <div class="grid_3">
                                                <a href="">
                                                    <img src="~/Template/images/1.jpg" alt="1">
                                                    <p class="vip">
                                                        <i class="fa fa-star"></i>
                                                        <span>VIP</span>
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="grid_9 omega">
                                                <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                                <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                                <div>
                                                    <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triệu </p>
                                                    <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <p style="white-space: pre-line">
                                        @typeNews.Description
                                    </p>
                                </div>
                            }
                            if (typeNews.CodeNewsType == "TVP")
                            {
                                <div id="@typeNews.CodeNewsType">
                                    <ul class="list_work_2">
                                        <li>
                                            <div class="grid_9">
                                                <a href="#" class="image_2">
                                                    <img src="~/Template/images/2.jpg" alt="2">
                                                    <p class="vip">
                                                        <i class="fa fa-star"></i>
                                                        <span>VIP</span>
                                                    </p>
                                                </a>
                                                <div class="name">
                                                    <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                                    <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                                    <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                                </div>
                                            </div>
                                            <div class="grid_3 omega">
                                                <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triệu </p>
                                            </div>
                                        </li>

                                    </ul>
                                    <p style="white-space: pre-line">
                                        @typeNews.Description
                                    </p>
                                </div>
                            }
                            if (typeNews.CodeNewsType == "TBT")
                            {
                                <div id="@typeNews.CodeNewsType">
                                    <ul class="list_work_2 green">
                                        <li>
                                            <div class="grid_9">
                                                <a href="#" class="image_2">
                                                    <img src="~/Template/images/2.jpg" alt="2">
                                                    <p class="vip">
                                                        <i class="fa fa-star"></i>
                                                        <span>VIP</span>
                                                    </p>
                                                </a>
                                                <div class="name">
                                                    <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                                    <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                                    <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                                </div>
                                            </div>
                                            <div class="grid_3 omega">
                                                <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triệu </p>
                                            </div>
                                        </li>

                                    </ul>
                                    <p style="white-space: pre-line">
                                        @typeNews.Description
                                    </p>


                                </div>
                            }
                            if (typeNews.CodeNewsType == "TFE")
                            {
                                <div id="@typeNews.CodeNewsType">
                                    <ul class="last_list">
                                        <li style="border-top: 1px solid #dfdfdf;">
                                            <a href="#">Xử nhóm đàn em Năm Cam truy sát người tại bệnh viện</a>
                                        </li>


                                    </ul>
                                </div>
                            }

                        }


                    </div>
                    <div class="row">

                        <label>Thời gian đăng<span class="required">*</span></label>
                        <div class="row-right">
                            <div class="pncon">
                                <b>Từ</b>
                                @Html.TextBoxFor(m => m.tblBDSNew.FromCreateNews, new { @class = "input1 ", @style = "width:190px", @placeholder = "dd/MM/yyyy" })


                            </div>
                            <div class="pncon">
                                <b style="margin-left: 11px;">Đến</b>
                                @Html.TextBoxFor(m => m.tblBDSNew.ToCreateNews, new { @class = "input1 ", @style = "width:190px", @placeholder = "dd/MM/yyyy" })


                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <label>Thành tiền(VNĐ):</label>
                        <table class="table-responsive">
                            <tbody>
                                <tr>
                                    <td>Tiền theo giá gốc</td>
                                    <td><b><span class="priceInDay">0</span> VND/<span class="totalDay">1</span> ngày</b></td>

                                </tr>
                                <tr style="background: none!important;">
                                    <td>Tiền phải trả</td>
                                    <td><b><span class="TotalMoney">0</span> VND</b></td>

                                </tr>


                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <label>Mã an toàn (<span class="required">*</span>):</label>
                        <div class="row-right">
                            <div class="pncon marginright34">
                                @Html.TextBoxFor(model => model.tblCaptCha.Captcha)
                                @Html.ValidationMessageFor(model => model.tblCaptCha.Captcha)
                            </div>
                        </div>
                        <div class="row-right">
                            <div class="pncon">
                                <img alt="Captcha" src="@Url.Action("CaptchaImage")" style="" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label></label>
                        <button type="submit" id="submitbutton" class="btn btn-default btnAdd hidden"></button>

                        <div onclick="UploadImg(this)" class="btn btn-primary btnAdd1"><i class="fa fa-check" aria-hidden="true"></i>Đăng Tin</div>
                        <a class="btnCancel"><i class="fa fa-close" aria-hidden="true"></i>Hủy bỏ</a>

                    </div>

                </div>
            </div>
        </div>
        <div class="grid_3 omega main_right" id="sideRightPushy">

            @Html.Partial("_partialManagerCenter")

        </div>
    </div>
    <input type="hidden" name="cfile" />
    <input type="hidden" name="tblBDSNew.ID" class="idProduct_" value="@Model.tblBDSNew.ID" />
    <input type="hidden" name="nameImg" />
    <input type="hidden" id="hdMoneyInDay" name="tblBDSNew.MoneyInDay" />
    <input type="hidden" id="hdTotalMoney" name="tblBDSNew.TotalMoney" />

}
<link href="~/Template/css/UploadVanGia/main.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/dropzone.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/cropper.min.css" rel="stylesheet" />
<link href="~/Template/css/UploadVanGia/cussupload.css" rel="stylesheet" />
<script src="~/Template/js/UploadImg/cropperVG.js"></script>
<script src="~/Template/js/UploadImg/cusjsVG.js"></script>
<script src="~/Template/js/UploadImg/dropzoneVG.js"></script>
<style>
    a.radioType.selected {
       /* color: red;*/
    }
</style>
<script>

     
    function calcMoney() {
       
        var id = document.forms[0]['tblBDSNew.IdTypeNews'].value;
        var rDate = $('#tblBDSNew_FromCreateNews').val() + "-" + $('#tblBDSNew_ToCreateNews').val();
        if (id != null && id != "" && id != null && id != "" && $('#tblBDSNew_ToCreateNews').val() != "" && $('#tblBDSNew_FromCreateNews').val()!="") {
            $.getJSON("@Url.Action("CalcuMoney")?idType=" + id + "&rDate=" + encodeURIComponent( rDate), function(data) {
                $('#hdMoneyInDay').val(data.PriceInDay);
                $('#hdTotalMoney').val(data.TotalPrice);

                $('.priceInDay').html(tien(data.PriceInDay));
                $('.TotalMoney').html(tien(data.TotalPrice));
            });
        }

    };
    $(document).on("change", 'a.radioType,#tblBDSNew_FromCreateNews,#tblBDSNew_ToCreateNews', function () {

        var id = document.forms[0]['tblBDSNew.IdTypeNews'].value;
        var rDate = $('#tblBDSNew_FromCreateNews').val() + "-" + $('#tblBDSNew_ToCreateNews').val();
        if (id != null && id != "" && id != null && id != "" && $('#tblBDSNew_ToCreateNews').val() != "" && $('#tblBDSNew_FromCreateNews').val()!="") {
            $.getJSON("@Url.Action("CalcuMoney")?idType=" + id + "&rDate=" + encodeURIComponent( rDate), function(data) {
                $('#hdMoneyInDay').val(data.PriceInDay);
                $('#hdTotalMoney').val(data.TotalPrice);

                $('.priceInDay').html(tien(data.PriceInDay));
                $('.TotalMoney').html(tien(data.TotalPrice));
            });
        }

    });
   
    function tien(val) {

        if (val != null) {

            while (/(\d+)(\d{3})/.test(val.toString())) {
                val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            }
            return val + '';
        }
        else {
            return '';
        }

    }


	$( function() {
	    var dateFormat = "dd/mm/yy",
			from = $("#tblBDSNew_FromCreateNews")
				.datepicker({
					defaultDate: "+0d",
					changeMonth: true,
					numberOfMonths: 1,
					dateFormat: dateFormat
				})
				.on( "change", function() {
					to.datepicker( "option", "minDate", getDate( this ) );
				}),
			to = $("#tblBDSNew_ToCreateNews").datepicker({
				defaultDate: "+3d",
				changeMonth: true,
				numberOfMonths: 1,
				dateFormat: dateFormat
			})
			.on( "change", function() {
				from.datepicker( "option", "maxDate", getDate( this ) );
			});

		function getDate( element ) {
			var date;
		    try {

				date = $.datepicker.parseDate( dateFormat, element.value );
			} catch( error ) {
				date = null;
			}

			return date;
		}
	} );

    $('.checkCarrie').click(function () {

        var listItem = $('.checkCarrie:checked').map(function () {

            return $(this).val();
        });
        var uu = '';
        $.each(listItem, function (i, o) {
            uu += o + ',';
        });
        $('#tblBDSNew_Career').val(uu);
        console.log(uu);

    });
    jQuery(document).ready(function ($) {

        if ($('.radioType').hasClass('selected')) {
            $('.selected .radioIdType').prop('checked', true);
        }

    });
    $('.radioType').click(function() {
        $(this).find('.radioIdType').prop('checked', true);
    });

    $("#submitbutton").on('click', function (e) {
        e.preventDefault();

            $('#submitbutton').parents("form").submit();


    });

    function dropNew(ed) {

        var console = window.console || { log: function () { } };
        var $image = $(ed).parents(".dz-preview").find('#cusimg');
        var $download = $('#download');
        var $dataX = $(ed).parents(".dz-preview").find('#dataX');
        var $dataY = $(ed).parents(".dz-preview").find('#dataY');
        var $dataHeight = $(ed).parents(".dz-preview").find('#dataHeight');
        var $dataWidth = $(ed).parents(".dz-preview").find('#dataWidth');
        var $dataRotate = $(ed).parents(".dz-preview").find('#dataRotate');
        var $dataScaleX = $(ed).parents(".dz-preview").find('#dataScaleX');
        var $dataScaleY = $(ed).parents(".dz-preview").find('#dataScaleY');
        var $putData = $(ed).parents(".dz-preview").find('#dataimg');


        var options = {
            aspectRatio: 16/9,
            preview: '.img-preview',
            crop: function (e) {
                $dataX.val(Math.round(e.x));
                $dataY.val(Math.round(e.y));
                $dataHeight.val(Math.round(e.height));
                $dataWidth.val(Math.round(e.width));
                $dataRotate.val(e.rotate);
                $dataScaleX.val(e.scaleX);
                $dataScaleY.val(e.scaleY);
            }
        };


        // Tooltip
        $(ed).find('[data-toggle="tooltip"]').tooltip();


        // Cropper
        $image.on({
            'build.cropper': function (e) {
                // console.log(e.type);
            },
            'built.cropper': function (e) {
                // console.log(e.type);
            },
            'cropstart.cropper': function (e) {
                // console.log(e.type, e.action);
            },
            'cropmove.cropper': function (e) {
                // console.log(e.type, e.action);
            },
            'cropend.cropper': function (e) {
                //console.log(e.type, e.action);
            },
            'crop.cropper': function (e) {
                //console.log(e.type, e.x, e.y, e.width, e.height, e.rotate, e.scaleX, e.scaleY);
                //console.log(e.type);
                //console.log(e.x);
                //console.log(e.y);
                //console.log(e.width);
                //console.log(e.height);
                //console.log(e.rotate);
                //console.log(e.scaleX);
                //console.log(e.scaleY);


            },
            'zoom.cropper': function (e) {
                // console.log(e.type, e.ratio);
            }
        }).cropper(options);


        //// Buttons
        if (!$.isFunction(document.createElement('canvas').getContext)) {
            $(ed).parents('.dz-preview').eq(0).find('button[data-method="getCroppedCanvas"]').prop('disabled', true);
        }

        if (typeof document.createElement('cropper').style.transition === 'undefined') {
            $(ed).parents('.dz-preview').eq(0).find('button[data-method="rotate"]').prop('disabled', true);
            $(ed).parents('.dz-preview').eq(0).find('button[data-method="scale"]').prop('disabled', true);
        }


        // Methods
        $(ed).parents('.dz-preview').eq(0).find('.docs-buttons').on('click', '[data-method]', function () {
            var $this = $(this);
            var data = $this.data();
            var $target;
            var result;

            if ($this.prop('disabled') || $this.hasClass('disabled')) {
                return;
            }

            if ($image.data('cropper') && data.method) {
                data = $.extend({}, data); // Clone a new one

                if (typeof data.target !== 'undefined') {
                    $target = $(data.target);

                    if (typeof data.option === 'undefined') {
                        try {
                            data.option = JSON.parse($target.val());
                        } catch (e) {
                            console.log(e.message);
                        }
                    }
                }

                result = $image.cropper(data.method, data.option, data.secondOption);

                switch (data.method) {
                    case 'scaleX':
                    case 'scaleY':
                        $(this).data('option', -data.option);
                        break;

                    case 'getCroppedCanvas':
                        console.log(result.toDataURL().length);
                        var duongdancrop = result.toDataURL();
                        $(ed).parents(".dz-preview").find('.cussimg').attr("src", duongdancrop);
                        $(ed).parents(".dz-preview").find('.cropper-canvas img:first').attr("src", duongdancrop);
                        $(ed).parents(".dz-preview").find('.cropper-view-box img:first').attr("src", duongdancrop);

                        //hiden control drop
                        $(ed).parent().parent().find('#imgmain').find("img:first").removeClass('cropper-hidden');
                        $(ed).parent().parent().find('#imgmain').find("img:first").next().addClass('cropper-hidden');
                        //hiden control drop end
                        if (result) {


                            if (isserver) {
                                //save to sever

                                $putData.text(result.toDataURL());

                            } else {
                                $putData.text(result.toDataURL());
                            }

                            // Bootstrap's Modal
                            //$('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

                            //if (!$download.hasClass('disabled')) {
                            //    $download.attr('href', result.toDataURL());


                            //}
                        }

                        break;
                }

                if ($.isPlainObject(result) && $target) {
                    try {
                        $target.val(JSON.stringify(result));
                    } catch (e) {
                        console.log(e.message);
                    }
                }

            }
        });


    }
    var isserver = false;

    function uploadtoserver() {
        $.each($('.cbtn-info-ok'), function (i, o) {

            if ($(o).parents('.dz-preview').find('.tools.final').hasClass('hidden')) {
                isserver = true;

                $(o).click();
            }
        }
        );
        return false;
    }

    function UploadImg(obj) {
        var t = 0;
        if ($('#tblCaptCha_Captcha').val() == "") {
            toastr.error('Vui lòng nhập Mã an toàn!');
            t++;
        }
        if (  $('#tblBDSNew_FromCreateNews').val()>$('#tblBDSNew_ToCreateNews').val()) {
            toastr.error('Ngày bất đầu không được lớn hơn ngày kết thúc!');
            t++;
        }

        if ($('#tblBDSNew_ToCreateNews').val() == "") {
            toastr.error('Vui lòng nhập Ngày kết thúc đăng tin!');
            t++;
        }
if ($('#tblBDSNew_FromCreateNews').val() == "") {
            toastr.error('Vui lòng nhập Ngày bất đầu đăng tin!');
            t++;
        }
        if ($('.dz-preview').size() == 0) {

            toastr.error('Vui lòng chọn ít nhất một hình!');
            t++;
        }



         if ($('#tblBDSNew_Benefit').val() == "") {
            toastr.error('Vui lòng nhập Quyền lợi được hưởng!');
            t++;
         }
        if ($('#tblBDSNew_DesWork').val() == "") {
            toastr.error('Vui lòng nhập Mô tả công việc!');
            t++;
        }
         if ($('#tblBDSNew_DesCompany').val() == "") {
            toastr.error('Vui lòng nhập Giới thiệu công ty!');
            t++;
        }
         if ($('.checkCarrie:checked').size() > 3) {

             toastr.error('Chỉ chọn được 3 việc làm!');
             t++;
         }
        if ($('#tblBDSNew_IdEducation').val() == "") {
            toastr.error('Vui lòng chọn trình độ!');
            t++;
        }
        if ($('#tblBDSNew_IdTimeWork').val() == "") {
            toastr.error('Vui lòng chọn kinh nghiệm!');
            t++;
        }

if ($('#tblBDSNew_Bonus').val() == "") {
            toastr.error('Vui lòng nhập Thưởng/phụ cấp!');
            t++;
        }
        if ($('#DropQuantity').val() == "0") {
            toastr.error('Vui lòng chọn số lượng!');
            t++;
        }
        if ($('#DropToSalary').val() == "0") {
            toastr.error('Vui lòng chọn mức lương đến!');
            t++;
        }
        if ($('#DropFromSalary').val() == "0") {
            toastr.error('Vui lòng chọn mức lương từ!');
            t++;
        }
        if ($('#tblBDSNew_AddressWork').val() == 0) {
            toastr.error('Vui lòng chọn nơi làm việc!');
            t++;
        } if ($('#tblBDSNew_Title').val() == "") {
            toastr.error('Vui lòng nhập Tiêu đề!');
            t++;
        }
        if (t==0) {
            $('.cropper-container img').css({ "transform": "none" });
            $('.btnAdd1').text('Đang xữ lý');
            $('.btnAdd1').addClass('disabled');
            uploadtoserver();
            var totalitem = $('.dz-preview').size();
            $.each($('.dz-preview'), function (i, o) {
                $(o).find("input:radio[name=groupimg][disabled=false]:first").attr('checked', true);
                var image = $(o).find('#cusimg');
                var valuerotate = $(o).find('#dataRotate').val();
                var dataX = $(o).find('#dataX').val();
                var dataY = $(o).find('#dataY').val();
                var dataHeight = $(o).find('#dataHeight').val();
                var dataWidth = $(o).find('#dataWidth').val();
                var right = $(window).width() - dataX - image.width();
                var bottom = $(window).height() - dataY - image.height();
                var dataimg = $(o).find('#dataimg').text();
                var dataname = $(o).find('.cusinput').val();
                var idpic = $(o).find('#cusimg').attr('rel');

                document.getElementsByName('cfile')[0].value = dataimg;
                document.getElementsByName('nameImg')[0].value = dataname;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveImg", "Adverts")",
                    data: { idProducts:99999999, index: i, nameImg: dataname, cfile: (dataimg == null ? "" : dataimg), isactive: $(o).find('input:checked').size(), idpicture: idpic },

                success: function (data) {
                    $(o).find('#cusimg').attr('rel', data.d);

                    totalitem--;

                    if (totalitem == 0) {
                        $('.btnAdd1').text('Đăng Tin');
                        $('.btnAdd1').removeClass('disabled');
                        $('.btnAdd').click();
                    }

                },
                error: function (e) {
                    toastr.error('Vui lòng chọn lại hình ảnh');
                }
            });
        });
            return true;
        }



    }

</script>
