@{
    ViewBag.Title = "RegisterPersonal";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@model WebBDS_Project.Models.RegisterInformationModel
@using (Html.BeginForm("RegisterPersonal", "Register"))
{
    <div class="container">
        <div class="grid_12 ">
            <div class="group_work">
                <div class="header_text header_radius header-info-background">
                    <h3><span><i class="fa fa-list-ul"></i>Đăng ký tài khoản người tìm việc</span></h3>
                </div>
                <div class="form-horizontal-register form-in-register padding_box" data-validate="parsley" action="#">
                    <h4><span class="required">*</span><span class="clInforequired">Thông tin bất buộc</span> </h4>
                    <div class="row">Quý khách sử dụng thông tin tài khoản này để đăng nhập vào CareerBuilder.vn</div>
                    <div class="row">
                        <label>Email đăng nhập<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.TblBdsAdcount.Email, new { @class = "input1", @placeholder = "Nhập email" })
                        </div>

                        <div class="row-right note2" style="line-height:16px;">

                            <i class="fa fa-caret-right"></i>Cũng là tên đăng nhập chính của quý công ty trên CareerBuilder.vn
                            <br />
                            <a class="lblcheckEmail" href="javascript:void(0)">Kiểm tra sự tồn tại của email</a>
                        </div>
                    </div>
                    <div class="row">
                        <label>Xác nhận Email<span class="required">*</span></label>
                        <div class="row-right">
                            <input class="input1" id="EmailSeccond" placeholder="Xác nhận Email" type="text">
                        </div>
                        <div class="grid_6"></div>
                    </div>
                    <div class="row">
                        <label>Mật khẩu<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.PasswordFor(m => m.TblBdsAdcount.PassWord, new { @class = "input1", @placeholder = "Nhập mật khẩu" })
                        </div>

                    </div>
                    <div class="row">
                        <label>Xác nhận mật khẩu<span class="required">*</span></label>
                        <div class="row-right">
                            <input class="input1 " id="PasswordSecond" placeholder="Nhập lại mật khẩu" type="password">
                        </div>

                    </div>

                </div>
                <div class="header_text header-info header-info-background">
                    <h3><span><i class="fa fa-list-ul"></i>Thông tin cá nhân</span></h3>
                </div>
                <div class="form-horizontal-register form-in-register form-have-border-bottom padding_box " data-validate="parsley" action="#">
                    <div class="row row_name">
                        <label>Họ và tên<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.TblBDSPersonalInformation.Name, new { @class = "input1", @placeholder = "Nhập họ và tên" })
                        </div>


                        <label class="child">Ngày sinh<span class="required">*</span></label>
                        <div class="pncon">
                            <input class="cus-input2" id="day" placeholder="DD" type="text">
                        </div>
                        <div class="pncon">

                            <input class="cus-input2" id="month" placeholder="MM" type="text">
                        </div>

                        <div class="pncon">
                            <input class="cus-input2 mg0_0 " id="year" placeholder="YYYY" type="text">
                            <input class="cus-input2 mg0_0 datepicker" name="TblBDSPersonalInformation.Birthday" style="display:none;" value="" id="hdValuesDate" placeholder="YYYY" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <label>Số điện thoại<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.TblBDSPersonalInformation.Phone, new { @class = "input1", @placeholder = "Nhập số điện thoại" })
                        </div>


                        <label class="child">Giới tính<span class="required">*</span></label>

                        <div class="pncon radio_2">
                            <label><input type="radio" value="1" name="TblBDSPersonalInformation.Sex" checked="checked"> Nam</label>
                            <label><input type="radio" value="2" name="TblBDSPersonalInformation.Sex"> Nữ</label>

                        </div>



                    </div>

                    <div class="row">

                        <label >Địa chỉ liên hệ<span class="required"> *</span></label>
                        <div class="row-right">


                            @Html.TextBoxFor(m => m.TblBDSPersonalInformation.PermanentAddress, new {@placeholder = "Nhập địa chỉ thường trú", @class = "input4"})

                        </div>





                    </div>
                    <div class="row">

                        <label>Địa chỉ liên hệ<span class="required"> *</span></label>
                        <div class="row-right">


                            @Html.TextBoxFor(m => m.TblBDSPersonalInformation.TemporaryAddress, new { @placeholder = "Nhập địa chỉ liên hệ", @class = "input4" })

                        </div>





                    </div>
                    <div class="row">
                        <div class="width4">
                            <label>Hôn nhân<span class="required"> *</span></label>
                            <div class="row-right">


                                @Html.DropDownListFor(m => m.TblBDSPersonalInformation.MaritalStatus, new SelectList(Model.ListMarriea, "Id", "Name"), "Chọn tình trạng hôn nhân", new {@class = "dropdown"})




                            </div>
                        </div>
                        <div class="row-right width4">

                            <label class="child">Nơi làm việc <span class="required">*</span></label>
                            <div class="row-right">

                                @Html.DropDownListFor(m => m.TblBDSPersonalInformation.Province, new SelectList(Model.ListGeoModel, "CityId", "CityName"), new { @class = "select2" })

                            </div>
                        </div>
                       



                    </div>
                    <div class="row">
                        <div class="width4">
                            <label>Kinh nghiệm<span class="required"> *</span></label>
                            <div class="row-right">

                                @Html.DropDownListFor(m => m.tblBDSPerNew.ExperienceProfile, new SelectList(Model.ListTimework, "Id", "Name"), "Chọn kinh nghiệm", new {@class = "dropdown"})


                            </div>
                        </div>
                        <div class="row-right width4">

                            <label class="child">Mức lương <span class="required">*</span></label>
                            <div class="row-right">
                                @Html.DropDownListFor(m => m.tblBDSPerNew.SalaryProfile, new SelectList(Model.ListSalary, "Id", "Name"), "Chọn mức lương", new { @class = "dropdown" })
                            </div>
                        </div>



                    </div>

                    <div class="row">
                        <label>Công việc <span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSPerNew.CareerProfile, new SelectList(Model.ListBDSCareer, "Id", "Name"), "Chọn ngành nghề", new { @class = "dropdown" })


                        </div>
                      


                        <div class="row-right width4">

                            <label class="child">Học vấn <span class="required">*</span></label>
                            <div class="row-right">

                                @Html.DropDownListFor(m => m.tblBDSPerNew.EducationProfile, new SelectList(Model.ListDucation, "Id", "Name"), "Chọn học vấn", new { @class = "dropdown" })

                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <label style="width: 360px;">Kinh nghiệm trong ngành bất động sản<span class="required">*</span></label>
                        <div class="pncon radio_3">
                            <label><input name="TblBDSPersonalInformation.ProfessionalExperience" value="0" checked="checked" type="radio">Không</label>
                            <label><input name="TblBDSPersonalInformation.ProfessionalExperience" value="1" type="radio">Đã có kinh nghiệm</label>
                        </div>



                    </div>

                    <div class="row">
                        <label>Giới thiệu sơ lược</label>
                        <div class="row-right">
                            <textarea class="input4" name="TblBDSPersonalInformation.Description" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="row">

                        <label>Logo Công Ty</label>
                        <div class="logo_jobs">
                            <div class="grid_5 uploadBox">
                                <img width="80" id="imgLogoCompany" src="~/Template/images/avatar-default.png" />

                                <input type="hidden" value="" name="TblBDSPersonalInformation.UrlImage" id="UrlImage" />
                            </div>
                            <div class="uploadBox-1">
                                <a href="javascript:void(0)" id="uploadIcon" class="btn btnUpload">
                                    + UpLoad Image
                                </a>
                                <input type="file" style="visibility: hidden;" value="upload" id="uploadFile" class="uploadFile" />
                            </div>
                        </div>

                        <div class="text_jobs">

                            <span>(Khuyến cáo:Quý công ty nên tải hình ảnh logo hoặc hình ảnh hoạt động của Công Ty,sẽ tăng gấp 2 lần khả năng tiếp cận ứng viên)</span>
                        </div>
                    </div>
                    <div class="row">
                        <label>Mã an toàn (<span class="required">*</span>):</label>
                        <div class="row-right">
                            <div class="pncon marginright34">
                                @Html.TextBoxFor(model => model.tblCaptCha.Captcha)
                                @Html.ValidationMessageFor(model => model.tblCaptCha.Captcha)
                            </div>
                        </div>
                        <div class="row-right">
                            <div class="pncon">
                                <img alt="Captcha" src="@Url.Action("CaptchaImage")" style="" />
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">

                        <div class="grid_12">
                            <span>Bằng việc nhấp vào "Đăng ký nhanh",bạn đã đồng ý với các điều khoản ghi trong   <a class="lblcheckEmail" href="#">thỏa thuận dịch vụ của CareerBuilder.vn</a></span>
                        </div>

                    </div>
                    <div class="row">
                        <label>&nbsp;</label>

                        <button type="submit" style="width: 100px" id="submitbutton" class="grid_2 btnSubmit">Đăng ký</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
}
<script>
    $(function () {
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Template/images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date"
        });
        $('#hdValuesDate').change(function () {
            var birthday = $('#hdValuesDate').val().split('/');
            $('#day').val(birthday[1]);
            $('#month').val(birthday[0]);
            $('#year').val(birthday[2]);

        });
        $("#year").change(function () {

            var datet = $('#month').val() + "/" +  $('#day').val() + "/" + $('#year').val();
            $('#hdValuesDate').val(datet);
        });
        $("#day").change(function () {

            var datet = $('#month').val() + "/" +  $('#day').val() + "/" + $('#year').val();
            $('#hdValuesDate').val(datet);
        });
        $("#month").change(function () {

            var datet = $('#month').val() + "/" +  $('#day').val() + "/" + $('#year').val();
            $('#hdValuesDate').val(datet);
        });
    });
 
    $("#submitbutton").on('click', function (e) {
        e.preventDefault();
        var t = 0;
        if ($('#tblCaptCha_Captcha').val() == "") {

            toastr.error('Vui lòng nhập captcha! ');
            t++;
        }
        if ($('#TblBDSPersonalInformation_IdLoaiNghe').val() == "") {

            toastr.error('Vui lòng chọn nghành nghề! ');
            t++;
        }
        if ($('#TblBDSPersonalInformation_Education').val() == "") {

            toastr.error('Vui lòng chọn học vấn! ');
            t++;
        }
        if ($('#TblBDSPersonalInformation_Experience').val() == "") {

            toastr.error('Vui lòng chọn kinh nghiệm! ');
            t++;
        }
        if ($('#TblBDSPersonalInformation_Salary').val() == "") {

            toastr.error('Vui lòng chọn mức lương! ');
            t++;
        }
        if ($('#TblBDSPersonalInformation_MaritalStatus').val() =="") {

            toastr.error('Vui lòng chọn tình trạng hôn nhân! ');
            t++;
        }
        if ($('#dropDistrict').val() == 0) {

            toastr.error('Vui lòng chọn Thành/Phố ');
            t++;
        }
        if ($('#dropCity').val() == 0) {

            toastr.error('Vui lòng chọn Thành/Phố ');
            t++;
        }

        if ($('#TblBDSPersonalInformation_Address').val() == "") {

            toastr.error('Vui lòng nhập địa chỉ ');
            t++;
        }

        if ($('#TblBDSEmployerInformation_Phone').val() != "") {
            if ($('#TblBDSEmployerInformation_Phone').length > 11) {

                toastr.error('Số điện thoại tối đa 11 số!');
                t++;
            }
        }
        else {
            toastr.error('Vui lòng nhập Số điện thoại!');
            t++;
        }
       
        if ($('#TblBDSPersonalInformation_Name').val() == "") {

            toastr.error('Vui lòng nhập họ và tên ');
            t++;
        }
        if ($('#TblBdsAdcount_PassWord').val() != $('#PasswordSecond').val()) {

            toastr.error('Password không trùng khớp!');
            t++;
        }
        if ($('#TblBdsAdcount_PassWord').val() == "") {

            toastr.error('Vui lòng nhập  Password!');
            t++;
        }
        if ($('#EmailSeccond').val() == "") {

            toastr.error('Vui lòng nhập lại Email!');
            t++;
        }
        else {

            if ($('#EmailSeccond').val() != $('#TblBdsAdcount_Email').val()) {

                toastr.error('Email không trùng khớp!');
                t++;
            }

        }
        if ($('#TblBdsAdcount_Email').val() == "") {

            toastr.error('Vui lòng nhập Email!');
            t++;
        }
        else {
            if (!isValidEmailAddress($('#TblBdsAdcount_Email').val())) {
                toastr.error('Email không đúng định dạng!');
                t++;
            }
            else {
                CheckEmail();
                var EmailCount = $('#warrper').attr('value');
                if (EmailCount > 0) {
                    toastr.error('Email "' + $('#TblBdsAdcount_Email').val() + '" đã tồn tại!');
                    t++;
                }
            }

        }


       


     
        if (t == 0) {
            $('#submitbutton').parents("form").submit();
        }

    });
    $("#TblBDSPersonalInformation_Phone").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40) || (e.keyCode == 231)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    $(".btnUpload").click(function () {
        $(this).next().trigger('click');
    });
  
    $("#uploadFile").change(function () {
        var data = new FormData();
        var files = $("#uploadFile").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }
        $.ajax({
            url: '@Url.Action("UploadImg", "Register")',
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                $('#imgLogoCompany').attr('src', response.fullurl);
                $('#UrlImage').val(response.imgName);

            },
            error: function (er) {

            }

        });
    });
    $('#TblBDSPersonalInformation_City').change(function () {
        var idCity = $("#TblBDSPersonalInformation_City option:selected").val();
        var idCityText = $("#TblBDSPersonalInformation_City option:selected").text();
        GetDistrict1(idCity);
        $('.select2').select2();
    });
    function GetDistrict1(_id) {

        //Get City
        var url = "/Register/GetDistrict";
        var stringCity = "<option value=\"0\">Chọn quận huyện</option>";
        var obj = {};
        obj.id = _id;
        $('#TblBDSPersonalInformation_District').html('');
        $.ajax
       ({
           type: "POST",
           url: url,
           data: JSON.stringify(obj),
           dataType: "json",
           contentType: "application/json;charset=utf-8",
           success: function (data) {

               $.each(data, function (i, o) {

                   stringCity += "<option value=" + o.DistId + ">" + o.DistName + "</option>";

               });

               $('#TblBDSPersonalInformation_District').html(stringCity);
               $('#TblBDSPersonalInformation_District').change(function () {

                   var idDistric = $("#TblBDSPersonalInformation_District option:selected").val();

               });

           }
       });
    }
</script>
<style>
    .selectric-wrapper .selectric {
        height: 31px;
    }
        .selectric-wrapper .selectric .button {
            height: 31px;
            line-height: 321px;
        }
        .selectric-wrapper .selectric .label {
            height: 31px;
            line-height: 31px;
        }
    .ui-datepicker-trigger {
        padding-top: 10px;
    }
    .selectric-items {
        left: 0px;
    }

    @("@")media only screen and (max-width: 1120px) {
                                                .width2 {
        width: 50% !important;
    }      
    .selectric-wrapper
     {
        width: initial
    }
    .row-right.fix {
    margin-top: 3px;
}
        }

</style>