@model WebBDS_Project.Models.RegisterInformationModel
@{
    ViewBag.Title = "Trang đăng ký cho nhà tuyển dụng";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@using (Html.BeginForm("RegisterCompany", "Register"))
{
    <div class="container">
        <div class="grid_12 ">
            <div class="group_work">
                <div class="header_text header_radius header-info-background">
                    <h3><span><i class="fa fa-list-ul"></i>Đăng tin tuyển dụng nhân viên</span></h3>
                </div>
                <div class="form-horizontal-register form-in-register padding_box" data-validate="parsley" action="#">
                    <h4><span class="required">*</span><span class="clInforequired">Thông tin bất buộc</span> </h4>
                    <div class="row">Quý khách sử dụng thông tin tài khoản này để đăng nhập vào CareerBuilder.vn</div>
                    <div class="row">
                        <label>Email đăng nhập<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.TblBdsAdcount.Email, new { @class = "input1", @placeholder = "Nhập email" })
                        </div>

                        <div class="row-right note2" style="line-height:16px;">

                            <i class="fa fa-caret-right"></i>Cũng là tên đăng nhập chính của quý công ty trên CareerBuilder.vn
                            <br />
                            <a class="lblcheckEmail" href="javascript:void(0)">Kiểm tra sự tồn tại của email</a>
                        </div>
                    </div>
                    <div class="row">
                        <label>Xác nhận Email<span class="required">*</span></label>
                        <div class="row-right">
                            <input class="input1" id="EmailSeccond" placeholder="Xác nhận Email" type="text">
                        </div>
                        <div class="grid_6"></div>
                    </div>
                    <div class="row">
                        <label>Mật khẩu<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.PasswordFor(m => m.TblBdsAdcount.PassWord, new { @class = "input1", @placeholder = "Nhập mật khẩu" })
                        </div>

                    </div>
                    <div class="row">
                        <label>Xác nhận mật khẩu<span class="required">*</span></label>
                        <div class="row-right">
                            <input class="input1 " id="PasswordSecond" placeholder="Nhập lại mật khẩu" type="password">
                        </div>

                    </div>

                </div>
                <div class="header_text header-info header-info-background">
                    <h3><span><i class="fa fa-list-ul"></i>Đăng tin tuyển dụng nhân viên</span></h3>
                </div>
                <div class="form-horizontal-register form-in-register form-have-border-bottom padding_box" data-validate="parsley" action="#">
                    <div class="row">
                        <label>Tên công ty<span class="required"> *</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.TblBDSEmployerInformation.Name, new { @class = "input1", @placeholder = "Nhập tên công ty" })
                        </div>


                    </div>
                    <div class="row">
                        <label>Quy mô công ty<span class="required"> *</span></label>
                        <div class="row-right">

                            @Html.DropDownListFor(m => m.TblBDSEmployerInformation.Scope, new SelectList(Model.ListBDSScopes, "Id", "Name"), new { @class = "dropdown" })
                      
                          </div>


                    </div>
                    <div class="row">
                        <label>Sơ lược về công ty<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextAreaFor(m => m.TblBDSEmployerInformation.Description, new { @class = "input4",@row="5" })


                        </div>
                    </div>


                    <div class="row">

                        <label >Địa chỉ công ty<span class="required"> *</span></label>
                        <div class="row-right">


                            @Html.TextBoxFor(m => m.TblBDSEmployerInformation.Address, new { @placeholder = "Nhập địa chỉ liên hệ",@class="input1" })

                        </div>
                        <label class="child">Tỉnh/Thành phố</label>
                        <div class="row-right1  grid_2">

                            @Html.DropDownListFor(m => m.TblBDSEmployerInformation.City, new SelectList(Model.ListGeoModel, "CityId", "CityName"), new { @class = "select2", @style = "width:100%;" })

                        </div>

                        <div class="row-right1  grid_3">


                            @Html.DropDownListFor(m => m.TblBDSEmployerInformation.District, new SelectList(Model.ListGeoDisModel, "DistId", "DistName"), new { @class = "select2", @style = "width:100%;" })
                        </div>


                    </div>

                    <div class="row">
                        <label>Tên người liên hệ<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.TextBoxFor(m => m.TblBDSEmployerInformation.NameContact, new { @class = "input1", @placeholder = "Nhập tên người liên hệ" })
                        </div>


                    </div>
                    <div class="row">
                        <label>Điện thoại<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.TextBoxFor(m => m.TblBDSEmployerInformation.Phone, new { @class = "input1", @placeholder = "Nhập điện thoại" })
                        </div>


                    </div>
                    <div class="row">

                        <label>Logo Công Ty</label>
                        <div class="logo_jobs">
                            <div class="grid_5 uploadBox">
                                <img width="80" id="imgLogoCompany" src="~/Template/images/avatar-default.png" />
                                <input type="hidden" value="" name="TblBDSEmployerInformation.UrlImage" id="UrlImage" />
                            </div>
                            <div class="uploadBox-1">
                                <a href="javascript:void(0)" id="uploadIcon" class="btn btnUpload">
                                    + UpLoad Image
                                </a>
                                <input type="file" style="visibility: hidden;" value="upload" id="uploadFile" class="uploadFile" />
                            </div>
                        </div>

                        <div class="text_jobs">

                            <span>(Khuyến cáo:Quý công ty nên tải hình ảnh logo hoặc hình ảnh hoạt động của Công Ty,sẽ tăng gấp 2 lần khả năng tiếp cận ứng viên)</span>
                        </div>




                    </div>
                    <div class="row">
                        <label>Mã an toàn (<span class="required">*</span>):</label>
                        <div class="row-right">
                            <div class="pncon marginright34">
                                @Html.TextBoxFor(model => model.tblCaptCha.Captcha)
                                @Html.ValidationMessageFor(model => model.tblCaptCha.Captcha)
                            </div>
                        </div>
                        <div class="row-right">
                            <div class="pncon">
                                <img alt="Captcha" id="capcha" src="@Url.Action("CaptchaImage")" style="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="grid_12">
                            <span>Bằng việc nhấp vào "Đăng ký nhanh",bạn đã đồng ý với các điều khoản của tuyển nhân viên bất động sản   </span>
                        </div>

                    </div>
                    <div class="row">
                       
                        <label>&nbsp</label>
                        <div class="row-right">
                            <button type="submit" style="width: 100px" id="submitbutton" class="grid_2 btnSubmit">Đăng ký</button>
                        </div>

                        

                    </div>
                </div>
               

            </div>
        </div>
    </div>

    <div id="test-modal" class="mfp-hide white-popup-block box_info">
        <div>
            <h1>Đăng tin thành công</h1>
        </div>
        <div style="display: inline-block">
            <p>
                <i class="fa fa-exclamation-triangle fa-3x" style="color: #37a344;" aria-hidden="true"></i><span class=""> Bạn đã đăng ký thành công.</span>
                <span class="cusTextWarning">
                    -Bạn vừa đăng kí thành công.
                </span>
                <span class="cusTextWarning">    -Vui lòng kiểm tra email để kích hoạt tài khoản.</span>

            </p>
            
        </div>
        <div style="display: inline-block; width: 100%; margin-top: 10px;">
            <p style="text-align: center; padding: 0px; margin: 0px;">


                <a href="@Url.Action("Index", "Default")" class="btn btnUpload">
                    Về trang chủ
                </a>
            </p>
        </div>

      
    </div>


    <a class="popup-modal hidden" href="#test-modal">Open modal</a>
}
<style>
    #test-modal h1 {
        margin: 0px;
    }
</style>
<script>

    $(document).on('submit', 'form', function () {

        var formData = new FormData(this);

        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            async: false,
            success: function (data) {

                if (data.Status) {
                    toastr.success(data.Msg);
                    $('#submitbutton').hide();
                    $('a.popup-modal').click();
                } else {
                    toastr.error(data.Msg);
                    $('#capcha').attr('src', $('#capcha').attr('src') + '?r=' + new Date().getTime());
                }
                console.log(data);
            },
            cache: false,
            contentType: false,
            processData: false
        });
        return false;

    });
    $("#submitbutton").on('click', function (e) {
        e.preventDefault();
        var t = 0;
        
      
       
       



        if ($('#tblCaptCha_Captcha').val() == "") {

            toastr.error('Vui lòng nhập captcha! ');
            t++;
        }
        if ($('#TblBDSEmployerInformation_Phone').val() != "") {
            if ($('#TblBDSEmployerInformation_Phone').length > 11) {

                toastr.error('Số điện thoại tối đa 11 số!');
                t++;
            }
        }
        else {
            toastr.error('Vui lòng nhập Số điện thoại!');
            t++;
        }
        if ($('#TblBDSEmployerInformation_NameContact').val() == "") {

            toastr.error('Vui lòng nhập tên liên hệ!');
            t++;
        }

        if ($('#TblBDSEmployerInformation_Address').val() == "") {

            toastr.error('Vui lòng nhập địa chỉ công ty!');
            t++;
        }
        if ($('#TblBDSEmployerInformation_Description').val() == "") {

            toastr.error('Vui lòng nhập sơ lược công ty!');
            t++;
        }
        else {
            if ($('#TblBDSEmployerInformation_Description').val().length >= 4000) {

                toastr.error('Sơ lược công ty chỉ tối đa 4000 kí tự! ');
                t++;
            }
        }

        if ($('#TblBDSEmployerInformation_Name').val() == "") {

            toastr.error('Vui lòng nhập tên công ty!');
            t++;
        }
        if ($('#TblBdsAdcount_PassWord').val() != $('#PasswordSecond').val()) {

            toastr.error('Password không trùng khớp!');
            t++;
        }
        if ($('#TblBdsAdcount_PassWord').val() == "") {

            toastr.error('Vui lòng nhập  Password!');
            t++;
        }
        if ($('#EmailSeccond').val() == "") {

            toastr.error('Vui lòng nhập lại Email!');
            t++;
        }
        else {

            if ($('#EmailSeccond').val() != $('#TblBdsAdcount_Email').val()) {

                toastr.error('Email không trùng khớp!');
                t++;
            }

        }
        if ($('#TblBdsAdcount_Email').val() == "") {

            toastr.error('Vui lòng nhập Email!');
            t++;
        }
        else {
            if (!isValidEmailAddress($('#TblBdsAdcount_Email').val())) {
                toastr.error('Email không đúng định dạng!');
                t++;
            }
            else {
                CheckEmail();
                var EmailCount = $('#warrper').attr('value');
                if (EmailCount > 0) {
                    toastr.error('Email "' + $('#TblBdsAdcount_Email').val() + '" đã tồn tại!');
                    t++;
                }
            }

        }

        if (t == 0) {
            $('#submitbutton').parents("form").submit();
        }

    });


    $("#TblBDSEmployerInformation_Phone").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40) || (e.keyCode == 231)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $("#uploadIcon").click(function () {
        $(this).next().trigger('click');
    });

    $("#uploadFile").change(function () {
        var data = new FormData();
        var files = $("#uploadFile").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }
        $.ajax({
            url: '@Url.Action("UploadImg", "Register")',
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                $('#imgLogoCompany').attr('src', response.fullurl);
                $('#UrlImage').val(response.imgName);

            },
            error: function (er) {

            }

        });
    });
    $('#TblBDSEmployerInformation_City').change(function () {
        var idCity = $("#TblBDSEmployerInformation_City option:selected").val();
        var idCityText = $("#TblBDSEmployerInformation_City option:selected").text();
        GetDistrict1(idCity);
        $('.select2').select2();
    });
    function GetDistrict1(_id) {

        //Get City
        var url = "/Register/GetDistrict";
        var stringCity = "<option value=\"0\">Chọn quận huyện</option>";
        var obj = {};
        obj.id = _id;
        $('#TblBDSEmployerInformation_District').html('');
        $.ajax
       ({
           type: "POST",
           url: url,
           data: JSON.stringify(obj),
           dataType: "json",
           contentType: "application/json;charset=utf-8",
           success: function (data) {

               $.each(data, function (i, o) {

                   stringCity += "<option value=" + o.DistId + ">" + o.DistName + "</option>";

               });

               $('#TblBDSEmployerInformation_District').html(stringCity);
               $('#TblBDSEmployerInformation_District').change(function () {

                   var idDistric = $("#TblBDSEmployerInformation_District option:selected").val();

               });

           }
       });
    }
</script>