@model Davisoft_BDSProject.Web.Models.CityModel

@{
    ViewBag.Title = "Create";
}
<section class="panel panel-default">
    <div class="panel-heading">Create</div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-md-3">City ID</label>
                    <div class="col-md-9">
                        @Html.Bootstrap().TextBoxFor(m => m.City.state_id).HtmlAttributes(new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.City.state_id)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">City Name</label>
                    <div class="col-md-9">
                        @Html.Bootstrap().TextBoxFor(m => m.CityText.text).HtmlAttributes(new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CityText.text)
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3">
                    @Html.Bootstrap().ActionLinkButton("Back to list", "Index").PrependIcon(Icons.arrow_left)
                    @Html.Bootstrap().SubmitButton().Id("submitbutton").Text("Save").Style(ButtonStyle.Primary).PrependIcon(Icons.ok, true)
                </div>
            </div>
        }
    </div>
</section>
