@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Davisoft_BDSProject.Web.Models.CityModel>
<section class="panel panel-default">
    <div class="panel-heading">Newsletter Schedule Management</div>
    <div class="panel-body">
        @*<a href="@Url.Action("Create","ScheduleNewletter")" style="margin-bottom: 10px;" class="btn  btn-success">Create</a>*@
        <div id="griddata" class="logpage">
        
            <table id="griddata2" class="table table-bordered table-striped grid-table dTableR">
                <thead>
                   
                    <tr>
                        <th class="grid-header">ID</th>
                        <th class="grid-header">City Name</th>
                        <th class="grid-header">City Code</th>
                        <th class="grid-header">Status</th>
                         
                         <th class="grid-header"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.City.state_id</td>
                            <td>@item.CityText.text</td>
                            <td>@item.City.stateCode</td>
                              <td>@item.City.Status</td>
                            <td>
                               @* <a href="@Url.Action("Edit","ScheduleNewletter",new {id=item.ID})" class="btn-primary  btn">Edit</a> 
                                <a href="@Url.Action("Delete","ScheduleNewletter",new {id=item.ID})" class="btn btn-danger">Delete</a>*@
                            </td>
                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
</section>