@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();

}
@using System.Configuration
@using WebBDS_Project.Models
@model WebBDS_Project.Models.NewsModel
<div class="container">
    <div class="grid_9 main_left">
        @*@Html.Partial("_searchPannel")*@

        @section share_fb{

            <meta property="og:title" content="@Model.tblBDSPersonalInformation.Name" />

            <meta property="og:url" content='@ConfigurationManager.AppSettings["UrlImage"]@Model.tblBDSPersonalInformation.UrlImage.ToString().Split('_')[0]/@Model.tblBDSPersonalInformation.UrlImage' />
            <meta name="description" content="@Model.tblBDSPersonalInformation.Description">
            <meta property="og:description" content="@Model.tblBDSPersonalInformation.Description" />
            <meta name="keywords" content="tuyển dụng ,công việc,cong viec,việc làm,viec lam,bất động sản,bat dong san" />

            <meta property="og:image:width" content="600" />
            <meta property="og:image:height" content="315" />


        }
        <div class="grid_12 title_detail">
            <div class="logo_detail">
                <img height="100%" alt="@Model.tblBDSPersonalInformation.Name" src="@ConfigurationManager.AppSettings["UrlImage"]@Model.tblBDSPersonalInformation.UrlImage.ToString().Split('_')[0]/@Model.tblBDSPersonalInformation.UrlImage" />
            </div>
            <div class="name_detail">
                <h2>@Model.tblBDSPersonalInformation.Name</h2>

              
                    <p><i class="fa fa-map-marker"></i>Địa chỉ: @Model.tblBDSPersonalInformation.TemporaryAddress ,@Model.ListDisText.FirstOrDefault(x=>x.Id==Model.tblBDSPersonalInformation.District).Name,@Model.ListCityText.FirstOrDefault(x=>x.Id==Model.tblBDSPersonalInformation.City).Name </p>
               

                <p><i class="fa fa-user"></i>Công việc mong muốn: @Model.ListBDSCareer.FirstOrDefault(x=>x.ID== Model.tblBDSPersonalInformation.).Name   </p>
                <p><i class="fa fa-usd"></i>Mức lương mong muốn: @Model.ListBDSSalary.FirstOrDefault(x => x.ID == Model.tblBDSPersonalInformation.Salary).Name   </p>


            </div>
           
        </div>



        <div class="row">

            <div class="grid_12 table_info">
                <table class="table-responsive">
                    <tbody>
                       
                        <tr>
                            <td><label>Số điện thoại: </label>
                                @Model.tblBDSPersonalInformation.Phone
                            </td>
                            <td><label>Ngày sinh: </label>
                            @Model.tblBDSPersonalInformation.Birthday
                            </td>

                        </tr>
                        <tr>
                            <td><label>Kinh nghiệm trong ngành BDS: </label>
                            @if (Model.tblBDSPersonalInformation.ProfessionalExperience == 0)
                            {
                                @("Chưa có kinh nghiệm")
                            }
                            @if (Model.tblBDSPersonalInformation.ProfessionalExperience == 1)
                            {
                                @("Đã có kinh nghiệm")
                            } </td>
                            <td>
                                <label>Trình độ: </label>
                                @Model.ListDucation.FirstOrDefault(x => x.ID == Model.tblBDSPersonalInformation.Education).Name

                            </td>

                        </tr>
                        <tr>
                            <td>
                               
                                <label>Giới tính: </label>
                                @if (Model.tblBDSPersonalInformation.Sex == 0)
                                {
                                    @("Không yêu cầu")
                                }
                                @if (Model.tblBDSPersonalInformation.Sex == 1)
                                {
                                    @("Nam")
                                }
                                @if (Model.tblBDSPersonalInformation.Sex == 2)
                                {
                                    @("Nữ")
                                }
                              
                            </td>
                            <td>
                                <label>Kinh nghiệm: </label>
                           @Model.ListTimework.FirstOrDefault(x=>x.ID==Model.tblBDSPersonalInformation.Experience).Name
                            </td>

                        </tr>

                    </tbody>
                </table>

                <h3>Giới thiệu sơ lược</h3>
                <p>@Model.tblBDSPersonalInformation.Description</p>
              
            </div>
        </div>
    </div>
    <div class="grid_3 omega main_right" id="sideRightPushy">
        <div class="banner_right">
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight1"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight2"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" style="margin: 0" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
        </div>
        @Html.Partial("_partialCareers")
        @Html.Partial("_partialCompany")
        @Html.Partial("_partialShareExpirence")
        @Html.Partial("_partialComment")
        @Html.Partial("_partialNews")
        <div class="banner_right">
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight1"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight2"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
        </div>
    </div>
</div>
