@{
    ViewBag.Title = "ManagementCompany";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();

}
@using WebBDS_Project.Models

@model WebBDS_Project.Models.RegisterInformationModel
@using System.Configuration
@section share_fb{



    <meta name="keywords" content="tuyennhanvienbatdongsan" />
    <meta name="title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta itemprop="name" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta property="og:title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta name="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta itemprop="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta id="meta-tag-description" property="og:description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />


}
@{
    var States = (from a in db.States
                  join b in db.StateTexts on a.state_id equals b.id
                  where b.language_id == "vi" && a.Status == 1 && a.state_id != 59 && a.state_id != 28
                  select new { Id = a.state_id, Name = b.text }).ToList();

    States.Insert(0, new { Id = 59, Name = "TP.Hồ Chí Minh" });
    States.Insert(1, new { Id = 28, Name = "TP.Hà Nội" });
}
<div class="container">
    <div class="grid_9 main_left">
        <div class="group_work">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Trang quản lý tuyển dụng</span></h3>
            </div>
            <form class="form-horizontal " data-validate="parsley" action="#">
                <div class="row"></div>
                <div class="row">
                    <div class="border-manager-work grid_12">
                        <div class="row">
                            <div class="border-upload-img" style="text-align: center">
                               
                                @if (Model.TblBDSEmployerInformation.UrlImage != null)
                                {
                                    <img width="80" id="imgLogoCompany" src="@ConfigurationManager.AppSettings["UrlImage"]@Model.TblBDSEmployerInformation.UrlImage.ToString().Split('_')[0]/@Model.TblBDSEmployerInformation.UrlImage" />
                                }
                                else
                                {
                                    <img width="100%" id="imgLogoCompany" src="~/Template/images/avatar-default.png" />
                                }

                            </div>
                            <div class="omega">

                                <h4 class="margin-0px">@Model.TblBDSEmployerInformation.Name</h4>

                                <div>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>@Model.TblBDSEmployerInformation.Address,@Model.ListGeoDisModel.FirstOrDefault(x=>x.DistId==Model.TblBDSEmployerInformation.District).DistName    .@Model.ListGeoModel.FirstOrDefault(x => x.CityId == Model.TblBDSEmployerInformation.City).CityName .
                                </div>

                                <div style="margin-left: 85px;">
                                    <i class="fa fa-address-book-o" aria-hidden="true"></i>Người liên hệ @Model.TblBDSEmployerInformation.NameContact @Model.TblBDSEmployerInformation.PhoneContact.
                                </div>

                                <div class="padding-10px">
                                   @Model.TblBDSEmployerInformation.Description
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </form>
            <div id="jssor_3" style="position: relative; margin: 10px auto; border: 1px solid #fefefe; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden; visibility: hidden;">

                <div data-u="loading" style="position: absolute; top: 0px; left: 0px; background-color: rgba(0,0,0,0.7);">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position: absolute; display: block; background: url('/Template/img/loading.gif') no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                </div>
                <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
                    <div>
                        <img data-u="image" src="~/Template/img/002.jpg" />

                    </div>



                </div>
                <!-- Bullet Navigator -->
                @*<div data-u="navigator" class="jssorb01" style="bottom: 16px; right: 16px;">
                        <div data-u="prototype" style="width: 12px; height: 12px;"></div>
                    </div>*@
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora02l" style="top: 0px; left: 8px; width: 55px; height: 55px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora02r" style="top: 0px; right: 8px; width: 55px; height: 55px;" data-autocenter="2"></span>
            </div>

            <!-- #endregion Jssor Slider End -->
            <ul class="idTabs">
                <li>
                    <a href="#tab1">
                        <img src="~/Template/images/icon_1.png" alt="icon">
                        <figcaption>Tìm kiếm ứng viên</figcaption>
                    </a>
                </li>

            </ul>
            <div class="content_tab">
                <div id="tab1">
                    <h4>Tìm tin đăng của người tìm việc</h4>
                    <div class="box_select">
                        <fieldset>
                            <div class="grid_3">
                                <select class="select2" style="width: 100%;height: 100%" name="filterWorkingPlace" tabindex="7">
                                    <option value="">Chọn tỉnh thành</option>
                                    @{
                                        foreach (var item in States)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="grid_3">
                                <select class="dropdown" name="filterCareer" tabindex="7">
                                    <option value="">Chọn ngành nghề</option>
                                    @{
                                        foreach (var item in db.BDSCareers.Where(T => T.Active == 1).ToList())
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="grid_3">
                                <select class="dropdown" name="filterSalary" tabindex="7">
                                    <option value="">Chọn mức lương</option>
                                    @{
                                        foreach (var item in db.BDSSalaries.Where(T => T.Active == 1).ToList())
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="grid_3 omega">
                                <button class="btn_search" type="button" onclick="loadFilterPageFrom(this); return false;"><i class="fa fa-search"></i>TÌM KIẾM</button>
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="grid_3 omega main_right" id="sideRightPushy">

        @Html.Partial("_partialManagerCenter")



    </div>

</div>
<div class="container">
    <div class="grid_9 main_left">
        <b>Ghi chú bên dưới đây là danh sách các ứng viên tìm việc Bất động sản mỗi lượt xem bạn bị <b class="TextColorRed">trừ 3 điểm</b> vào tài khoản nhà tuyển dụng</b>
    </div>
    <div class="grid_9 main_left" id="listData" style="position: relative">
        <div class="loading_icon" style="position: absolute; z-index: 11; left: 50%; top: 50%; display: none">
            <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-reload"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="rotate(11.9999 50 50)"><path d="M50 15A35 35 0 1 0 74.787 25.213" fill="none" stroke="#de3039" stroke-width="12px"></path><path d="M50 0L50 30L66 15L50 0" fill="#de3039"></path><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="1s" repeatCount="indefinite"></animateTransform></g></svg>
        </div>
        <div class="loading" style="left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute; background-color: gray; opacity: 0.5; z-index: 10; display: none"></div>

        <div class="table-responsive">
            @Html.Action("PManagementCompany", new {tt = "", from = 0, view = 10, page = 1})
        </div>

    </div>


</div>
<script>
    $(document).on('click', '.btnReadMore', function() {

        var id = $(this).attr('data-id');
        var dataPost = {};
        dataPost.id = id;
        $.ajax
        ({
            type: "POST",
            url: '@Url.Action("DetailPersonal", "Management")',
            data: JSON.stringify(dataPost),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data.result == 0) {
                    toastr.error('Quý khách không đủ điểm.Vui lòng nạp thêm!');
                }
                if (data.result == 1) {
                    var tKey = data.name;
                    var urlDetail = '/chi-tiet-ho-so?idNew=' + tKey;
                    window.location.href = urlDetail;
                }

            }
        });

    });
    
</script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var jssor_3_SlideoTransitions = [
            [{ b: 0, d: 600, y: -290, e: { y: 27 } }],
            [{ b: 0, d: 1000, y: 185 }, { b: 1000, d: 500, o: -1 }, { b: 1500, d: 500, o: 1 }, { b: 2000, d: 1500, r: 360 }, { b: 3500, d: 1000, rX: 30 }, { b: 4500, d: 500, rX: -30 }, { b: 5000, d: 1000, rY: 30 }, { b: 6000, d: 500, rY: -30 }, { b: 6500, d: 500, sX: 1 }, { b: 7000, d: 500, sX: -1 }, { b: 7500, d: 500, sY: 1 }, { b: 8000, d: 500, sY: -1 }, { b: 8500, d: 500, kX: 30 }, { b: 9000, d: 500, kX: -30 }, { b: 9500, d: 500, kY: 30 }, { b: 10000, d: 500, kY: -30 }, { b: 10500, d: 500, c: { x: 87.50, t: -87.50 } }, { b: 11000, d: 500, c: { x: -87.50, t: 87.50 } }],
            [{ b: 0, d: 600, x: 410, e: { x: 27 } }],
            [{ b: -1, d: 1, o: -1 }, { b: 0, d: 600, o: 1, e: { o: 5 } }],
            [{ b: -1, d: 1, c: { x: 175.0, t: -175.0 } }, { b: 0, d: 800, c: { x: -175.0, t: 175.0 }, e: { c: { x: 7, t: 7 } } }],
            [{ b: -1, d: 1, o: -1 }, { b: 0, d: 600, x: -570, o: 1, e: { x: 6 } }],
            [{ b: -1, d: 1, o: -1, r: -180 }, { b: 0, d: 800, o: 1, r: 180, e: { r: 7 } }],
            [{ b: 0, d: 1000, y: 80, e: { y: 24 } }, { b: 1000, d: 1100, x: 570, y: 170, o: -1, r: 30, sX: 9, sY: 9, e: { x: 2, y: 6, r: 1, sX: 5, sY: 5 } }],
            [{ b: 2000, d: 600, rY: 30 }],
            [{ b: 0, d: 500, x: -105 }, { b: 500, d: 500, x: 230 }, { b: 1000, d: 500, y: -120 }, { b: 1500, d: 500, x: -70, y: 120 }, { b: 2600, d: 500, y: -80 }, { b: 3100, d: 900, y: 160, e: { y: 24 } }],
            [{ b: 0, d: 1000, o: -0.4, rX: 2, rY: 1 }, { b: 1000, d: 1000, rY: 1 }, { b: 2000, d: 1000, rX: -1 }, { b: 3000, d: 1000, rY: -1 }, { b: 4000, d: 1000, o: 0.4, rX: -1, rY: -1 }]
        ];

        var jssor_3_options = {
            $AutoPlay: true,
            $Idle: 2000,
            $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_3_SlideoTransitions,
                $Breaks: [
                    [{ d: 2000, b: 1000 }]
                ]
            },
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
            }
        };

        var jssor_3_slider = new $JssorSlider$("jssor_3", jssor_3_options);


        function ScaleSlider() {
            var refSize = jssor_3_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 600);
                jssor_3_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);

    });
</script>
<style>
    .jssorb01 {
        position: absolute;
    }

        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 1px solid;
        }

        .jssorb01 div {
            background-color: gray;
        }

            .jssorb01 div:hover, .jssorb01 .av:hover {
                background-color: #d3d3d3;
            }

        .jssorb01 .av {
            background-color: #fff;
        }

        .jssorb01 .dn, .jssorb01 .dn:hover {
            background-color: #555555;
        }


    .jssora02l, .jssora02r {
        display: block;
        position: absolute;
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: url('/Template/img/a02.png') no-repeat;
        overflow: hidden;
    }

    .jssora02l {
        background-position: -3px -33px;
    }

    .jssora02r {
        background-position: -63px -33px;
    }

    .jssora02l:hover {
        background-position: -123px -33px;
    }

    .jssora02r:hover {
        background-position: -183px -33px;
    }

    .jssora02l.jssora02ldn {
        background-position: -3px -33px;
    }

    .jssora02r.jssora02rdn {
        background-position: -63px -33px;
    }

    .jssora02l.jssora02lds {
        background-position: -3px -33px;
        opacity: .3;
        pointer-events: none;
    }

    .jssora02r.jssora02rds {
        background-position: -63px -33px;
        opacity: .3;
        pointer-events: none;
    }
</style>
