@{
    ViewBag.Title = "ManagementCompany";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();

}
@using WebBDS_Project.Models

@model WebBDS_Project.Models.RegisterInformationModel
@using System.Configuration
<div class="container">
    <div class="grid_9 main_left">
        <div class="group_work">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Trang quản lý tuyển dụng</span></h3>
            </div>
            <form class="form-horizontal " data-validate="parsley" action="#">
                <div class="row"></div>
                <div class="row">
                    <div class="border-manager-work grid_12">
                        <div class="row">
                            <div class="border-upload-img" style="text-align: center">
                               
                                @if (Model.TblBDSEmployerInformation.UrlImage != null)
                                {
                                    <img width="80" id="imgLogoCompany" src="@ConfigurationManager.AppSettings["UrlImage"]@Model.TblBDSEmployerInformation.UrlImage.ToString().Split('_')[0]/@Model.TblBDSEmployerInformation.UrlImage" />
                                }
                                else
                                {
                                    <img width="100%" id="imgLogoCompany" src="~/Template/images/avatar-default.png" />
                                }

                            </div>
                            <div class="omega">

                                <h4 class="margin-0px">@Model.TblBDSEmployerInformation.Name</h4>

                                <div>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>@Model.TblBDSEmployerInformation.Address,@Model.ListGeoDisModel.FirstOrDefault(x=>x.DistId==Model.TblBDSEmployerInformation.District).DistName    .@Model.ListGeoModel.FirstOrDefault(x => x.CityId == Model.TblBDSEmployerInformation.City).CityName .
                                </div>

                                <div style="margin-left: 85px;">
                                    <i class="fa fa-address-book-o" aria-hidden="true"></i>Người liên hệ @Model.TblBDSEmployerInformation.NameContact @Model.TblBDSEmployerInformation.PhoneContact.
                                </div>

                                <div class="padding-10px">
                                   @Model.TblBDSEmployerInformation.Description
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </form>
            <div id="jssor_3" style="position: relative; margin: 10px auto; border: 1px solid #fefefe; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden; visibility: hidden;">

                <div data-u="loading" style="position: absolute; top: 0px; left: 0px; background-color: rgba(0,0,0,0.7);">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position: absolute; display: block; background: url('/Template/img/loading.gif') no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                </div>
                <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
                    <div>
                        <img data-u="image" src="~/Template/img/002.jpg" />

                    </div>



                </div>
                <!-- Bullet Navigator -->
                @*<div data-u="navigator" class="jssorb01" style="bottom: 16px; right: 16px;">
                        <div data-u="prototype" style="width: 12px; height: 12px;"></div>
                    </div>*@
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora02l" style="top: 0px; left: 8px; width: 55px; height: 55px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora02r" style="top: 0px; right: 8px; width: 55px; height: 55px;" data-autocenter="2"></span>
            </div>

            <!-- #endregion Jssor Slider End -->
            <ul class="idTabs">
                <li>
                    <a href="#tab1">
                        <img src="~/Template/images/icon_1.png" alt="icon">
                        <figcaption>Tìm kiếm ứng viên</figcaption>
                    </a>
                </li>

            </ul>
            <div class="content_tab">
                <div id="tab1">
                    <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản</h4>
                    <div class="box_select">
                        <fieldset>
                            <div class="grid_3">
                                <select class="dropdown" tabindex="7">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </select>
                            </div>
                            <div class="grid_3">
                                <select class="dropdown" tabindex="7">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </select>
                            </div>
                            <div class="grid_3">
                                <select class="dropdown" tabindex="7">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </select>
                            </div>
                            <div class="grid_3 omega">
                                <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button>
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="grid_3 omega main_right">

        @Html.Partial("_partialManagerCenter")



    </div>

</div>
<div class="container">
    <div class="grid_12">
        <b>Ghi chú bên dưới đây là danh sách các ứng viên tìm việc Bất động sản mỗi lượt xem bạn bị <b class="TextColorRed">trừ 3 điểm</b> vào tài khoản nhà tuyển dụng</b>
    </div>
    <div class="grid_12">
        <table class="table-responsive">
            <thead>
                <tr>
                    <th data-field="id">NGÀY TÌM VIỆC</th>
                    <th data-field="name">HÌNH ẢNH</th>
                    <th data-field="name">HỌ VÀ TÊN</th>
                    <th data-field="name">GIỚI TÍNH</th>
                    <th data-field="name">NĂM SINH</th>
                    <th data-field="name">KINH NGHIỆM</th>
                    <th data-field="name">KINH NGHIỆM BĐS </th>
                    <th data-field="name">MỨC LƯƠNG MONG MUỐN </th>
                    <th data-field="name">VỊ TRÍ MONG MUỐN</th>
                    <th data-field="name">TỈNH / THÀNH PHỐ</th>
                    <th data-field="name">QUẬN HUYỆN</th>
                    <th data-field="name">HỌC VẤN</th>
                    <th data-field="name">CHI TIẾT</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.ListBDSPersonalInformation)
                {

                    <tr>
                        <td>@item.CreateDate</td>
                        <td>
                            @if (item.UrlImage != null)
                            {
                                <img width="50" src="@System.Configuration.ConfigurationManager.AppSettings["UrlImage"]@item.UrlImage.ToString().Split('_')[0]/@item.UrlImage" />


                            }
                            else
                            {
                                <img width="50" src="~/Template/images/avatar-default.png" />
                            }
                        </td>

                        <td>@item.Name</td>
                        <td>@item.Sex</td>
                        <td>@item.Birthday</td>
                        <td>@item.Experience</td>
                        <td>@item.ProfessionalExperience</td>
                        <td>@item.Salary</td>
                        <td>@item.IdLoaiNghe</td>
                        <td>@item.City</td>
                        <td>@item.District</td>
                        <td>@item.Education</td>
                        <td><a style="cursor: pointer" class="btnReadMore" rel="@item.ID">xem</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>
<script>
    $('.btnReadMore').click(function () {
        var id = $(this).attr('rel');
        var data = {};
        data.id = id;
        $.ajax
  ({
      type: "POST",
      url: '@Url.Action("DetailPersonal", "Management")',
      data: JSON.stringify(data),
      dataType: "json",
      contentType: "application/json;charset=utf-8",
      success: function (data) {
          if (data.result==0) {
              toastr.error('Quý khách không đủ điểm.Vui lòng nạp thêm!');
          }
          if (data.result == 1) {

              var urlDetail = '/Management/DetailPer/' + data.name;

              window.location.href = urlDetail;
          }

      }
  });
    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var jssor_3_SlideoTransitions = [
          [{ b: 0, d: 600, y: -290, e: { y: 27 } }],
          [{ b: 0, d: 1000, y: 185 }, { b: 1000, d: 500, o: -1 }, { b: 1500, d: 500, o: 1 }, { b: 2000, d: 1500, r: 360 }, { b: 3500, d: 1000, rX: 30 }, { b: 4500, d: 500, rX: -30 }, { b: 5000, d: 1000, rY: 30 }, { b: 6000, d: 500, rY: -30 }, { b: 6500, d: 500, sX: 1 }, { b: 7000, d: 500, sX: -1 }, { b: 7500, d: 500, sY: 1 }, { b: 8000, d: 500, sY: -1 }, { b: 8500, d: 500, kX: 30 }, { b: 9000, d: 500, kX: -30 }, { b: 9500, d: 500, kY: 30 }, { b: 10000, d: 500, kY: -30 }, { b: 10500, d: 500, c: { x: 87.50, t: -87.50 } }, { b: 11000, d: 500, c: { x: -87.50, t: 87.50 } }],
          [{ b: 0, d: 600, x: 410, e: { x: 27 } }],
          [{ b: -1, d: 1, o: -1 }, { b: 0, d: 600, o: 1, e: { o: 5 } }],
          [{ b: -1, d: 1, c: { x: 175.0, t: -175.0 } }, { b: 0, d: 800, c: { x: -175.0, t: 175.0 }, e: { c: { x: 7, t: 7 } } }],
          [{ b: -1, d: 1, o: -1 }, { b: 0, d: 600, x: -570, o: 1, e: { x: 6 } }],
          [{ b: -1, d: 1, o: -1, r: -180 }, { b: 0, d: 800, o: 1, r: 180, e: { r: 7 } }],
          [{ b: 0, d: 1000, y: 80, e: { y: 24 } }, { b: 1000, d: 1100, x: 570, y: 170, o: -1, r: 30, sX: 9, sY: 9, e: { x: 2, y: 6, r: 1, sX: 5, sY: 5 } }],
          [{ b: 2000, d: 600, rY: 30 }],
          [{ b: 0, d: 500, x: -105 }, { b: 500, d: 500, x: 230 }, { b: 1000, d: 500, y: -120 }, { b: 1500, d: 500, x: -70, y: 120 }, { b: 2600, d: 500, y: -80 }, { b: 3100, d: 900, y: 160, e: { y: 24 } }],
          [{ b: 0, d: 1000, o: -0.4, rX: 2, rY: 1 }, { b: 1000, d: 1000, rY: 1 }, { b: 2000, d: 1000, rX: -1 }, { b: 3000, d: 1000, rY: -1 }, { b: 4000, d: 1000, o: 0.4, rX: -1, rY: -1 }]
        ];

        var jssor_3_options = {
            $AutoPlay: true,
            $Idle: 2000,
            $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_3_SlideoTransitions,
                $Breaks: [
                  [{ d: 2000, b: 1000 }]
                ]
            },
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
            }
        };

        var jssor_3_slider = new $JssorSlider$("jssor_3", jssor_3_options);


        function ScaleSlider() {
            var refSize = jssor_3_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 600);
                jssor_3_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);

    });
</script>
<style>
    .jssorb01 {
        position: absolute;
    }

        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 1px solid;
        }

        .jssorb01 div {
            background-color: gray;
        }

            .jssorb01 div:hover, .jssorb01 .av:hover {
                background-color: #d3d3d3;
            }

        .jssorb01 .av {
            background-color: #fff;
        }

        .jssorb01 .dn, .jssorb01 .dn:hover {
            background-color: #555555;
        }


    .jssora02l, .jssora02r {
        display: block;
        position: absolute;
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: url('/Template/img/a02.png') no-repeat;
        overflow: hidden;
    }

    .jssora02l {
        background-position: -3px -33px;
    }

    .jssora02r {
        background-position: -63px -33px;
    }

    .jssora02l:hover {
        background-position: -123px -33px;
    }

    .jssora02r:hover {
        background-position: -183px -33px;
    }

    .jssora02l.jssora02ldn {
        background-position: -3px -33px;
    }

    .jssora02r.jssora02rdn {
        background-position: -63px -33px;
    }

    .jssora02l.jssora02lds {
        background-position: -3px -33px;
        opacity: .3;
        pointer-events: none;
    }

    .jssora02r.jssora02rds {
        background-position: -63px -33px;
        opacity: .3;
        pointer-events: none;
    }
</style>
