@using System.Configuration
@using System.Web.UI.WebControls
@using WebBDS_Project.Models
@{

    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();
    int from = ViewBag.from;
    int page = ViewBag.page;
    int view = ViewBag.view;
    int tt = ViewBag.tt == "" ? 0 : int.Parse(ViewBag.tt);
    int count = 0;
    var States = (from a in db.States join b in db.StateTexts on a.state_id equals b.id where b.language_id == "vi" && a.Status == 1 select new { Id = a.state_id, Name = b.text }).ToList();
}
<ul class="list_work">

    @{
        var query = db.BDSNews.Where(A => A.Active == 1 && A.Status == 1 && (tt == 0 || A.AddressWork == tt));
        var ListNews = query.OrderByDescending(T => T.FromCreateNews).Skip(from).Take(view).ToList();
        count = query.Count();
        foreach (var news in ListNews)
        {
            var account = db.BDSEmployerInformations.FirstOrDefault(T => T.IdAccount == news.IdAcount);
            if (db.BDSNewsTypes.FirstOrDefault(T => T.Active == 1 && T.ID == news.IdTypeNewsCuurent).CodeNewsType == "TDB")
            {

                if (account != null)
                {
                    
                        <li style="margin-bottom: 0">
                            <div class="grid_3">
                                <a href="@Url.Action("Detail", "Default", new { id = news.Title.UrlFrendly() + "-" + news.ID })">
                                    <img width="120" src="@(ConfigurationManager.AppSettings["UrlImage"] + (account.UrlImage != null ? (account.UrlImage.Split('_')[0] +"/"+ account.UrlImage) : "img.png"))" alt="1">
                                    <p class="vip">
                                        <i class="fa fa-star"></i>
                                        <span>VIP</span>
                                    </p>
                                </a>
                            </div>
                            <div class="grid_9 omega">
                                <h2><a href="@Url.Action("Detail", "Default", new { id = news.Title.UrlFrendly() + "-" + news.ID })">@( news.Title) <span>@(db.BDSEmployerInformations.Where(T => T.IdAccount == news.IdAcount).FirstOrDefault().Name)</span></a></h2>
                                <p><i class="fa fa-map-marker"></i>@(States.Where(T => T.Id == news.AddressWork).FirstOrDefault().Name)</p>
                                <div>
                                    <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>@(news.FromSalary) - @(news.ToSalary)</span> triệu </p>
                                    <p class="grid_6 omega time">Mã tin: <span class="color2">P@(news.ID.ToString("000000"))</span> <i class="fa fa-clock-o"></i>@(news.FromCreateNews.Value.ToString("dd/MM/yyyy"))</p>
                                </div>
                            </div>
                        </li>

                    
                }
            }
            if (db.BDSNewsTypes.FirstOrDefault(T => T.Active == 1 && T.ID == news.IdTypeNewsCuurent).CodeNewsType == "TVP")
            {

                if (account != null)
                {
                  
                        <li>
                            <div class="grid_9">
                                <a href="@Url.Action("Detail", "Default", new { id = news.Title.UrlFrendly() + "-" + news.ID })" class="image_2">
                                    <img width="50" src="@(ConfigurationManager.AppSettings["UrlImage"] + (account.UrlImage != null ? (account.UrlImage.Split('_')[0] +"/"+ account.UrlImage) : "img.png"))" alt="2">
                                    <p class="vip">
                                        <i class="fa fa-star"></i>
                                        <span>VIP</span>
                                    </p>
                                </a>
                                <div class="name">
                                    <h2><a href="@Url.Action("Detail", "Default", new { id = news.Title.UrlFrendly() + "-" + news.ID })">@( news.Title)  <span>@(db.BDSEmployerInformations.Where(T => T.IdAccount == news.IdAcount).FirstOrDefault().Name)</span></a></h2>
                                    <p><i class="fa fa-map-marker"></i>@(States.Where(T => T.Id == news.AddressWork).FirstOrDefault().Name)</p>
                                    <p><i class="fa fa-clock-o"></i>@(news.FromCreateNews.Value.ToString("dd/MM/yyyy"))</p>
                                </div>
                            </div>
                            <div class="grid_3 omega">
                                <p><i class="fa fa-usd"></i>Lương: Từ <span>@(news.FromSalary) - @(news.ToSalary)</span> triệu </p>
                            </div>
                        </li>

                   
                }
            }
            if (db.BDSNewsTypes.FirstOrDefault(T => T.Active == 1 && T.ID == news.IdTypeNewsCuurent).CodeNewsType == "TBT")
            {
                if (account != null)
                {
             
                        <li>
                            <div class="grid_9">
                                <a href="@Url.Action("Detail", "Default", new { id = news.Title.UrlFrendly() + "-" + news.ID })" class="image_2">
                                    <img width="50" src="@(ConfigurationManager.AppSettings["UrlImage"] + (account.UrlImage != null ? (account.UrlImage.Split('_')[0] +"/"+ account.UrlImage) : "img.png"))" alt="2">
                                    <p class="vip">
                                        <i class="fa fa-star"></i>
                                        <span>VIP</span>
                                    </p>
                                </a>
                                <div class="name">
                                    <h2><a href="@Url.Action("Detail", "Default", new { id = news.Title.UrlFrendly() + "-" + news.ID })">@( news.Title)  <span>@(db.BDSEmployerInformations.Where(T => T.IdAccount == news.IdAcount).FirstOrDefault().Name)</span></a></h2>
                                    <p><i class="fa fa-map-marker"></i>@(States.Where(T => T.Id == news.AddressWork).FirstOrDefault().Name)</p>
                                    <p><i class="fa fa-clock-o"></i>@(news.FromCreateNews.Value.ToString("dd/MM/yyyy"))</p>
                                </div>
                            </div>
                            <div class="grid_3 omega">
                                <p><i class="fa fa-usd"></i>Lương: Từ <span>@(news.FromSalary) - @(news.ToSalary)</span> triệu </p>
                            </div>
                        </li>

                  
                }
            } if (db.BDSNewsTypes.FirstOrDefault(T => T.Active == 1 && T.ID == news.IdTypeNewsCuurent).CodeNewsType == "TFE")
            {
                if (account != null)
                {
                   
                        <li>
                            <a href="@Url.Action("Detail", "Default", new { id = news.Title.UrlFrendly() + "-" + news.ID })">@news.Title</a>
                        </li>


                   
                }
            }

        }
    }


    <li class="page">
        <div class="page_links">
            <span>Trang</span>
            @if (count > 0)
            {
                var p = Math.Ceiling((double)count / view);
                for (int i = 1; i <= (int)p; i++)
                {
        <a data-ref='@(page != i ? "" + Url.Action("PListNewsOfUser", "Management", new { tt = tt, from = (i - 1) * view, page = i, view = view }) + "" : "")' style="cursor: pointer" onclick="loadNOUPageFrom(this);" @(page == i ? " class=active" : "")>@i</a>
                }
            }
            <a class="nextPage" onclick="loadNOUPageFromNext(this);">Tiếp</a>
        </div>
        
    </li>
</ul>
<style>
    a.active {
        cursor: auto;
    }
</style>
<script>
    function loadFilterNOUPageFrom(el) {
        var url = '@Url.Action("PListNewsOfUser", "Management", new { from = 0, page = 0, view = view })' + "&tt=" + $(el).val();
        if (url != "") {
            $(el).parents('.group_work').find('.loading').show();
            $(el).parents('.group_work').find('.loading_icon').show();
            $.get(url, function (data) {
               
                var elP =$(el).parents('.group_work').eq(0).find('ul.list_work').eq(0);
                elP.html($(data).html());
                elP.parents('.group_work').find('.loading').eq(0).hide();
                elP.parents('.group_work').find('.loading_icon').eq(0).hide();

            });
        }

    }
    function loadNOUPageFrom(el) {
        var url = $(el).attr('data-ref');
        if (url != "") {
            $(el).parents('.group_work').find('.loading').show();
            $(el).parents('.group_work').find('.loading_icon').show();
            $.get(url, function (data) {
                var elP = $(el).parents('ul.list_work').eq(0);
                elP.html($(data).html());
              
                elP.parents('.group_work').find('.loading').eq(0).hide();
                elP.parents('.group_work').find('.loading_icon').eq(0).hide();

            });
        }
        
    }
    function loadNOUPageFromNext(el) {
     
        var elNext = $(el).parents('.page_links').eq(0).find('a.active').next();
        if (!$(elNext).hasClass('nextPage')) {
            $(elNext).click();
        }

    }


</script>