@{
    ViewBag.Title = "YourArchive";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@using WebBDS_Project.Models
@model WebBDS_Project.Models.RegisterInformationModel
@section share_fb{



    <meta name="keywords" content="tuyennhanvienbatdongsan" />
    <meta name="title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta itemprop="name" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta property="og:title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta name="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta itemprop="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta id="meta-tag-description" property="og:description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />


}
<div class="container">
    <div class="grid_9 main_left">
        <div class="group_work">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Hồ sơ đã lưu</span></h3>
            </div>
            <div class="grid_12">
                @if (Session["IdUserEmployee"] != null)
                {
                    if (Model.ListBDSPersonalInformation.Count > 0)
                    {
                        <table class="table table-bordered table-striped grid-table" style="margin-top: 10px;">
                            <thead>
                                <tr>
                                    <th data-field="id">NGÀY TÌM VIỆC</th>
                                    <th data-field="name">HÌNH ẢNH</th>
                                    <th data-field="name">HỌ VÀ TÊN</th>
                                    <th data-field="name">GIỚI TÍNH</th>
                                    <th data-field="name">NĂM SINH</th>
                                    @*<th data-field="name">KINH NGHIỆM</th>


                                        <th data-field="name">VỊ TRÍ MONG MUỐN</th>
                                        <th data-field="name">TỈNH / THÀNH PHỐ</th>
                                        <th data-field="name">QUẬN HUYỆN</th>
                                        <th data-field="name">HỌC VẤN</th>*@
                                    <th data-field="name">CHI TIẾT</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.ListBDSPersonalInformation)
                                {
                                    <tr>
                                        <td>@item.CreateDate</td>
                                        <td><img width="50" src="@System.Configuration.ConfigurationManager.AppSettings["UrlImage"]@item.UrlImage.ToString().Split('_')[0]/@item.UrlImage" /></td>
                                        <td>@item.Name</td>
                                        <td>@item.Sex</td>
                                        <td>@item.Birthday</td>
                                        @*<td>@item.Experience</td>
                                            <td>@item.IdLoaiNghe</td>
                                            <td>@item.City</td>
                                            <td>@item.District</td>
                                            <td>@item.Education</td>*@

                                        <td><a style="cursor: pointer" href="@Url.Action("DetailAdvertCompany", "AdvertCompany", new { idNew = item.Name.UrlFrendly() + "-" + item.ID })">xem</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                            <div>Chưa có hồ sơ nào được lưu</div>
                    }

                }

                @*@if (Session["IdUserPer"] != null)
                {
                    <table class="table-responsive" style="margin-top: 10px;">
                        <thead>
                            <tr>


                                <th data-field="name">HỌ VÀ TÊN</th>

                                <th data-field="name">CHI TIẾT</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.ListBDSEmployerInformation)
                            {
                                <tr>
                                    <td>@item.Name</td>

                                    <td><a style="cursor: pointer" href="@Url.Action("Detail", "Default", new { id = item.Name.UrlFrendly() + "-" + item.ID })">xem</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }*@
            </div>

        </div>
    </div>
    <div class="grid_3 omega main_right" id="sideRightPushy">

        @Html.Partial("_partialManagerCenter")

    </div>
</div>
