@using WebBDS_Project.Models
@{
    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();
    var modelMenu = db.BDSCareers.Take(4);
 

}
<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
<!--[if IE 7]>
   <html class="no-js lt-ie9 lt-ie8">
      <![endif]-->
<!--[if IE 8]>
      <html class="no-js lt-ie9">
         <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
     @RenderSection("share_fb", false)
    <title>BDS</title>
    <link rel="stylesheet" href="~/Template/css/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Template/css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Template/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Template/css/font-awesome.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Template/css/reponsive.css" type="text/css" media="screen">
    <link href="~/Template/css/pushy.css" rel="stylesheet" />
    <link href="~/Template/css/CusWeb.css" rel="stylesheet" />
    <link href="~/Template/css/toastr.css" rel="stylesheet" />
    <link href="~/Template/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Template/css/selectric.css" rel="stylesheet" />
    <link href="~/Template/css/customoptions.css" rel="stylesheet" />
    <link href="~/Template/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Template/css/select2.css" rel="stylesheet" />

    <script src="~/Template/js/jquery-1.12.4.js"></script>

    <script src="~/Scripts/CusWeb.js"></script>
    <script src="~/Template/js/flaunt.js"></script>
    <script src="~/Template/js/tabs.js"></script>
    <script src="~/Template/js/bootbox.min.js"></script>
    <script src="~/Template/js/jquery.easydropdown.min.js"></script>
    <script src="~/Template/js/dropdown.js"></script>
    <script src="~/Template/js/toastr.js"></script>
    <script src="~/Template/js/jquery-ui.js"></script>
    <script src="~/Template/js/jquery.selectric.js"></script>
    <script src="~/Template/js/jssor.slider-22.2.16.min.js"></script>
    <script src="~/Template/select2/js/select2.js"></script>
</head>
<body>
    <div id="warrper">
        <div id="content">
            <div class="menu">
                <div class="soc_icons">
                    <div class="container clearfix">
                        <p>Website tuyển dụng nhân viên bất động sản hàng đầu Việt Nam</p>
                        @if (Session["IdUser"] != null)
                        {
                           
                                <div class="login">
                                    <a style="padding: 0 0px!important;" href="@Url.Action("ManagementAcountEmployee","Management")"> @Session["EmailUser"]</a>
                                    <a style="padding: 0 0px!important;" href="@Url.Action("LogOut","Login")">,Thoát</a>
                                  
                                </div>
                        }
                        else
                        {
                            <div class="login">
                                <a href="#" class="dropdown1"><i class="fa fa-pencil-square-o"></i>Đăng ký</a>
                                <div id="dropdown1" class="dropdown-menu">

                                    <a href="@Url.Action("RegisterCompany","Register")">Nhà tuyển dụng</a>
                                    <a href="@Url.Action("RegisterPersonal","Register")" class="omega">Người tìm việc</a>
                                </div>
                                <div class="dp-wrap small-button">
                                    <a href="#" class="dropdown1"><i class="fa fa-user"></i>Đăng nhập</a>
                                    <div id="dropdown2" class="dropdown-menu">
                                        @using (Html.BeginForm("Login", "Login"))
                                        {
                                            <p>
                                                <input placeholder="Email" name="tblBDSAccount.Email" type="text">
                                            </p>
                                            <p>
                                                <input placeholder="Mật khẩu" name="tblBDSAccount.PassWord" type="password">
                                                <button type="submit">Đăng nhập</button>
                                            </p>
                                            <p class="box_remember">
                                                <a href="@Url.Action("ForgetPass", "Management")">Quên mật khẩu</a><br>
                                                Đăng nhập bằng
                                                <a href="#"><i class="fa fa-facebook-official"></i></a>
                                                <a href="#"><i class="fa fa-google-plus-square"></i></a>
                                            </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                      
                    </div>
                </div>
                <div class="container clearfix">
                    <div class="top">
                      
                        <div class="logo"><a href="/">
                            <img src="~/Template/images/logo.png" alt="logo">Tìm việc làm bất động sản nhanh chóng</a> </div>
                        <div class="banner">
                            <img src="~/Template/images/banner.jpg" alt="logo"></div>
                    </div>
                </div>

                <!--Menu-->
                @Html.Partial("_partialMenu", modelMenu)
              
                <!--End Menu-->


                <!-- Content -->
                
                
                
                
                

                @RenderBody()
                <!--End  Content -->
            </div>
        </div>
        <!--end-->
    </div>
    <!--footer-->
    <div id="footer">
        <div class="container clearfix">
            <div class="top_footer">
                <ul>
                    <li><a href="#">Nhà bán</a></li>
                    <li><a href="#">Đất nền</a></li>
                    <li><a href="#">Căn hộ</a></li>
                    <li><a href="#">Nhà cho thuê</a></li>
                    <li><a href="#">Quy định</a></li>
                    <li><a href="#">Điều khoản thỏa thuận</a></li>
                </ul>
            </div>
            <div class="main_footer">
                <div class="grid_4 grid_4_1">
                    <h1>NHABAN.NET.VN</h1>
                    <p>Đăng tin <strong>MIỄN PHÍ</strong> - Mua bán <strong>TỨC THÌ</strong></p>
                    <p>Website Đăng tin bất động sản thế hệ mới dành cho cá nhân và Doanh nghiệp mua bán thuê nhà đất online.</p>
                </div>
                <div class="grid_3 grid_3_1">
                    <h1>QUY ĐỊNH/ĐĂNG TIN</h1>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-caret-right"></i>Quy chế trên Nhaban.net.vn</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-caret-right"></i>Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-caret-right"></i>Giải quyết tranh chấp</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-caret-right"></i>Qui định đăng tin</a>
                        </li>
                    </ul>
                </div>
                <div class="grid_3 grid_3_1">
                    <h1>SẢN PHẨM / DỊCH VỤ</h1>
                    <ul>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Đăng tin miễn phí</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Bán nhà</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Căn hộ bán</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Đất nền bán</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Cho thuê nhà đất</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Định giá nhà đất</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Ký gởi nhà đất</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Vay Thế Chấp</a></li>
                    </ul>
                </div>
                <div class="grid_3 grid_3_1 omega">
                    <h1>LIÊN HỆ QUẢNG CÁO</h1>
                    <ul>
                        <li><a href="tel:0901338589"><i class="fa fa-phone"></i>(0901)-338-589 Mr.Chỉnh</a></li>
                        <li><a href="mailto:admin@nhaban.net.vn"><i class="fa fa-envelope"></i>admin@nhaban.net.vn</a></li>
                        <li><a href="#"><i class="fa fa-table"></i>Bảng giá banner Quảng Cáo</a></li>
                        <li><a href="#"><i class="fa fa-table"></i>Bảng giá tin đăng</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Căn Hộ Vincity</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Saigon Peninsula</a></li>
                    </ul>
                </div>
            </div>
            <div class="sub_footer">
                <i>
                    <b>
                        <div class="note">
                            <a href="#" target="_blank">
                                <img src="~/Template/images/dangkybo.png" alt="#" border="0"></a>
                        </div>
                        Website được sở hữu và quản lý bởi: 
                    </b>
                </i>
                <br>
                <b>CÔNG TY CỔ PHẦN ĐẦU TƯ KINH DOANH DỊCH VỤ 589</b><br>
                <b>Địa chỉ:</b> Số 50 Đường số 1, Khu dân cư 6B Intresco, ấp 5, Xã Bình Hưng, huyện Bình Chánh; TP.Hồ Chí Minh<br>
                <b>Giấy phép đăng ký kinh doanh số: </b>0313023573 do Sở Kế Hoạch &amp; Đầu Tư TP Hồ Chí Minh cấp ngày 22/11/2014<br>
                <b>Điện thoại:</b> 0901338589 - Mr.Chỉnh &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Email:</b> admin@nhaban.net.vn</td>
            </div>
            <div class="footer_bottom">
                <div>
                    <a href="#">Email: admin@nhaban.net.vn</a>
                    | <a href="#">Skype: cskh.nhaban</a>
                    | <a href="tel:0901338589">Admin Web: 0901-338-589</a>
                </div>
                <div>Địa chỉ VPĐD: Số 13A - Hồ Hảo Hớn - P.Cô Giang - Quận 1.</div>
            </div>
        </div>
    </div>
    <div class="soc_icons mg20 fixed">
        <div class="container clearfix">
            <div class="register_footer">
                <a href="@Url.Action("AdvertCompany","Adverts")" ><i class="fa fa-pencil-square-o"></i>
                    Đăng tuyển dụng</a>

                <a href="@Url.Action("RegisterPersonal","Register")" target="_blank"><i class="fa fa-pencil-square-o"></i>
                    Đăng tìm việc</a>
            </div>
        </div>
    </div>
    <script src="~/Template/js/pushy.js"></script>
   
    <script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();
    });
    var optionSideRight = {
        button: "side-right-pushy-button",
        container: "container",
        containerPush: false,
        menuPosition: "right",
        menuOpen: false,
        overlayShow: true
    };

    $("#sideRightPushy").Pushy(optionSideRight);
    </script>
</body>
</html>

