@using System.Configuration
@using WebBDS_Project.Models
@{
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1() ;

    var IdAccount = Session["IdUser"] != null ? int.Parse(Session["IdUser"].ToString()) : 0;

    var tblEmployee = db.BDSPersonalInformations.Where(T => T.IdAccount == IdAccount).ToList().FirstOrDefault();
    var CountApply = db.BDSEmpers.Count(x => x.IdAccountEm == IdAccount);
    var tblAccount = db.BDSAccounts.FirstOrDefault(x => x.ID == IdAccount);
}


<div class="right_col">
    <h3>Trung tâm quản lý</h3>
    <div class="box_info">
        <div><strong>@tblEmployee.Name</strong></div>
        <div class="logo_image">
            @if (tblEmployee.UrlImage != null)
            {
                <img width="80" id="imgLogoCompany" src="@ConfigurationManager.AppSettings["UrlImage"]@tblEmployee.UrlImage.ToString().Split('_')[0]/@tblEmployee.UrlImage" />
            }
            else
            {
                <img width="80" id="imgLogoCompany" src="~/Template/images/avatar-default.png" />
            }



        </div>

        <p>
            <em>Mã Khách Hàng</em>: <span class="color3"><strong>KH@(tblEmployee.ID.ToString("000000"))</strong></span>
            <br>
            -  Số tiền TK: <span class="color4">@(tblAccount != null ? tblAccount.Money : 0)</span> VNĐ
            <br>
            -  Điểm tích luỹ: <span class="color4">@(tblAccount != null ? tblAccount.Point : 0)</span> Điểm
            <br>
            -  Bạn có thể xem : <span class="color4">@CountApply</span> Hồ sơ

        </p>


        <p>

            <a class="grid_6" href="@Url.Action("Payment","Management")">Nộp tiền</a>
            <a class="grid_6 omega blue" href="">Mua điểm</a>
        </p>
        <ul>
            <li><a href=""><i class="fa fa-search" aria-hidden="true"></i>Tìm hồ sơ ứng viên</a></li>
            <li><a href="@Url.Action("ManagementAcountEmployee", "Management")"><i class="fa fa-user" aria-hidden="true"></i>Taì khoản</a></li>
            <li><a href="@Url.Action("AdvertCompany", "Adverts")"><i class="fa fa-pencil" aria-hidden="true"></i>Đăng tin tuyển dụng</a></li>
            <li><a href="@Url.Action("ManagementCompany", "Management")"><i class="fa fa-edit" aria-hidden="true"></i>Quản lý tuyển dụng</a></li>
            <li><a href="@Url.Action("YourArchive", "Management")"><i class="fa fa-download" aria-hidden="true"></i>Hồ sơ đã lưu</a></li>
            <li><a href="@Url.Action("ApplyArchive", "Management")"><i class="fa fa-users" aria-hidden="true"></i>Ứng viên gửi hồ sơ</a></li>
            <li><a href="@Url.Action("ListNewOfUser", "Management")"><i class="fa fa-list-ol" aria-hidden="true"></i>Quản lý tin đăng</a></li>
            <li><a href="@Url.Action("History", "Register")"><i class="fa fa-download" aria-hidden="true"></i>Lịch sử giao dịch</a></li>
            <li style="margin-top: 20px;"><a href="@Url.Action("LogOut", "Login")"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a></li>
        </ul>
    </div>
</div>


