 @using WebBDS_Project.Models
@{
   
    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();
  
}
 <div class="right_col">
                            <h3>Chia sẽ kinh nghiệm</h3>
                            <ul class="list_news">
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Lo ngại tình trạng mua bán tùm lum chỗ để ô tô trong chung cư</a></figcaption>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Loại bỏ các cao ốc ‘phá nát biển Nha Trang’</a></figcaption>
                                </li>
                                <li>
                                    <a href="@Url.Action("Detail","Default",new { id=1})">
                                        <img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                    <figcaption><a href="@Url.Action("Detail","Default",new { id=1})">Tiền đổ vào bất động sản chưa bao giờ giảm</a></figcaption>
                                </li>
                            </ul>
                        </div>