@using WebBDS_Project.Models
@{
    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();

    var states = (from a in db.states join b in db.stateTexts on a.state_id equals b.id where b.language_id == "vi" && a.Status == 1 select new { Id = a.state_id, Name = b.text }).ToList();
}
<ul class="idTabs">
    <li>
        <a href="#tab1">
            <img src="~/Template/images/icon_1.png" alt="icon">
            <figcaption>Dành cho người tìm việc</figcaption>
        </a>
    </li>
    <li>
        <a href="#tab2">
            <img src="~/Template/images/icon_2.png" alt="icon">
            <figcaption>Dành cho nhà tuyển dụng</figcaption>
        </a>
    </li>
</ul>
<div class="content_tab">
    <div id="tab1">
        <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản</h4>
        <div class="box_select">
            <fieldset>
                <div class="grid_3">
                    <select class="dropdown" tabindex="7">
                        <option value="">Chọn tỉnh thành</option>
                        @{
                            foreach (var item in states)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }


                    </select>
                </div>
                <div class="grid_3">
                    <select class="dropdown" tabindex="7">
                        <option value="">Chọn ngành nghề</option>
                        @{
                            foreach (var item in db.bdscareers.Where(T => T.Active == 1).ToList())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="grid_3">
                    <select class="dropdown" tabindex="7">
                        <option value="">Chọn mức lương</option>
                        @{
                            foreach (var item in db.bdssalaries.Where(T => T.Active == 1).ToList())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="grid_3 omega">
                    <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="tab2">
        <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản abc</h4>
        <div class="box_select">
            <fieldset>
                <div class="grid_3">
                    <select class="dropdown" tabindex="7">
                        <option value="">Chọn tỉnh thành</option>
                        @{
                            foreach (var item in states)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="grid_3">
                    <select class="dropdown" tabindex="7">
                        <option value="">Chọn ngành nghề</option>
                        @{
                            foreach (var item in db.bdscareers.Where(T => T.Active == 1).ToList())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="grid_3">
                    <select class="dropdown" tabindex="7">
                        <option value="">Chọn mức lương</option>
                        @{
                            foreach (var item in db.bdssalaries.Where(T => T.Active == 1).ToList())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="grid_3 omega">
                    <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>