@using WebBDS_Project.Models
@{
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();

    var States = (from a in db.States join b in db.StateTexts on a.state_id equals b.id
                  where b.language_id == "vi" && a.Status == 1 && a.state_id != 59 && a.state_id != 28
                  select new { Id = a.state_id, Name = b.text }).ToList();
  
    States.Insert(0, new  { Id = 59, Name = "TP.Hồ Chí Minh" });
    States.Insert(1, new  { Id = 28, Name = "TP.Hà Nội" });

}



<ul class="idTabs">
    <li>
        <a href="#tab1" class="btnTab1">
            @*<img src="~/Template/images/icon_1.png" alt="icon">*@
            <i class="fa fa-address-card" style="float:left;font-size: 20px;" aria-hidden="true"></i>
            <figcaption>Dành cho người tìm việc</figcaption>
        </a>
    </li>
    <li>
        <a href="#tab2" class="btnTab2">
            @*<img src="~/Template/images/icon_2.png" alt="icon">*@
            <i class="fa fa-search" aria-hidden="true" style="float:left;font-size: 20px;"></i>
            <figcaption>Dành cho nhà tuyển dụng</figcaption>
        </a>
    </li>
</ul>
<script>
    function searchEmp() {
        var url = '@Url.Action("Search","Default")';

        var params = '?page=1';
        $($('#searchEmp').serializeArray()).each(function (i, item) {
            if (item.value!="") {
                params += "&" + item.name + "=" + item.value;
            }
          

        });
        url += params;
        location.href = url;
    }
</script>
<div class="content_tab">
    <div id="tab1">
        <form id="searchEmp">
            <h4>Tìm tin đăng của nhà tuyển dụng</h4>
            <div class="box_select">

                <fieldset>
                    <div class="grid_3">
                        <select class="select2" style="width: 100%;height: 100%" name="filterWorkingPlace" tabindex="7">
                            <option value="">Chọn tỉnh thành</option>
                            @{
                                foreach (var item in States)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }


                        </select>
                    </div>
                    <div class="grid_3">
                        <select class="dropdown" name="filterCareer" tabindex="7">
                            <option value="">Chọn ngành nghề</option>
                            @{
                                foreach (var item in db.BDSCareers.Where(T => T.Active == 1).ToList())
                                {
                                    <option value="@item.KeyUrl">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="grid_3">
                        <select class="dropdown" name="filterSalary" tabindex="7">
                            <option value="">Chọn mức lương</option>
                            @{
                                foreach (var item in db.BDSSalaries.Where(T => T.Active == 1).ToList())
                                {
                                    <option value="@item.KeyUrl">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="grid_3 omega">
                        <button class="btn_search" type="button" onclick="searchEmp(); return false;"><i class="fa fa-search"></i>TÌM KIẾM</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div id="tab2">
        <form id="searchPer">
            <h4>Tìm tin đăng của người tìm việc</h4>
            <div class="box_select">
                <fieldset>
                    <div class="grid_3">
                        <select class="dropdown" name="filterWorkingPlace" tabindex="7">
                            <option value="">Chọn tỉnh thành</option>
                            @{
                                foreach (var item in States)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="grid_3">
                        <select class="dropdown" name="filterCareer" tabindex="7">
                            <option value="">Chọn ngành nghề</option>
                            @{
                                foreach (var item in db.BDSCareers.Where(T => T.Active == 1).ToList())
                                {
                                    <option value="@item.KeyUrl">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="grid_3">
                        <select class="dropdown" name="filterSalary" tabindex="7">
                            <option value="">Chọn mức lương</option>
                            @{
                                foreach (var item in db.BDSSalaries.Where(T => T.Active == 1).ToList())
                                {
                                    <option value="@item.KeyUrl">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="grid_3 omega">
                        <button class="btn_search" type="button" onclick="searchPer(); return false;"><i class="fa fa-search"></i>TÌM KIẾM</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
<script>
    function searchPer() {
        var url = '@Url.Action("SearchForEmployee","Default")';

        var params = '?page=1';
        $($('#searchPer').serializeArray()).each(function (i, item) {
            if (item.value!="") {
                params += "&" + item.name + "=" + item.value;
            }


        });
        url += params;
        location.href = url;
    }
</script>