@using Davisoft_BDSProject.Domain.Entities
@using Davisoft_BDSProject.Web.Helpers
@using Davisoft_BDSProject.Web.Models
@using Resources
@model Davisoft_BDSProject.Domain.Entities.BDSTimeWork
<div class="form-group">
    <label class="control-label col-md-3">@Utilities.Resource("BDSTimeWork_Name", "Name") <span class="required">*</span></label>
    <div class="col-md-8">
        @Html.Bootstrap().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "form-control" }).Readonly(true).ShowValidationMessage(true)

    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">@Utilities.Resource("BDSTimeWork_TimeWork", "TimeWork") <span class="required">*</span></label>
    <div class="col-md-2">
        @Html.Bootstrap().DropDownListFor(m => m.Type, new List<SelectListItem>
                                    {
                                        new SelectListItem{Text="Less Than",Value="1"},
                                        new SelectListItem{Text="Between",Value="2"},
                                        new SelectListItem{Text="Equals",Value="3",Selected = true},
                                        new SelectListItem{Text="Greater Than",Value="4" },
                                        new SelectListItem{Text="Custom",Value="5"}

                                    }).OptionLabel("Please select option").Class("form-control").ShowValidationMessage(true)
    </div>
    <div class="col-md-2 from" @(Model.Type != 5 ? "" : "style=display:none")>
        @Html.Bootstrap().TextBoxFor(m => m.FromTime).HtmlAttributes(new { @class = "form-control" }).ShowValidationMessage(true)
    </div>
    <div class="col-md-2 to" @(Model.Type == 2 ? "" : "style=display:none")>
        @Html.Bootstrap().TextBoxFor(m => m.ToTime).HtmlAttributes(new { @class = "form-control" }).ShowValidationMessage(true)
    </div>
    <div class="col-md-2 perfix" @(Model.Type != 5 ? "" : "style=display:none")>
        @Html.Bootstrap().DropDownListFor(m => m.Perfix, new List<SelectListItem>
                                    {
                                        new SelectListItem{Text="Năm",Value="1",Selected = true},
                                        new SelectListItem{Text="Tháng",Value="2"}

                                    }).OptionLabel("Please select option").Class("form-control").ShowValidationMessage(true)
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">@Utilities.Resource("BDSTimeWork_Order", "Order")</label>
    <div class="col-md-8">
        @Html.Bootstrap().TextBoxFor(m => m.Index).HtmlAttributes(new { @class = "form-control" }).ShowValidationMessage(true)
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">@Utilities.Resource("BDSTimeWork_Description", "Description")</label>
    <div class="col-md-8">
        @Html.Bootstrap().TextAreaFor(m => m.Description).HtmlAttributes(new { @class = "form-control" }).ShowValidationMessage(true)
    </div>
</div>
@Html.HiddenFor(m => m.Active)
@Html.HiddenFor(m => m.ModifiedDate)
@Html.HiddenFor(m => m.CreateDate)
@Html.HiddenFor(m => m.CreateUser)
@Html.HiddenFor(m => m.ModifiedUser)
@Html.Script(
    @<text>
        <script>
            $(document).ready(function () {
               /* var type = $('#Type').val();
                $('.perfix').show();
                $('.from').show();
                if (type == 1) {
                    $('.to').hide();
                }
                if (type == 2) {
                    $('.to').show();
                }
                if (type == 3) {
                    $('.to').hide();
                }
                if (type == 4) {
                    $('.to').hide();
                }
                if (type == 5) {
                    $('.to').hide();
                    $('.from').hide();
                    $('.perfix').hide();
                }*/
            });
            $(document).on('change', '#Type', function () {
                $('.perfix').show();
                $('.from').show();
                if (this.value == 1) {
                    $('.to').hide();
                }
                if (this.value == 2) {
                    $('.to').show();

                }
                if (this.value == 3) {
                    $('.to').hide();
                }
                if (this.value == 4) {
                    $('.to').hide();
                }
                if (this.value == 5) {
                    $('.to').hide();
                    $('.from').hide();
                    $('.perfix').hide();
                  
                }
            });
            var format = "";
            $(document).on('change', '.form-control', function () {
                if ($('#Type').val() == 1) {
                    format = "Dưới A P";
                }
                if ($('#Type').val() == 2) {
                    format = "Từ A đến B P";

                }
                if ($('#Type').val() == 3) {
                    format = "A P";
                }
                if ($('#Type').val() == 4) {
                    format = "Trên A P";
                }
                if ($('#Type').val() == 5) {
                    format = "Chưa có kinh nghiệm";
                }
                format = format.replace('A', $('#FromTime').val()).replace('P', $('#Perfix').val() == 1 ? "Năm" : "Tháng");
                format = format.replace('B', $('#ToTime').val());
                $('#Name').val(format);
            });
        </script>
    </text>)