@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();
    var InforPer = db.BDSPersonalInformations.FirstOrDefault(x => x.ID == Model.tblBDSPerNew.PerId);

}

@using System.Configuration
@using System.Web.UI.WebControls
@using WebBDS_Project.Models
@model WebBDS_Project.Models.RegisterInformationModel




<style>
    hr {
        margin-bottom: 10px;
    }

    .space {
        margin-bottom: 6px;
    }

    .space_0_ {
        display: none;
    }

    .thumb {
        max-height: 80px;
    }

    .viewFile {
        padding-top: 6px;
    }
</style>

<style>
    .group_work h4 {
        margin: 0px 0 0px;
    }

    .cus-color-a {
        cursor: pointer;
    }

        .cus-color-a:hover {
            opacity: 0.8;
            color: #008475;
        }

    input[readonly] {
        background: #EBEBE4;
    }
</style>

<div class="container">
    <div class="grid_9 main_left">

        <div class="grid_12 title_detail">
            <div class="logo_detail">

                @if (InforPer.UrlImage != null)
                {
                    <img width="80" id="imgLogoCompany" src="@ConfigurationManager.AppSettings["UrlImage"]@InforPer.UrlImage.ToString().Split('_')[0]/@InforPer.UrlImage" />
                }
                else
                {
                    <img width="80" id="imgLogoCompany" src="~/Template/images/avatar-default.png" />
                }
            </div>
            <div class="name_detail">
                <h2>@InforPer.Name</h2>

                <p><strong>@Model.tblBDSPerNew.TitleProfile</strong></p>

                <p><i class="fa fa-map-marker"></i>Nơi sinh:@(Model.ListGeoModel.FirstOrDefault(x => x.CityId == InforPer.Province).CityName) </p>
                <p><i class="fa fa-user"></i>Ngày sinh:@InforPer.Birthday.ToShortDateString() </p>
                <p><i class="fa fa-usd"></i>Số điện thoại: @InforPer.Phone </p>
                <p><i class="fa fa-usd"></i>Email:  @InforPer.Phone</p>
            </div>

        </div>
        <div class="row">

            <div class="grid_12 table_info">
                <table class="table-responsive">
                    <tbody>
                        <tr>
                            <td>
                                <label>ĐC thường trú: </label>
                                @InforPer.PermanentAddress


                            </td>
                            <td>
                                <label>ĐC tạm trú: </label>
                                @InforPer.TemporaryAddress
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label>Công viêc: </label>
                                @if (Model.ListBDSCareer.FirstOrDefault(x => x.ID == Model.tblBDSPerNew.CareerProfile).ID == 0)
                            {

                            }
                            else
                            {
                            @Model.ListBDSCareer.FirstOrDefault(x => x.ID == Model.tblBDSPerNew.CareerProfile).Name;
                            }
                            </td>
                            <td>
                                <label>Cấp bậc: </label>
                                @if (Model.tblBDSPerNew.LevelProfile == 0)
                                {

                                }
                                else
                                {
                                    if (Model.tblBDSPerNew.LevelProfile == 1)
                                    {
                            @("Nhân viên")
                                    }
                                    if (Model.tblBDSPerNew.LevelProfile == 2)
                                    {
                            @("Trưởng Nhóm")
                                    }
                                    if (Model.tblBDSPerNew.LevelProfile == 3)
                                    {
                            @("Trưởng Phòng")
                                    }
                                    if (Model.tblBDSPerNew.LevelProfile == 4)
                                    {
                            @("Giám đốc")
                                    }
                                }
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label>Mức lương: </label>
                              @{
                                  var salary = Model.ListSalary;
                              }
                                  @if (salary.Any(x => x.Active == 1 && x.ID == Model.tblBDSPerNew.SalaryProfile))
                                  {
                                     @(salary.FirstOrDefault().Name)
                                  }
                                  else
                                  {
                                    @("0")
                                  }

                            </td>
                            <td>
                                <label>Trình độ: </label>
                               @{
                                   var education = Model.ListDucation;
                                }

                                @(education.Any(x => x.Active == 1 && x.ID == Model.tblBDSPerNew.EducationProfile) ? education.FirstOrDefault().Name : "0")




                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label>Kinh nghiệm: </label>
                                @{
                                    var Timework = Model.ListTimework;
                                }

                                @(Timework.Any(x => x.Active == 1 && x.ID == Model.tblBDSPerNew.ExperienceProfile) ? Timework.FirstOrDefault().Name : "Chưa có kinh nghiệm")



                            </td>
                            <td>
                                <label>Ngoại ngữ: </label>
                                @{
                                    var Language = Model.ListBDSLanguage;
                                }

                                @(Language.Any(x => x.Active == 1 && x.ID == Model.tblBDSPerNew.LanguageProfile) ? Language.FirstOrDefault().Name : "Không")


                            </td>

                        </tr>

                    </tbody>
                </table>
                <h3>Mục tiêu nghề nghiệp</h3>
                <p style="white-space: pre-line;">@Model.tblBDSPerNew.CareerGoalProfile</p>
                <h3>Trình độ, kỹ năng:</h3>
                @for (int i = 0; i < Model.ListPerNewDegrees.Count; i++)
                {
                    <table class="table-responsive">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Trình độ: </label>
                                    @if (Model.ListPerNewDegrees[i].Rating == null)
                {
                                        @("")
                                    }

                                    @if (Model.ListPerNewDegrees[i].Rating == 2)
                {
                                        @("Level 2")
                                    }
                                    @if (Model.ListPerNewDegrees[i].Rating == 3)
                {
                                        @("Level 3")
                                    }
                                    @if (Model.ListPerNewDegrees[i].Rating == 4)
                {
                                        @("Level 4")
                                    }
                                    @if (Model.ListPerNewDegrees[i].Rating == 5)
                {
                                        @("Level 5")
                                    }
                                    @if (Model.ListPerNewDegrees[i].Rating == 6)
                {
                                        @("Level 6")
                                    }


                                </td>
                                <td>
                                    <label>Thời gian ĐT: </label>
                                    @(Model.ListPerNewDegrees[i].FromYear + "-" + Model.ListPerNewDegrees[i].FromYear)
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>Đơn vị đào tạo: </label>
                                    @Model.ListPerNewDegrees[i].Name
                                </td>
                                <td>
                                    <label>Chuyên Ngành: </label>
                                    @Model.ListPerNewDegrees[i].Career
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>Loại bằng: </label>
                                    @if (Model.ListPerNewDegrees[i].Rating == null)
                {
                                        @("")
                                    }
                                    @if (Model.ListPerNewDegrees[i].Rating == 1)
                {
                                        @("Yếu")
                                    }
                                    @if (Model.ListPerNewDegrees[i].Rating == 2)
                {
                                        @("Trung bình")
                                    }
                                    @if (Model.ListPerNewDegrees[i].Rating == 3)
                {
                                        @("Khá")
                                    }
                                    @if (Model.ListPerNewDegrees[i].Rating == 4)
                {
                                        @("Giỏi")
                                    }
                                </td>
                                <td>
                                    <label>Ảnh bằng cấp: </label>
                                    @if (Model.ListPerNewDegrees[i].ImageUrl != null)
                {
                                        <img width="80" id="imgLogoCompany" src="@ConfigurationManager.AppSettings["UrlImage"]@Model.ListPerNewDegrees[i].ImageUrl.ToString().Split('_')[0]/@Model.ListPerNewDegrees[i].ImageUrl" />
                                    }
                                    else
                                    {
                                        <img width="80" id="imgLogoCompany" src="~/Template/images/avatar-default.png" />
                                    }

                                </td>

                            </tr>


                        </tbody>
                    </table>
                }


                <h3>Tin học văn phòng:</h3>

                <table class="table-responsive">
                    <tbody>
                        <tr>
                            <td>
                                <label>MS Word: </label>
                                @if (Model.tblBDSPerNew.MSWordOffice == 1)
                                    {
                                    @("Yếu")
                                    }
                                @if (Model.tblBDSPerNew.MSWordOffice == 2)
                                    {
                                    @("Trung bình")
                                    }
                                @if (Model.tblBDSPerNew.MSWordOffice == 3)
                                    {
                                    @("Khá")
                                    }
                                @if (Model.tblBDSPerNew.MSWordOffice == 4)
                                    {
                                    @("Tốt")
                                    }
                                @if (Model.tblBDSPerNew.MSWordOffice == 5)
                                    {
                                    @("Giỏi")
                                    }

                            </td>
                            <td>
                                <label>MS Excel: </label>
                                @if (Model.tblBDSPerNew.MSExcelOffice == 1)
                                    {
                                    @("Yếu")
                                    }
                                @if (Model.tblBDSPerNew.MSExcelOffice == 2)
                                    {
                                    @("Trung bình")
                                    }
                                @if (Model.tblBDSPerNew.MSExcelOffice == 3)
                                    {
                                    @("Khá")
                                    }
                                @if (Model.tblBDSPerNew.MSExcelOffice == 4)
                                    {
                                    @("Tốt")
                                    }
                                @if (Model.tblBDSPerNew.MSExcelOffice == 5)
                                    {
                                    @("Giỏi")
                                    }

                            </td>

                        </tr>
                        <tr>

                            <td>
                                <label>MS Power point: </label>
                                @if (Model.tblBDSPerNew.MSPowerPointOffice == 1)
                                    {
                                    @("Yếu")
                                    }
                                @if (Model.tblBDSPerNew.MSPowerPointOffice == 2)
                                    {
                                    @("Trung bình")
                                    }
                                @if (Model.tblBDSPerNew.MSPowerPointOffice == 3)
                                    {
                                    @("Khá")
                                    }
                                @if (Model.tblBDSPerNew.MSPowerPointOffice == 4)
                                    {
                                    @("Tốt")
                                    }
                                @if (Model.tblBDSPerNew.MSPowerPointOffice == 5)
                                    {
                                    @("Giỏi")
                                    }


                            </td>
                            <td>
                                <label>MS Outlook: </label>
                                @if (Model.tblBDSPerNew.OutlookOffice == 1)
                                    {
                                    @("Yếu")
                                    }
                                @if (Model.tblBDSPerNew.OutlookOffice == 2)
                                    {
                                    @("Trung bình")
                                    }
                                @if (Model.tblBDSPerNew.OutlookOffice == 3)
                                    {
                                    @("Khá")
                                    }
                                @if (Model.tblBDSPerNew.OutlookOffice == 4)
                                    {
                                    @("Tốt")
                                    }
                                @if (Model.tblBDSPerNew.OutlookOffice == 5)
                                    {
                                    @("Giỏi")
                                    }


                            </td>
                        </tr>


                    </tbody>
                </table>
                <h3>Phần mềm khác:</h3>
                @Model.tblBDSPerNew.OrderOffice
                <h3>Kỷ năng khác:</h3>
                @Model.tblBDSPerNew.Skills
                <h3>Sở thích:</h3>
                @Model.tblBDSPerNew.Hobby
                <h3>Kinh nghiệm làm  việc:</h3>
@for (int i = 0; i < Model.ListPerNewExperiences.Count; i++)
{
    <table class="table-responsive">
        <tbody>
            <tr>
                <td>
                    <label>Tên công ty: </label>
                    @Model.ListPerNewExperiences[i].Name


                </td>
                <td>
                    <label>Cấp bậc: </label>
                    @if (Model.tblBDSPerNew.LevelProfile == 0)
                    {
                       
                    }
                    else
                    {
                        if (Model.tblBDSPerNew.LevelProfile == 1)
                        {
                            @("Nhân viên")
                        }
                        if (Model.tblBDSPerNew.LevelProfile == 2)
                        {
                            @("Trưởng Nhóm")
                        }
                        if (Model.tblBDSPerNew.LevelProfile == 3)
                        {
                            @("Trưởng Phòng")
                        }
                        if (Model.tblBDSPerNew.LevelProfile == 4)
                        {
                            @("Giám đốc")
                        }
                    } </td>

            </tr>
            <tr>
                <td>
                    <label>Mức lương: </label>
                    @Model.ListPerNewExperiences[i].Salary


                </td>
                <td>
                    <label>Thời gian làm việc: </label>
                    @(Model.ListPerNewExperiences[i].FromDate.Value.Month + "/" + Model.ListPerNewExperiences[i].FromDate.Value.Year + " - " + Model.ListPerNewExperiences[i].ToDate.Value.Month + "/" + Model.ListPerNewExperiences[i].ToDate.Value.Year)


                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <label>Mô tả công việc và thành tích đạt được: </label>
                    @Model.ListPerNewExperiences[i].Decription


                </td>
                

            </tr>


        </tbody>
    </table>
}
            <h3>Người tham khảo</h3>
               @for (int i = 0; i < Model.ListPerNewReferences.Count; i++)
               {
                    <table class="table-responsive">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Tên công ty: </label>
                                    @Model.ListPerNewReferences[i].NameCompany


                                </td>
                                <td>
                                    <label>Người tham khảo: </label>
                                    @Model.ListPerNewReferences[i].Name


                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>Số điện thoại: </label>
                                    @Model.ListPerNewReferences[i].Phone




                                </td>
                                <td>
                                    

                                </td>

                            </tr>
                           


                        </tbody>
                    </table>
                }





            </div>
        </div>





        <div class="row">


        </div>
    </div>
    <div class="grid_3 omega main_right" id="sideRightPushy">
        <div class="banner_right">

            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight1"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else if (item.Type == 3)
                {
                    @Html.Raw(item.Banner)
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight2"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" style="margin: 0" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else if (item.Type == 3)
                {
                    @Html.Raw(item.Banner)
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
        </div>
        @Html.Partial("_partialCareers")
        @Html.Partial("_partialCompany")
        @Html.Partial("_partialShareExpirence")
        @Html.Partial("_partialComment")
        @Html.Partial("_partialNews")
        <div class="banner_right">
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight1"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else if (item.Type == 3)
                {
                    @Html.Raw(item.Banner)
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
            @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight2"))
            {
                if (item.Type == 1)
                {
                    <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                }
                else if (item.Type == 3)
                {
                    @Html.Raw(item.Banner)
                }
                else
                {
                    <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                }


            }
        </div>
    </div>

</div>
