@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();
}

@using System.Configuration
@using System.Web.UI.WebControls
@using WebBDS_Project.Models
@model WebBDS_Project.Models.RegisterInformationModel
@{



}



    <input type="hidden" name="type" value="0" id="type" />
    <div class="container">
        <div class="grid_9 main_left">
            <div class="group_work">
                <div class="header_text">
                    <h3><span><i class="fa fa-list-ul"></i>Tạo hồ sơ tìm việc</span></h3>
                </div>
                <span class="TitleAdvertComany">Tải hồ sơ có sẵn: </span>Nếu bạn có sẵn file mềm hồ sơ xin việc, bản CV tìm việc hãy tải lên và nộp cho nhà tuyển dụng.
                <div class="form-horizontal cus-form-horizonta fromValidate">
                    <div class="row fromValidate">
                        @Html.HiddenFor(m => m.tblBDSPerNew.ID, new { @class = "ID" })
                        @Html.HiddenFor(m => m.tblBDSPerNew.FileUrl)
                        <label>File CV:</label>
                        

                    </div>
                   
                </div>
                <h4>Thông tin hồ sơ cá nhân</h4>

                <div class="form-horizontal cus-form-horizonta fromValidate">
                   
                </div>
                <h4>Thông tin chung của hồ sơ</h4>

                <div class="form-horizontal cus-form-horizonta fromValidate">
                    <div class="row">
                        <label>Tiêu đề hồ sơ:<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.LabelFor(m => m.tblBDSPerNew.TitleProfile, new { @class = "input3" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Ngành nghề :<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.DropDownListFor(m => m.tblBDSPerNew.CareerProfile, new SelectList(Model.ListBDSCareer, "Id", "Name", "Chọn ngành nghề"), new { @class = "select2" })


                        </div>
                        <label class="child">Khu vực làm việc:<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.DropDownListFor(m => m.tblBDSPerNew.ProvinceProfile, new SelectList(Model.ListGeoModel, "CityId", "CityName", "Chọn khu vực làm việc"), new { @class = "select2" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Mức lương:<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.DropDownListFor(m => m.tblBDSPerNew.SalaryProfile, new SelectList(Model.ListSalary, "Id", "Name", "Chọn mức lương"), new { @class = "select2" })


                        </div>
                        <label class="child">Trình độ:<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.DropDownListFor(m => m.tblBDSPerNew.EducationProfile, new SelectList(Model.ListDucation, "Id", "Name", "Chọn trình độ"), new { @class = "select2" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Kinh nghiệm:<span class="required">*</span></label>
                        <div class="row-right">
                            @Html.DropDownListFor(m => m.tblBDSPerNew.ExperienceProfile, new SelectList(Model.ListTimework, "Id", "Name", "Chọn kinh nghiệm"), new { @class = "dropdown" })

                        </div>
                        <label style="width: 111px;" class="child">Ngoại ngữ:<span class="required">*</span></label>
                        <div class="row-right">


                            @Html.DropDownListFor(m => m.tblBDSPerNew.LanguageProfile, new SelectList(Model.ListBDSLanguage, "Id", "Name", "Chọn ngoại ngữ"), new { @class = "dropdown" })

                        </div>
                    </div>
                    <div class="row">
                        <label>Cấp bậc:<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.DropDownListFor(m => m.tblBDSPerNew.LevelProfile,

         new List<SelectListItem>
                        {
                                new SelectListItem{Text = "Không yêu cầu",Value = "0",Selected = true},
                            new SelectListItem{Text = "Nhân viên",Value = "1",Selected = false},
                            new SelectListItem{Text = "Trưởng Nhóm",Value = "2",Selected = false},
                            new SelectListItem{Text = "Trưởng Phòng",Value = "3",Selected = false},
                             new SelectListItem{Text = "Giám đốc",Value = "4",Selected = false},

                        }

         , new { @class = "dropdown" })


                        </div>
                    </div>
                    <div class="row">
                        <label>Mục tiêu nghề nghiệp:<span class="required">*</span></label>
                        <div class="row-right">

                            @Html.LabelFor(m => m.tblBDSPerNew.CareerGoalProfile, new { @class = "input3",@tyle="white-pace:pre-line;" })


                        </div>
                    </div>
                   
                </div>

                <span class="TitleAdvertComany">Trình độ, kỹ năng: </span>Liệt kê đầy đủ các thông tin bằng cấp/chứng chỉ mà bạn có (kể cả bằng cấp/chứng chỉ ngắ hạng).
                <div class="form-horizontal cus-form-horizonta fromValidate">
                   
                 
                </div>

                <span class="TitleAdvertComany">Kinh nghiệm làm  việc: </span>Hãy liệt kê những công việc,nhiệm vụ mà bạn đã từng đảm nhận và thực hiện.Chú ý liệt kinh nghiệm làm việc từ thời gian gần đây nhất trở về trước.
                <div class="form-horizontal cus-form-horizonta fromValidate">

                    <div id="loadExperiences">
                        @Html.Partial("Experiences", Model)
                    </div>
                  
                    <div class="row">
                        <label style="opacity: 0">aa</label>
                        <div class="row-right">
                            <a class="cus-color-a" onclick="addNewExperience()"> <i class="fa fa-plus-circle fa-2x" aria-hidden="true" style="position: relative; top: 4px;"></i>Thêm kinh nghiệm làm việc</a>
                        </div>

                    </div>

                  


                </div>

                <span class="TitleAdvertComany">Người tham khảo : </span>Không bất buộc.

                <div class="form-horizontal cus-form-horizonta fromValidate">

                   
                </div>
              
            </div>

        </div>
        <div class="grid_3 omega main_right" id="sideRightPushy">
            <div class="banner_right">

                @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight1"))
                {
                    if (item.Type == 1)
                    {
                        <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                    }
                    else
                    {
                        <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                    }


                }
                @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentTopRight2"))
                {
                    if (item.Type == 1)
                    {
                        <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" style="margin: 0" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                    }
                    else
                    {
                        <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                    }


                }
            </div>
            @Html.Partial("_partialCareers")
            @Html.Partial("_partialCompany")
            @Html.Partial("_partialShareExpirence")
            @Html.Partial("_partialComment")
            @Html.Partial("_partialNews")
            <div class="banner_right">
                @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight1"))
                {
                    if (item.Type == 1)
                    {
                        <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                    }
                    else
                    {
                        <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                    }


                }
                @foreach (var item in db.BDSBanners.Where(x => x.Position == "ContentBottomRight2"))
                {
                    if (item.Type == 1)
                    {
                        <img src="@ConfigurationManager.AppSettings["UrlImage"]@item.Banner.ToString().Split('_')[0]/@item.Banner" width="@item.BWidth" height="@item.BHeight" alt="@item.Name">
                    }
                    else
                    {
                        <iframe style="border:0!important;" src="@item.Banner" width="100%" height="@item.BHeight" scrolling="no"></iframe>
                    }


                }
            </div>
        </div>
    </div>

<style>
    hr {
        margin-bottom: 10px;
    }

    .space {
        margin-bottom: 6px;
    }

    .space_0_ {
        display: none;
    }

    .thumb {
        max-height: 80px;
    }

    .viewFile {
        padding-top: 6px;
    }
</style>

<style>
    .group_work h4 {
        margin: 0px 0 0px;
    }

    .cus-color-a {
        cursor: pointer;
    }

        .cus-color-a:hover {
            opacity: 0.8;
            color: #008475;
        }

    input[readonly] {
        background: #EBEBE4;
    }
</style>


