@using Davisoft_BDSProject.Web.Helpers
@using Resources
@model Davisoft_BDSProject.Domain.Entities.BDSEducation

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Success).Closeable()))
    {
        <text>@ViewBag.Message</text>
    }
}
@{
    ViewBag.Title = Utilities.Resource("BDSEducation_Edit", "Edit Education");
}
<section class="panel panel-default">
    <h3 class="tilte_l">
        @ViewBag.Title
    </h3>
    <div class="panel-body">
        <div class="form-horizontal">
            @using (Html.BeginForm())
            {
                @Html.Partial("_Input", Model)
                <div class="form-actions">
                    <div class="form-group">
                        <label class="col-sm-3"></label>
                        <label class="col-sm-9">
                            @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon(Icons.arrow_left)
                            @Html.Bootstrap().SubmitButton().Id("submitbutton").Text(Resource.Save).PrependIcon(Icons.ok, true).Style(ButtonStyle.Success)
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@Html.Script(
    @<script>
        $("#submitbutton").on('click', function (e) {
            e.preventDefault();
            bootbox.confirm("@Resource.ConfirmSave", function (isOK) {
                if (isOK) {
                    $('#submitbutton').parents("form").submit();
                }
            });
        });
    </script>)
